<window>
    <window-title>
        <div id="info">
               <label class="text-size-sm  font-weight-500">{{duty.get("authorityName")}}</label>
        </div>
    </window-title>
    <window-content class="background-color-3">
        <section class="border-bottom-radius">
            <div id="info" class="text-size-xs">
                <div>
                    <b><label>Organisation ID</label></b>: <value>{{duty.get("authorityId")}}</value>
                </div>
                <div>
                    <b><label>Duty Code</label></b>: <value>{{duty.get("dutyCode")}}</value>
                </div>
                <div>
                    <b><label>Duty Name</label></b>: <value>{{duty.get("dutyName")}}</value>
                </div>
                    
                    
            </div>
        </section>
    </window-content>
</window>