[scrollable] {
    &[resizable] > scroll-track {
      &.horizontal {
        right: 19px;
      }
  
      &.vertical {
        bottom: 19px;
      }
    }
  
    & > scroll-track {
      position: absolute;
      background-color: white;
  
      &.horizontal {
        padding: 6px 6px;
        display: none;
        bottom: 0;
        left: 0;
        right: 0;
  
        & > scroll-handler {
          width: 9px;
        }
      }
  
      &.vertical {
        right: 0;
        display: none;
        top: 0;
        bottom: 6px;
        padding: 4px 6px 4px 6px;
  
        & > scroll-handler {
          height: 9px;
        }
      }
  
      & > scroll-handler {
        min-width: 5px;
        min-height: 5px;
        border-radius: 40px;
        display: block;
        background-color: color(5);
      }
    }
  }
  
  [scrollable*="overflow"] {
    position: relative;
  }
  
  [scrollable*="overflow-x"] {
    padding-bottom: 17px;
    overflow-x: hidden;
  
    & > scroll-track.horizontal {
      display: block;
    }
  }
  
  [scrollable*="overflow-y"] {
    padding-right: 17px;
    overflow-y: hidden;
  
    & > scroll-track.vertical {
      display: block;
    }
  }
  
  [scrollable*="overflow-y overflow-x"] {
    & > scroll-track {
      &.horizontal {
          padding-right: 26px !important;
      }
    }
  }
  
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      [scrollable*="overflow"] {
        overflow: auto!important;
      }
  
    [scrollable*="overflow-x"] {
      padding-bottom: 6px;
  
      & > scroll-track.horizontal {
        display: none;
      }
    }
  
    [scrollable*="overflow-y"] {
      padding-right: 0;
  
      & > scroll-track.vertical {
        display: none;
      }
    }
  }