<div *ngIf="filterActive()" class="ui-shadow border-left-radius-outer" id="filter-out-msg">
	<span class="text-size-sm">
		Filter Out Activated
	</span>
</div>
<button id="filter-out" class="seg main round lg ui-shadow" ngClass="filterActive() ? 'primary-reverse':'primary'" (click)="filterOut()" title="Click to {{filterActive()?'deactivate':'activate'}} Filter Out">
	<icon svg-file="filter"></icon>
</button>
<button class="seg main round lg ui-shadow" (click)="optionListOpen = !optionListOpen">
	<icon svg-file="multiple-selection"></icon>
</button>
<ul class="seg" *ngIf="optionListOpen">
	<li *ngFor="let option of getShortcuts()">
		<button class="seg primary rounded flex-1" (click)="option.callback(getSelectedFeatures())" >
			{{option.label}}
		</button>
		<button class="seg primary rounded ellipsis-btn" *ngIf="option.ellipsisCallback" (click)="option.ellipsisCallback(getSelectedFeatures())">
			<icon svg-file="ellipsis-h"></icon>
		</button>
	</li>
	<li *ngIf="getSelectedFeatures().length && openFavourites">
		<button class="seg primary rounded flex-1" (click)="openFavourites()">
			Favourites
		</button>
	</li>

</ul>
