shortcuts{
	display: flex;
	#filter-out-msg{
	    padding-right: 26.5px;
    	margin-right: -16.5px;
    	display: flex;
	    align-items: center;
	    background-color: #fff;
	    padding: 0 10px;
	    min-width: 130px;
	}
	#filter-out{
		margin-right: 10px;
	}
}
#shortcuts {
	ul.seg > li {
	  border-bottom: none;
	  height: 28px;
		min-width: 100px;

	  .ellipsis-btn {
	    margin-left: 5px;
	  }
	}
}
