<section>
	<div class="row">
		<label class="text-size-sm">Coordinates Units</label>
		<combo [(model)]="coordinates.selected" value-as="format" label-as="label" [data]="coordinates.options"></combo>
	</div>	
	<div class="row">
		<label class="text-size-sm">Distance Units</label>
		<combo [(model)]="distance.selected" value-as="value" label-as="label" [data]="distance.options"></combo>
	</div>	
	<div class="row">
		<label class="text-size-sm">Area Units</label>
		<combo [(model)]="area.selected" value-as="value" label-as="label" [data]="area.options"></combo>
	</div>
	<div class="row" *ngIf="speed">
		<label class="text-size-sm">Speed Units</label>
		<combo [(model)]="speed.selected" value-as="format" label-as="label" [data]="speed.options"></combo>
	</div>
	<div class="row" *ngIf="time">
		<label class="text-size-sm">Time Units</label>
		<combo [(model)]="time.selected" value-as="format" label-as="label" [data]="time.options"></combo>
	</div>
	<div class="row">
		<label class="text-size-sm">Time format</label>
		<combo [(model)]="timeFormat.selected" [data]="timeFormat.options"></combo>
	</div>
	<div class="row" *ngIf="timeFormat.selected == 'UTC'">
		<label class="text-size-sm">Time zone</label>
		<combo [(model)]="timezone.selected" value-as="offset" label-as="label" [data]="timezone.options"></combo>
	</div>
	<div class="row">
		<label class="text-size-sm">Position timestamp format</label>
		<combo [(model)]="positionTimestampFormat.selected" [data]="positionTimestampFormat.options"></combo>
	</div>
</section>