<window id="app-report" class="ui-shadow {{scope.getReportScope().class}}" focusable draggable ng-init="scope.init()">
	<window-title>
		<label class="flex-1">{{scope.getReportScope().title || 'Report'}}</label>
		<button class="seg primary round sm" ng-click="scope.close()"> <i icon="close"></i> </button>
	</window-title>
	<window-content ng-if="scope.getReportScope()">
		<tab-group>
			<tab persistent="true" label="{{scope.getReportScope().logTitle || 'Log'}}" open="!scope.reportIsOpen()" on-open="scope.openLogs()" ng-if="scope.hasLog()">
				<div class="row flex-1" style="margin-bottom: 0;">
					<div class="flex-2 foi-information" ng-if="scope.feature && scope.getReportScope().displayPreferences_">
						<pager>
							<pager-content>
								<ul class="flexbox flex-wrap flex-direction-vertical property-list">
									<li ng-repeat="(key, option) in scope.getReportScope().displayPreferences_" ng-if="option.selected">
										<label bind-template="option.label" style=""></label>
										<value bind-template="option.value" style=""></value>
									</li>
								</ul>
							</pager-content>
						</pager>
					</div>
					<div class="row flex-1 interactions">
						<span class="flex-1">
							<button class="seg primary round lg" ng-click="scope.logs.functions.new()" title="New"><i icon="new"></i></button>
						</span>
						<span class="flex-1">
							<button class="seg primary round lg" ng-click="scope.logs.functions.see()" ng-disabled="scope.logs.functions.disabled()" title="See"><i icon="eye"></i></button>
						</span>
						<span class="flex-1">
							<button class="seg primary round lg" ng-click="scope.logs.functions.remove()" ng-disabled="scope.logs.functions.removeDisabled()" title="Remove"><i icon="trash"></i></button>
						</span>
						<span class="flex-1" ng-if="!scope.getReportScope().disableOpenInTTT">
							<button class="seg primary round lg" ng-click="scope.logs.functions.openInTTT()" ng-disabled="scope.logs.functions.openInTTTDisabled()" title="See in TTT"><i icon="grid"></i></button>
						</span>
						<span class="flex-1" ng-repeat="function in scope.getReportScope().customLogFunctions">
							<button class="seg primary round lg" ng-click="function.do()" ng-disabled="function.disabled()" title="{{function.title}}"><i style="{{function.style}}" icon="{{function.icon}}"></i></button>
						</span>
					</div>
				</div>
				<div class="instances-container-table" ng-if="scope.logs.data && scope.logs.logFields">
					<grid name="{{scope.getReportScope().exportTitle || scope.getReportScope().logTitle || 'Log'}}" paginate="scope.getReportScope().paginateGrid" data="scope.logs.data" item-as="feedback" fields="scope.logs.logFields" on-selection-change="scope.logs.functions.setAsSelected(selectedRows,changedRows)" no-resize="true" style="margin-bottom: 10px;" on-double-click="scope.logs.functions.see(row)"></grid>
				</div>
			</tab>
			<tab persistent="true" label="{{scope.getReportScope().reportTitle || 'Report'}}" open="scope.reportIsOpen()" ng-if="true" ng-disabled="scope.disableReportTab">
				<div class="row flex-1" style="margin-bottom: 0;" ng-if="scope.feature">
					<div class="flex-2 foi-information" ng-if="scope.feature && scope.getReportScope().displayPreferences_">
						<pager>
							<pager-content>
								<ul class="flexbox flex-wrap flex-direction-vertical property-list">
									<li ng-repeat="(key, option) in scope.getReportScope().displayPreferences_" ng-if="option.selected">
										<label bind-template="option.label"></label>
										<value bind-template="option.value"></value>
									</li>
								</ul>
							</pager-content>
						</pager>
					</div>
				</div>
				<div style="max-height: 400px; max-width: 700px;" scrollable resizable max-width="1500" max-height="800">
					<section>
						<include ng-if="key === scope.reportType" template-url="{{value.templateUrl}}" scope="value" ng-repeat="(key, value) in scope.getReportTypes()"></include>
					</section>
					<section class="submit-section flexbox flex-justify-end">
						<button ng-disabled="scope.getReportScope().disableEditButton()" ng-if="shouldBeEditable()" class="seg positive rounded sm service-setbtn margin-right" ng-click="scope.getReportScope().toggleEditing()">{{scope.getReportScope().scope.edit ? "CANCEL" : "EDIT"}}</button>
						<button ng-disabled="!isValid()" class="seg positive rounded sm service-setbtn" ng-click="scope.getReportScope().submit()">SUBMIT</button>
					</section>
				</div>
			</tab>
		</tab-group>
	</window-content>
</window>
