<window-title  ng-init="StmidCommandInfo.init(stmid)">
	<div class="flex-1">
		<label class=" font-weight-500">{{StmidCommandInfo.getLabelForStmid(stmid)}}</label>
	</div>

	 <button ng-click="StmidCommandInfo.configMode = !StmidCommandInfo.configMode" class="seg primary round sm" ng-class="{active: StmidCommandInfo.configMode}">
		<i icon="cog"></i>
	</button>

</window-title>
<window-content class="stmid">
	<panel id="config" scrollable class="border-bottom-radius-outer" ng-if="StmidCommandInfo.configMode">
		<ul class="seg">
			<li class="selectable" ng-repeat="(key, option) in StmidCommandInfo.displayPreferences">
				<checkbox ng-checked="option.visible" ng-click="StmidCommandInfo.toggleDisplayPreference(key)"></checkbox>
				<label class="flexbox flex-align-center flex-1" bind-template="option.label"></label>
			</li>
		</ul>
	</panel>
	<panel class="border-bottom-radius-outer" ng-if="!StmidCommandInfo.configMode">
		<section class="flexbox" id="overview">

			<div id="photo" expand="command-info > window > window-content > panel" ng-style="{'background-image': 'url('+StmidCommandInfo.StmidPicture+')'}">
				<div ng-if="StmidCommandInfo.StmidPicture != StmidCommandInfo.StmidDefaultPicture" class="photo-toptoolbar size-lg flexbox flex-align-center flex-justify-end">
					<button ng-click="expand.toggle()" class="seg primary round sm">
						<i icon="{{expand.expanded?'collapse':'expand'}}"></i>
					</button>
				</div>
			</div>
			<div id="functions">
				<button class="seg primary rounded" ng-click="StmidCommandInfo.listDuties(stmid)">List of duties</button>
			</div>
		</section>
		<section id="basic-info" expand="command-info > window > window-content > panel">
			<pager>
				<pager-content>
					<ul class="flexbox flex-wrap flex-direction-vertical property-list">
						<li ng-repeat="(key, option) in StmidCommandInfo.displayPreferences" ng-if="option.visible">
							<label bind-template="option.label"></label>
							<value ng-if="option.label != 'Authority Duty' || stmid.get('authorityDuty').length < 16" bind-template="option.template"></value>

							<span class="authority-duty-container" ng-if="option.label == 'Authority Duty' && stmid.get('authorityDuty').length > 16">
								<value bind-template="option.template" title="{{stmid.get('authorityDuty')}}"></value>

								<button class="seg primary round sm" ng-click="StmidCommandInfo.showAuthorityDutyModal(stmid)">
									<i icon="info"></i>
								</button>
							</span>
						</li>
					</ul>
				</pager-content>
				<div id="section-controls">
					<pager-controls></pager-controls>
					<expand-controls></expand-controls>
				</div>
			</pager>
		</section>
	</panel>
</window-content>
<style>
	div#functions {
		min-height: 170px;
	}

	window-content.stmid {
		min-width: 300px;
	}

	.authority-duty-container value {
		white-space: nowrap;
		text-overflow: ellipsis;
		display: inline-block;
		overflow: hidden;
		width: 72%;
		font-weight: 400;
		float: left;
	}

	.authority-duty-container button
	{
		display: inline-block;
		float: left;
		margin-top: -5px;
	}

	.email-label {
		text-overflow: ellipsis;
		display: block;
		overflow: hidden;
	}

	.expand-element .email-label
	{
		text-overflow:inherit;
		display:inherit;
		overflow:inherit;
	}
</style>
