<window>
    <window-title>
        <div id="info">
               <label class="text-size-sm  font-weight-500">{{area.get("name")}}</label>
        </div>
    </window-title>
    <window-content class="background-color-3">
        <section class="border-bottom-radius">
            <div id="info" class="text-size-xs">
                <div ng-repeat="(key, option) in areasToolTip.options">
                    <b><label bind-template="option.label"></label></b>:
                    <value bind-template="option.template"></value>
                </div>
            </div>
        </section>
    </window-content>
</window>
<style>
    seg-tooltip > window > window-title > #info > * {
        white-space: nowrap;
    }

    seg-tooltip > window > window-content > panel > #info > :first-child {
        white-space: nowrap;
    }

    seg-tooltip > window > window-content > panel > #info b {
        font-weight: 500;
    }
</style>
