@import '~sass/mixins';
@import '~sass/helpers';
@import '~sass/variables';

seg-news{
    @include drop-shadow(0 2px 4px rgba(61, 72, 81, 0.5));

  }
  
  .news-button {
    cursor: pointer;
    @include flexbox;
  
    @include linear-gradient(color(1), color(4));
  
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 33px;
  
    &.inactive {
      background: color(5);
    }
  
    & > .button {
      transform: rotate(90deg);
      -ms-transform-origin: left top 0;
      -moz-transform-origin: left top 0;
      -webkit-transform-origin: left top 0;
      transform-origin: left top 0;
      color: #fff;
      margin-left: 35px;
      padding: 4px 10px 0px 10px;
      text-transform: 1px 1px 0px rgba(0, 0, 0, 0.5);
      height: 0;
      font-size: 11px;
      margin-top: -5px;
  
      & .arrow {
        width: 11px!important;
        display: block;
        fill: white;
        margin-left: 5px;
        margin-right: 25px;
        height: 20px!important;
        position: absolute;
        top: 6px;
        left: 48px;
      }
  
      & .row
      {
        height: 33px;
      }
    }
  }
  
  .news-content {
    background: #fff;
    height: 200px;
    overflow: hidden;
    border: white;
    border-style: solid;
    border-width: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .news-wrapper {
    display: flex;
    flex-direction: row;
    float: left;
  
    & > .news-scroller {
      width: 43px;
      background: white;
      padding: 10px 5px;
  
      & > button {
        margin: 5px auto;
      }
      & > span {
        width: 100%;
        display: block;
        text-align: center;
      }
    }
  }
  