<div class="news-button" (click)="toggleNewsFeed()">
	<div class="button border-top-left-radius-outer border-bottom-left-radius-outer">
		<div class="title vertical-orientation">
			<div class="row" style="transform:scale(-1,-1); -o-transform:scale(-1,-1);-moz-transform:scale(-1,-1);-webkit-transform:scale(-1,-1); position:absolute; right:-65px;">
				<icon class="arrow" svg-file="{{!open ? 'chevron-down' : 'chevron-up'}}"></icon>
				<span style="font-size:13px;">News</span>
			</div>
		</div>
	</div>
</div>
<!-- <button (click)="addNewTestAlert()">Click Me For Alerts</button>
<button (click)="markRead()">Click Me For Read Alerts</button> -->
<div id="news-wrapper" class="news-wrapper">
	<div id="news-content" class="news-content"></div>
	<div id="news-scroller" class="news-scroller">
		<button class="seg primary round sm"  (click)="previousPost()" >
			<icon svg-file="chevron-up"></icon>
		</button>
		<span *ngIf="posts && posts.length" class="text-size-sm">{{currentPost + 1}}/{{posts.length}}</span>
		<button class="seg primary round sm" (click)="nextPost()">
			<icon svg-file="chevron-down"></icon>
		</button>
	</div>
</div>
