// @import 'fonts/font-awesome-4.7.0/scss/font-awesome.scss';

@import 'ol-debug';
@import 'mixins';
@import 'helpers';
@import 'legend';

// @import "../seg/style.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans";
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  color: color(9);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

a {
  color: color(2);
}

.loading {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    & > #container {
      position: absolute;
      left: 50%;
      top: 50%;
      text-align: center;

      @include transform(translate(-50%, -50%));

      & > img {
        height: 150px;
        margin-bottom: 20px;
      }

      & > p {
        font-size: 2.25em;
        color: color(4);
        font-weight: bold;
      }
    }    
}

.ol-grab{
  cursor: move;
}


