@each $d in left,right{
  .float-#{$d}{
    float: $d;
  }
}

@each $i in map-keys($colors) {
  .text-color-#{$i} {
    color: color($i);
    fill: color($i);
  }

  .background-color-#{$i} {
    background-color: color($i) !important;
  }

  .border-color-#{$i} {
    border-color: color($i);
  }
}

@each $size in xs,sm, md, lg{
  .square-#{$size} {
     @include square-size(square-size($size));
  }
}

@each $size in xs,sm, md, lg{
  .margin-#{$size} {
     @include margin-size(margin-size($size));
  }
}

@each $size in xs, sm, md, lg {
  .icon-size-#{$size} {
    @include icon-size(icon-size($size), true);
  }

  .text-size-#{$size} {
    @include font-size($size);
  }

  .size-#{$size} {
    @include button-size(button-size($size));
  }
}

.size-input {
  @include button-size($input-size);
}

.border-radius-round {
  border-radius: 999px;
}

.flexbox {
  @include flexbox;
}

.flex-direction-vertical {
  @include flex-direction(vertical);
}

.flex-direction-horizontal-reverse {
  @include flex-direction(horizontal-reverse);
}

@each $alignment in center, end, start {
  .flex-align-#{$alignment} {
    @include flex-align($alignment);
  }
}

@each $alignment in center, end, space-between {
  .flex-justify-#{$alignment} {
    @include flex-justify($alignment);
  }
}

@each $weight in 400, 500, 700 {
  .font-weight-#{$weight} {
    font-weight: $weight;
  }
}

.flex-wrap {
  @include flex-wrap(wrap);
}

.btn-group {
  @include flexbox;

  & > :not(:last-child) {
    margin-right: 6px;
  }
}

.row {
  @include flexbox;

  @include flex-align(center);

  width: 100%;

  &:not(:last-child) {
    margin-bottom: 6px;
  }
}

@for $i from 1 through 12 {
  .flex-#{$i} {
    @include flex($i);

    &input {
      width: 0;
    }
  }
}

.capitalize{
  text-transform: capitalize;
}

.hide {
  display: none !important;
}

.hidden {
  visibility: hidden !important;
}

@each $size in outer, inner {
  .border-radius-#{$size} {
    border-radius: border-radius($size);
    overflow: hidden;
  }

  @each $vertical in top, bottom {
    .border-#{$vertical}-radius-#{$size} {
      border-#{$vertical}-left-radius: border-radius($size);
      border-#{$vertical}-right-radius: border-radius($size);
    }

    @each $horizontal in left, right {
      .border-#{$horizontal}-radius-#{$size} {
        border-top-#{$horizontal}-radius: border-radius($size);
        border-bottom-#{$horizontal}-radius: border-radius($size);
      }

      .border-#{$vertical}-#{$horizontal}-radius-#{$size} {
        border-#{$vertical}-#{$horizontal}-radius: border-radius($size);
      }
    }
  }
}

.ui-focused {
  z-index: 99999 !important;
}

.ui-shadow {
  box-shadow: 0 2px 4px rgba(61, 72, 81, 0.5);
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

@for $width from 1 through 800 {
  .cut-#{$width} {
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    max-width: #{$width}px !important;
    display: inline-block !important;
  }
}

.inline-block{
  display: inline-block;
}


.margin-auto{
  margin:auto;
}

.width100 {
  width: 100%;
}

.bold{
  font-weight: bold;
}
