.legend {
  min-width: 100px;
  padding: 10px;

  &.sm {
    min-width: 200px;
  }

  &.md {
    min-width: 350px;
  }

  &.lg {
    min-width: 450px;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .column {
      display: flex;
      flex-direction: column;
      width: 50%;
      position: relative;

      &.fullwidth {
        width: 100%;
      }

      .title {
        font-weight: bold;
        margin-bottom: 10px;
      }

      .legend-item {
        display: flex;
        flex-direction: row;
        margin-bottom: 8px;
        font-weight: 100;
        align-items: center;

        .label {
          display: inline-block;
          margin-left: 5px;
        }

        i.argo {
          svg > * {
            fill: green;
          }
        }

        i.drifting {
          svg > * {
            fill: #BB55D2;
          }
        }

        i.ferrybox {
          svg > * {
            fill: #30363F;
          }
        }

        i.gliders {
          svg > * {
            fill: #F0AB33;
          }
        }

        i.others {
          svg > * {
            fill: yellow;
          }
        }

        i.profiling {
          svg > * {
            fill: blue;
          }
        }

        i.mooring {
          svg > * {
            fill: #DC323B;
          }
        }

        i.radar {
          svg > * {
            fill: #845A36;
          }
        }

        .line {
          display: inline-block;
          line-height: 24px;
        }

        .line:before {
          content: "";
          float: left;
          margin-right: 6px;
          width: 18px;
          height: 18px;
          border-bottom: 1px solid red;
          -webkit-transform: translateY(-4px) translateX(8px) rotate(45deg);
        }

        .square, .circle {
          display: inline-block;
          line-height: 20px;
        }

        .square:before {
          display: block;
          border-radius: 0%;
          width: 18px;
          height: 18px;
          border-color: #000;
          border-width: 2px;
          border-style: solid;
          margin-right: 6px;
          content: "";
          float: left;
        }

        .circle:before {
          display: block;
          width: 18px;
          height: 18px;
          margin-right: 6px;
          content: "";
          float: left;
          border-radius: 50%;
        }

        .circle {
          &.orange:before {
            background: #f50;
          }
        }

        .line,
        .square {
          &.pink:before {
            border-color: #f0f;
          }

          &.green:before {
            border-color: #0f0;
          }

          &.blue:before {
            border-color: #00f;
          }

          &.black:before {
            border-color: #000;
          }

          &.light-green:before {
            border-color: #0c0;
          }

          &.orange:before {
            border-color: #fa0;
          }

          &.yellow:before {
            border-color: #ff0;
          }

          &.purple:before {
            border-color: #609;
          }

          &.thin:before {
            border-width: 1px;
          }

          &.dashed:before {
            border-style: dashed !important;
          }

          &.thick:before {
            border-width: 3px;
          }

          &.red:before {
            border-color: #f00;
          }
        }
      }
    }
  }
}
