@import 'variables';
/*MIXINS */
@mixin flexbox {
  display: flex;
}

@mixin inline-flexbox {
  display: inline-flex;
}

@mixin flex-direction($direction) {
  @if $direction == vertical {
    flex-direction: column;
  }

  @if $direction == horizontal {
    flex-direction: row;
  }

  @if $direction == horizontal-reverse {
    flex-direction: row-reverse;
  }
}

@mixin flex-align($alignment) {
  @if $alignment == start {
    align-items: flex-start;
  }

  @if $alignment == center {
    align-items: center;
  }

  @if $alignment == end {
    align-items: flex-end;
  }
}

@mixin flex-justify($alignment) {
  @if $alignment == center {
    justify-content: center;
  }

  @if $alignment == space-between {
    justify-content: space-between;
  }

  @if $alignment == end {
    justify-content: flex-end;
  }
}

@mixin flex($params) {
  -ms-flex: $params;
  flex: $params;
}

@mixin flex-wrap($wrap: nowrap) {
  -webkit-flex-wrap: $wrap;
  -moz-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

@mixin transform($params) {
  -ms-transform: $params;
  transform: $params;
}

@mixin linear-gradient($params...) {
  background: -webkit-linear-gradient($params);
  background: -moz-linear-gradient($params);
  background: -o-linear-gradient($params);
  background: linear-gradient($params);
}

@mixin icon-size($size, $important: false) {
  font-size: $size if($important, !important, null);
  height: $size if($important, !important, null);

  & > svg {
    height: 100%;
    width: auto;
  }
}

@mixin button-size($size) {
  min-width: $size;
  line-height: $size;
  height: $size;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &::-ms-input-placeholder {
    @content;
  }
}

@mixin square-size($size) {
  width: $size;
  height: $size;
}

@mixin float-direction($direction) {
  float: $direction;
}

@mixin margin-size($size) {
  margin-left: $size;
  margin-right: $size;
}


@mixin drop-shadow($args...) {
  -webkit-filter: drop-shadow($args);
}

@mixin font-size($size) {
  font-size: font-size($size);
}

@mixin border-radius($size) {
  border-radius: border-radius($size);
}

@function color($n) {
  @return map-get($colors, $n);
}

@function icon-size($size) {
  @return map-get($icon-size, $size);
}

@function button-size($size) {
  @return map-get($button-size, $size);
}


@function square-size($size) {
  @return map-get($square-size, $size);
}

@function margin-size($size) {
  @return map-get($margin-size, $size);
}

@function border-radius($size) {
  @return map-get($border-radius, $size);
}

@function font-size($size) {
  @return map-get($font-size, $size);
}

@function gradient($args...) {
  @return linear-gradient($args);
}
