$icon-size: (
	lg: 23px,
	md: 21px,
	sm: 17px,
	xs: 11px
);

$button-size: (
	lg: 33px,
	md: 27px,
	sm: 21px,
	xs: 13px
);

$border-radius: (
	outer: 10px,
	inner: 4px
);

$font-size: (
	lg: 14px,
	md: 13px,
	sm: 11px,
	xs: 10px
);

$square-size: (
	lg: 25px,
	md: 20px,
	sm: 15px,
	xs: 5px
);

$margin-size: (
	lg: 10px,
	md: 8px,
	sm: 5px,
	xs: 3px
);

$input-size: 23px;

$directions: (
	left: 'left',
	right: 'right'
);

@import 'themes/light';