<div>
	<div class="row">
		<div class="flex-1">
			<label class="text-size-sm">LOCODE</label>
			<input class="seg text-size-sm" ng-model="search.locode" />
		</div>
		<div class="flex-1">
			<label class="text-size-sm">Location name</label>
			<input class="seg text-size-sm" ng-model="search.locationName" />
		</div>
	</div>
	<div class="row">
		<div class="flex-1">
			<label class="text-size-sm">Country code</label>
			<multi-dropdown title="Country" options="search.countries" results="search.selectedCountries" to-string="{{true}}"></multi-dropdown>
			<!--<label class="text-size-sm">Country code</label>
			<input class="seg text-size-sm" ng-model="search.countryCode"/>-->
		</div>
		<div class="flex-1">
			<label class="text-size-sm">Country name</label>
			<input class="seg text-size-sm" ng-model="search.countryName" />
		</div>
	</div>
</div>