<window-title ng-init="detectedVesselsCommandInfo.init(detectedVessel)">
	<div class="flex-1">
		<label class="font-weight-400">{{detectedVesselsCommandInfo.getLabel(detectedVessel)}}</label>
		<div ng-if="detectedVessel.get('type')" class="text-size-sm font-weight-500">{{detectedVessel.get('type')}}</div>
	</div>
	<div id="timestamp" class="flexbox flex-align-center text-size-lg font-weight-400">
		<i icon="clock" class="icon-size-sm"></i>
		<label class="text-size-sm flexbox" position-timestamp="detectedVessel.get('VDS_TIMESTAMP')"></label>
	</div>
	<button ng-click="detectedVesselsCommandInfo.configMode = !detectedVesselsCommandInfo.configMode; detectedVesselsCommandInfo.basicInfoExpanded = false" class="seg primary round sm" ng-class="{active: detectedVesselsCommandInfo.configMode}">
		<i icon="cog"></i>
	</button>
</window-title>
<window-content class="default" ng-init="detectedVesselsCommandInfo.basicInfoExpanded=null">
	<panel id="config" scrollable class="border-bottom-radius-outer" ng-if="detectedVesselsCommandInfo.configMode">
		<ul class="seg" ng-if="!detectedVessel.get('uncorrelated')">
			<li class="selectable" ng-repeat="(key, option) in detectedVesselsCommandInfo.displayPreferences">
				<checkbox ng-checked="option.visible" ng-click="detectedVesselsCommandInfo.toggleDisplayPreference(key, 'displayPreferences_')"></checkbox>
				<label class="flexbox flex-align-center flex-1">
				   Position - <span class="flex-1" bind-template="option.label"></span>
				</label>
			</li>
			<li class="selectable" ng-repeat="(key, option) in detectedVesselsCommandInfo.displayVesselInfo">
				<checkbox ng-checked="option.visible" ng-click="detectedVesselsCommandInfo.toggleDisplayPreference(key, 'displayVesselInfo_')"></checkbox>
				<label class="flexbox flex-align-center flex-1">
					Vessel - <span class="flex-1" bind-template="option.label"></span>
				</label>
			</li>
			<li class="selectable" ng-repeat="(key, option) in detectedVesselsCommandInfo.displayVDSPositionInfo">
				<checkbox ng-checked="option.visible" ng-click="detectedVesselsCommandInfo.toggleDisplayPreference(key, 'displayVDSPositionInfo_')"></checkbox>
				<label class="flexbox flex-align-center flex-1">
					VDS - <span class="flex-1" bind-template="option.label"></span>
				</label>
			</li>
		</ul>
		<ul class="seg" ng-if="detectedVessel.get('uncorrelated')">
			<li class="selectable" ng-repeat="(key, option) in detectedVesselsCommandInfo.displayUncorrelatedPreferences">
				<checkbox ng-checked="option.visible" ng-click="detectedVesselsCommandInfo.toggleDisplayPreference(key, 'displayUncorrelatedPreferences_')"></checkbox>
				<label class="flexbox flex-align-center flex-1">
				   <span class="flex-1" bind-template="option.label"></span>
				</label>
			</li>
		</ul>
	</panel>
	<panel class="border-bottom-radius-outer" ng-if="!detectedVesselsCommandInfo.configMode && !detectedVesselsCommandInfo.basicInfoExpanded">
		<section class="flexbox" id="overview">
			<div id="photo" expand="command-info > window > window-content > panel" ng-style="{'background-image': 'url(\''+(detectedVessel.get('thumbnail') || detectedVesselsCommandInfo.detectedVesselDefaultPicture)+'\')'}">
				<div ng-if="detectedVesselsCommandInfo.detectedVesselPicture != detectedVesselsCommandInfo.detectedVesselDefaultPicture" class="photo-toptoolbar size-lg flexbox flex-align-center flex-justify-end">
                    <button ng-click="expand.toggle()" class="seg primary round sm">
                        <i class="icon-size-md" icon="{{expand.expanded?'collapse':'expand'}}"></i>
                    </button>
                </div>
			</div>
			<div id="functions" class="flex-1" ng-if="detectedVessel.get('correlated')">
				<div class="btn-group" ng-if="detectedVessel.get('correlated')">
                    <button class="seg primary rounded flex-1" ng-click="detectedVesselsCommandInfo.getLastKnownPosition(detectedVessel)">Select Vessel</button>
                </div>
			</div>
		</section>
		<section id="basic-info" expand="command-info > window > window-content > panel" on-toggle="detectedVesselsCommandInfo.basicInfoExpanded = expanded">
			<pager ng-if="!detectedVesselsCommandInfo.basicInfoExpanded || detectedVessel.get('uncorrelated')">
				<pager-content>
					<ul class="flexbox flex-wrap flex-direction-vertical property-list" ng-if="!detectedVessel.get('uncorrelated')">
						<li ng-repeat="(key, option) in detectedVesselsCommandInfo.displayPreferences" ng-if="option.visible">
							<label bind-template="option.label"></label>
							<value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
						</li>
					</ul>
					<ul class="flexbox flex-wrap flex-direction-vertical property-list" ng-if="detectedVessel.get('uncorrelated')">
						<li ng-repeat="(key, option) in detectedVesselsCommandInfo.displayUncorrelatedPreferences" ng-if="option.visible">
							<label bind-template="option.label"></label>
							<value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
						</li>
					</ul>
				</pager-content>
				<div id="section-controls">
					<pager-controls></pager-controls>
					<button class="seg primary round sm" ng-click="detectedVesselsCommandInfo.basicInfoExpanded = true;" title="More Info">
						<i icon="expand"></i>
					</button>
				</div>
			</pager>
		</section>
	</panel>
	<panel id="enrichment-information" class="border-bottom-radius-outer" ng-if="detectedVesselsCommandInfo.basicInfoExpanded">
		<tab-group class="secondary">
			<button class="seg primary round sm" ng-click="detectedVesselsCommandInfo.basicInfoExpanded = false">
				<i icon="collapse"></i>
			</button>
			<tab persistent="true" label="{{detectedVessel.get('uncorrelated')?'Unc':'C'}}orrelated Position">
				<pager>
					<pager-content>
						<ul class="flexbox flex-wrap flex-direction-vertical property-list" ng-if="!detectedVessel.get('uncorrelated')">
							 <li  ng-repeat="(key, option) in detectedVesselsCommandInfo.displayPreferences" ng-if="option.visible">
								<label bind-template="option.label"></label>
								<value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
							</li>
						</ul>
						<ul class="flexbox flex-wrap flex-direction-vertical property-list" ng-if="detectedVessel.get('uncorrelated')">
							<li  ng-repeat="(key, option) in detectedVesselsCommandInfo.displayUncorrelatedPreferences" ng-if="option.visible">
								<label bind-template="option.label"></label>
								<value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
							</li>
						</ul>
					</pager-content>
					<pager-controls></pager-controls>
				</pager>
			</tab>
			<tab persistent="true" label="Correlated vessel" ng-if="!detectedVessel.get('uncorrelated')">
				<pager>
					<pager-content>
						<ul class="flexbox flex-wrap flex-direction-vertical property-list">
							<li ng-repeat="(key, option) in detectedVesselsCommandInfo.displayVesselInfo" ng-if="option.visible">
								<label bind-template="option.label"></label>
								<value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
							</li>
						</ul>
					</pager-content>
					<pager-controls></pager-controls>
				</pager>
			</tab>
			<tab persistent="true" label="VDS position" ng-if="!detectedVessel.get('uncorrelated')">
				<pager>
					<pager-content>
						<ul class="flexbox flex-wrap flex-direction-vertical property-list">
							<li ng-repeat="(key, option) in detectedVesselsCommandInfo.displayVDSPositionInfo" ng-if="option.visible">
								<label bind-template="option.label"></label>
								<value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
							</li>
						</ul>
					</pager-content>
					<pager-controls></pager-controls>
				</pager>
			</tab>
		</tab-group>
	</panel>
</window-content>

<style>
	command-info > window > window-content > panel > section#overview > #photo {
		position: relative;
		margin: -8px 0;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		width: 216px;
		min-height: 200px;
		width: 100%;
	}

	command-info > window > window-content > panel#enrichment-information > tab-group > tab > pager {
		height: 300px;
		padding: 10px;
	}

	command-info > window {
		min-width: 350px;
	}

	ul.property-list > li > value {
        cursor: pointer;
    }
</style>