<div class="legend sm vds-legend" ng-class="{correlated: sections.selectedSymbology() === 'Correlation And Heading', correlated_class: sections.selectedSymbology() === 'Correlation And Heading And Class' || sections.selectedSymbology() === 'Correlation And Heading And Type'}">
	<div class="row">
		<div class="column" ng-repeat="section in sections[sections.selectedSymbology()]">
			<div class="title">{{section.title}}</div>
			<div class="legend-item" ng-repeat="symbology in section.symbologies">
				<i class="icon-size-md {{symbology.class}}" style="{{symbology.style}}" icon="{{symbology.icon}}"></i>
				<span class="label">{{symbology.label}}</span>
			</div>
		</div>
	</div>
</div>
<style>
	.vds-legend .row {
		flex-wrap: wrap;
	}
	.vds-legend .column {
		height: 140px;
	}
	.vds-legend.correlated .column {
		height: auto;
	}
	.vds-legend .legend-item i {
		width: 39px; 
	    height: 39px !important; 
	    margin: -5px 0; 
	}

	.vds-legend.correlated_class .correlated:after {
		opacity: 1;
	    content: '●';
	    position: absolute;
	    background: transparent;
	    left: 15.5px;
	    font-size: 13px;
	    margin-top: 2px;
	}

</style>

