<window>
    <window-title ng-init="detectedVesselsTooltip.init(detectedVessel, true)">
        <div id="info">
            <div class="text-size-sm">{{detectedVesselsTooltip.getLabel(detectedVessel)}}</div>
        </div>
    </window-title>
    <window-content class="background-color-3">
        <section class="border-bottom-radius">
            <div id="info" class="text-size-xs">
                <div ng-repeat="(key, option) in detectedVesselsTooltip.tooltipDisplayPreferences" ng-if="option.visible && ((detectedVessel.get('uncorrelated') && option.uncorrelated) || (!detectedVessel.get('uncorrelated') && option.correlated)) ">
                    <b><label bind-template="option.label"></label></b>: <value bind-template="option.template"></value>
                </div>
            </div>
        </section>
    </window-content>
</window>

<style>
    tooltip > window > window-title > #info > * {
        white-space: nowrap;
    }

    tooltip > window > window-content > panel > #info > :first-child {
        white-space: nowrap;
    }

    tooltip > window > window-content > panel > #info b {
        font-weight: 500;
    }
</style>
