<div id="lrit-panel" class="text-size-sm">
	<section>
		<vessel-selector selected-vessels="lrit.selectedVessels"></vessel-selector>
	</section>
	<section>
		<div class="row">
			<label class="text-size-sm">New Vessel</label>
			<toggle ng-checked="lrit.isNewVessel" ng-click="lrit.isNewVessel = !lrit.isNewVessel"></toggle>
		</div>
		<div ng-if="lrit.isNewVessel">
			<div class="row">
				<label class="text-size-sm flex-1">Vessel IMO</label>
				<input type="text" pattern="[0-9]{7}" class="seg text-size-sm flex-1" ng-model="lrit.services.vesselIMO" />
			</div>
			<div class="row">
				<label class="text-size-sm flex-1">Flag</label>
				<combo id="countrylist" ng-model="lrit.services.country" options="option.LRIT_ID as option.CountryName for option in lrit.services.countryList" placeholder="Country"></combo>
			</div>
		</div>
	</section>
	<section class="lrit-types">
		<div class="row">
			<label class="text-size-sm flex-1">Access type</label>
			<combo ng-model="lrit.services.accessType" options="option for option in lrit.services.accessTypeOptions" placeholder="Access Type"></combo>
		</div>
		<div class="row">
			<label class="text-size-sm flex-1">Request type</label>
			<combo ng-if="lrit.services.accessType !== 'SAR'" ng-model="lrit.services.requestTypeFull" options="option.value as option.alias for option in lrit.services.requestTypeOptionsFull" placeholder="Request Type"></combo>
			<combo ng-if="lrit.services.accessType === 'SAR'" ng-model="lrit.services.requestTypeBase" options="option.value as option.alias for option in lrit.services.requestTypeOptionsBase" placeholder="Request Type"></combo>
		</div>
		<!--
		<div class="row">
			<label class="text-size-sm flex-1">Contracting Governament</label>
			<combo id="countrylist" ng-model="lrit.services.country" options="option.LRIT_ID as option.CountryName for option in lrit.services.countryList" placeholder="Country"></combo>
		</div>
		-->
	</section>
	<section class="lrit-dates" ng-if="!lrit.isOneTime()">
		<div class="row">
			<label class="text-size-sm flex-1">Start date</label>
			<datetime class="flex-1" ng-model="lrit.services.startDate"></datetime>
		</div>
		<div class="row">
			<label class="text-size-sm flex-1">End date</label>
			<datetime class="flex-1" ng-model="lrit.services.endDate"></datetime>
		</div>
	</section>
	<!--
	<section class="lrit-portdetails">
		<div class="row">
			<label class="text-size-sm flex-1">Port or port facility</label>
			<combo ng-model="lrit.services.port" placeholder="Select Port..." options="option.id as option.name for option in lrit.services.portOptions"></combo>
		</div>
		<div class="row">
			<label class="text-size-sm flex-1">Distance in nautical miles from the port to start tracking the selected ships</label>
			<input type="text" class="seg text-size-sm flex-1" ng-model="lrit.services.distance" />
		</div>
	</section>
	-->
	<section>
		<div class="row flex-justify-end">
			<span ng-show = "!lrit.canSubmit()" style="margin: auto 0; padding-right: 5px;">Please, select a vessel with valid IMO.</span>
			<button ng-disabled="!lrit.canSubmit()" ng-click="lrit.submit()" class="seg positive rounded sm">SUBMIT</button>
		</div>
	</section>
</div>
<style>
#lrit-panel toggle + label, #lrit-panel checkbox + label, #lrit-panel radio + label {
	margin-left: 7px;
}

#lrit-panel > section {
	padding-left: 0;
	padding-right: 0;
}

#lrit-panel #countrylist #container > ul {
	max-height: 300px;
}

#lrit-panel > section > .section-name {
	margin-bottom: 8px;
}

#lrit-panel > section#time-range > #options > :not(:last-child) {
	margin-right: 8px;
}

#lrit-panel > section#time-range > #options > combo {
	width: 81px;
}

#lrit-panel > section#services > #vessel-tracks {
	margin-bottom: 13px;
}

#lrit-panel > section#services > #vessel-tracks > div > #vessel-track-modes > label:not(:last-child) {
	margin-right: 17px;
}

#lrit-panel > section#services > #vessel-tracks > ul {
	margin-top: 11px;
	margin-bottom: -8px;
}

#lrit-panel > section#services > #vessel-tracks > ul > li {
	width: 25%;
	margin-bottom: 8px;
}

#lrit-panel > section:last-child {
	padding-bottom: 0;
}

.lrit-portdetails input[type=text] {
	width: 100px;
}
</style>
