<div id="alerts-acq">
	<div class="flexbox flex-align-center" id="toggle">
		<div class="flexbox flex-align-center flex-1">
			<toggle ng-model="alert.enabled"></toggle>
			<label>ABM Alerts</label>
		</div>
	</div>
	<div class="flex-align-center" id="content" ng-if="alert.enabled && alert.areaStatus.invalid">
		<ul class="error-box">
			<li ng-if="alert.areaStatus.invalid">{{alert.areaStatus.msg}}</li>
		</ul>
	</div>
</div>

<style>
	#alerts-acq > #content {
	    padding-left: 10px;
	    margin-left: 10px;
	    margin-top: 10px;
	    border-left: 1px solid #dcdcdc;
	}
</style>