<window-title ng-init="AlertCommandInfo.init(alert)">
    <div class="flex-1">
        <label class=" font-weight-500">Alert: {{alert.getId()}}</label>
        <div class="text-size-sm font-weight-400">{{AlertCommandInfo.getLabel(alert)}}</div>
    </div>
    <div id="timestamp" class="flexbox flex-align-center text-size-lg font-weight-400">
        <i icon="clock" class="icon-size-sm"></i>
        <label class="text-size-sm flexbox" position-timestamp="alert.get('startTime')"></label>
    </div>
     <button ng-click="AlertCommandInfo.configMode = !AlertCommandInfo.configMode" class="seg primary round sm" ng-class="{active: AlertCommandInfo.configMode}">
        <i icon="cog"></i>
    </button>
</window-title>
<window-content id="alert_command_info">
    <panel id="config" scrollable class="border-bottom-radius-outer" ng-if="AlertCommandInfo.configMode">
        <ul class="seg">
            <li class="selectable" ng-repeat="(key, option) in AlertCommandInfo.displayPreferences">
                <checkbox ng-checked="option.visible" ng-click="AlertCommandInfo.toggleDisplayPreference(key)"></checkbox>
                <label class="flexbox flex-align-center flex-1" bind-template="option.label"></label>
            </li>
        </ul>
    </panel>
    <panel class="border-bottom-radius-outer" ng-if="!AlertCommandInfo.configMode">
        <section class="flexbox" id="overview">
            <div id="photo" expand="command-info > window > window-content > panel">
                <slideshow style="background-image: url('assets/images/noAlert.png')" api="AlertCommandInfo.slideshow" images="alert.get('photos')"></slideshow>
                <div class="photo-toptoolbar size-lg flexbox flex-align-center">
                    <button ng-if-start="AlertCommandInfo.slideshow.slides > 1" ng-click="AlertCommandInfo.slideshow.prevSlide()" class="seg primary round sm">
                        <i class="icon-size-md" icon="chevron-left"></i>
                    </button>
                    <button ng-if-end ng-click="AlertCommandInfo.slideshow.nextSlide()" class="seg primary round sm">
                        <i class="icon-size-md" icon="chevron-right"></i>
                    </button>
                    <button ng-if="alert.get('photos')" ng-click="expand.toggle()" class="seg primary round sm" title="Expand image">
                        <i class="icon-size-md" icon="{{expand.expanded?'collapse':'expand'}}"></i>
                    </button>
                </div>
            </div>
            <div id="functions">
                <div class="btn-group">
                    <button ng-click="AlertCommandInfo.areaQuery(alert)" class="seg primary rounded flex-1">Area Query</button>
                    <button class="seg primary rounded" ng-click="AlertCommandInfo.openQueryPanel(alert)">
                        <i icon="ellipsis-h"></i>
                    </button>
                </div>
                <button class="seg primary rounded" ng-if="alert.get('vessel')" ng-click="AlertCommandInfo.selectVessel(alert)">Select Vessel</button>
                <!-- <button class="seg primary rounded" ng-click="AlertCommandInfo.snoozedAlert(alert)" ng-if="!alert.get('isSnooze')">Snooze ({{AlertCommandInfo.getSnoozeTime()}}h)</button> -->
                <a class="button seg primary rounded" target="_blank" href="{{AlertCommandInfo.getReportUrl(alert)}}">View Alert Report</a>
                <button class="seg primary rounded" ng-if="alert.get('surveillanceInstance')" ng-click="AlertCommandInfo.openABM(alert)">Open ABM</button>
            </div>
        </section>
        <section id="basic-info" expand="command-info > window > window-content > panel">
            <pager>
                <pager-content>
                    <ul class="flexbox flex-wrap flex-direction-vertical property-list">
                        <li ng-repeat="(key, option) in AlertCommandInfo.displayPreferences" ng-if="option.visible">
                            <label bind-template="option.label"></label>
                            <value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
                        </li>
                    </ul>
                </pager-content>
                <div id="section-controls">
                    <pager-controls></pager-controls>
                    <expand-controls></expand-controls>
                </div>
            </pager>
        </section>
    </panel>
</window-content>
