<div class="legend sm" ng-if="getCurrentSymbolizer()==='ABM Name'">
	<div class="row">
		<div class="column" style="width: 100%;">
			<div class="title"><b> Alerts ABM Name</b></div>
			<div class="legend-item" ng-repeat="(key,value) in abmNamesColors">
				<i class="icon-size-md risk-high" ng-style="{'fill': value}" icon="alerts"></i>
				<span class="label">{{key}}</span>
			</div>
		</div>
	</div>
</div>
<div class="legend sm" ng-if="getCurrentSymbolizer()==='Target Age Opacity' || getCurrentSymbolizer()==='Target Age Color'">
	<div class="row">
		<div class="column" style="width: 100%;" ng-if="getCurrentSymbolizer()==='Target Age Color'">
			<div class="title"><b> Alerts Target Age</b></div>
			<div class="title"> Target Age Color</div>
			<div class="legend-item row">
				<i class="icon-size-md risk-high" icon="alerts"></i>
				<span class="label">age > 170 min</span>
			</div>
			<div class="legend-item row">
				<i class="icon-size-md risk-medium" icon="alerts"></i>
				<span class="label">60 min < age < 170 min</span>
			</div>
			<div class="legend-item row">
				<i class="icon-size-md risk-medium-low" icon="alerts"></i>
				<span class="label">10 min < age < 60 min</span>
			</div>
			<div class="legend-item row">
				<i class="icon-size-md risk-low" icon="alerts"></i>
				<span class="label">age < 10 min</span>
			</div>
		</div>
		<div class="column" style="width: 100%;" ng-if="getCurrentSymbolizer()==='Target Age Opacity'">
			<div class="title"><b> Alerts Target Age</b></div>
			<div class="title">Target Age Opacity Levels</div>
			<div class="legend-item row">
				<i class="icon-size-md opacity-risk-high" icon="alerts"></i>
				<span class="label">age > 170 min</span>
			</div>
			<div class="legend-item row">
				<i class="icon-size-md opacity-risk-medium" icon="alerts"></i>
				<span class="label">60 min < age < 170 min</span>
			</div>
			<div class="legend-item row">
				<i class="icon-size-md opacity-risk-medium-low" icon="alerts"></i>
				<span class="label">10 min < age < 60 min</span>
			</div>
			<div class="legend-item row">
				<i class="icon-size-md opacity-risk-low" icon="alerts"></i>
				<span class="label">age < 10 min</span>
			</div>
		</div>
	</div>
</div>

<style>
.legend-item span.circle {width: 10px; height: 10px;}
.legend-item i.risk-high[icon="alerts"] {fill: #F00;}
.legend i.risk-medium[icon="alerts"] {fill: #FFA500;}
.legend i.risk-medium-low[icon="alerts"] {fill: #FF0;}
.legend i.risk-low[icon="alerts"] {fill: #58a54a;}
.legend i.opacity-risk-high[icon="alerts"] {fill: rgba(0,0,0,0.3);}
.legend i.opacity-risk-medium[icon="alerts"] {fill: rgba(0, 0, 0, 0.5);}
.legend i.opacity-risk-medium-low[icon="alerts"] {fill: rgba(0,0,0,0.8);}
.legend i.opacity-risk-low[icon="alerts"] {fill: rgba(0,0,0,1);}
</style>
