<section>
	<div class="row">
		<div class="flex-1">
			<label class="text-size-sm">Aquisition Start</label>
			<datetime ng-model="search.acquisitionStart"></datetime>
		</div>
		<div class="flex-1">
			<label class="text-size-sm">Acquisition End</label>
			<datetime ng-model="search.acquisitionEnd"></datetime>
		</div>
	</div>
</section>
