<window>
    <window-title>
        <div id="info">
            <label class="text-size-sm font-weight-500">Alert: {{alert.getId()}}</label>
            <div class="text-size-sm font-weight-400">{{AlertToolTip.getLabel(alert)}}</div>
        </div>
    </window-title>
    <window-content class="background-color-3">
        <section>
            <div id="info" class="text-size-xs">
                <div ng-repeat="(key, option) in AlertToolTip.tooltipDisplayPreferences" ng-if="option.visible">
                    <b><label bind-template="option.label"></label></b>:
                    <value bind-template="option.template"></value>
                </div>
            </div>
        </section>
    </window-content>
</window>
<style>
    tooltip > window > window-title > #info > * {
        white-space: nowrap;
    }

    tooltip > window > window-content > panel > #info > :first-child {
        white-space: nowrap;
    }

    tooltip > window > window-content > panel > #info b {
        font-weight: 500;
    }
</style>
