<div class="map-tools-row">
	<div id="measure-tools" class="border-top-left-radius-outer">
		<button title="Measure Tools" class="seg main lg border-top-left-radius-outer border-bottom-left-radius-outer" (click)="toggle('measure')">
			<icon svg-file="measure-tools">MT</icon>
			<icon svg-file="wedge-sw">W</icon>
		</button>
		<seg-measure-toolbar *ngIf="toolbars.measure"></seg-measure-toolbar>
	</div>
</div>

<div class="map-tools-row map-tools-selection-row">
	<div id="draw-tools" class="border-top-left-radius-outer">
		<button title="Draw tools" class="seg main lg border-top-left-radius-outer border-bottom-left-radius-outer" (click)="toggle('draw')">
			<icon svg-file="default-cursor">DC</icon>
			<icon svg-file="wedge-sw">W</icon>
		</button>
		<seg-draw-toolbar *ngIf="toolbars.draw"></seg-draw-toolbar>
	</div>
</div>

<div class="map-tools-row" *ngIf="showMagnifyAndCenterButtons">
	<button title="Center map" class="seg main lg border-top-left-radius-outer" (click)="center()">
		<icon svg-file="crosshair">CH</icon>
	</button>
	<button title="Zoom in" class="seg main lg" (click)="zoomIn()">
		<icon svg-file="circle-plus">+</icon>
	</button>
	<button title="Zoom out" class="seg main lg border-bottom-left-radius-outer" (click)="zoomOut()">
		<icon svg-file="circle-minus">-</icon>
	</button>
</div>