@import '~sass/mixins';
@import '~sass/helpers';
@import '~sass/variables';

seg-map-tools {
  .map-tools-row {
    @extend .ui-shadow;

    @extend .border-left-radius-outer;

    @include linear-gradient(color(1), color(4));

    /*& button.seg.main {
      background: none;
    }*/

    & > :not(:last-child) {
      border-bottom: 1px solid transparentize(color(3), 0.8) !important;
    }

    & > #draw-tools {
      position: relative;

      & > seg-draw-toolbar {
        position: absolute;
        right: 100%;
        bottom: 0;
      }
    }

    & > #measure-tools {
      position: relative;

      & > seg-measure-toolbar {
        position: absolute;
        right: 100%;
        bottom: 0;
      }
    }
  }
  .map-tools-selection-row {
    margin-bottom: 5px;
  }
}

// .tooltip-measure, .tooltip-measure-fixed {
//   position: relative;
//   background: #ffffff;
//   border-radius: 4px;
//   padding: 4px 8px;
//   white-space: nowrap;
//   font-size: 11px;
// }

// .tooltip-measure {
//   font-weight: normal;
//   color: #000000;
//   border: 2px solid #999999;
//   z-index: 9999;
// }

// .tooltip-measure-fixed {
//   color: #E22626;
//   border: 1px solid #B76969;
//   background: rgba(255, 255, 255, 0.9);
// }

.tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}

/*.tooltip-measure:before, tooltip-static:before
 * border-top: 6px solid #ffffff;
 * border-right: 6px solid transparent;
 * border-left: 6px solid transparent;
 * content: "";
 * position: absolute;
 * bottom: -6px;
 * margin-left: -7px;
 * left: 50%; */

/*.tooltip-static:before
 * border-top-color: #ffcc33; */

.tooltip-label, .tooltip.tooltip-measure-fixed, .tooltip.tooltip-measure{
  &:not(:empty):after {
      -ms-transform: translate(-50%, -1px);
      transform: translate(-50%, -1px);
      content: "";
      display: block;
      position: absolute;
      top: 100%;
      left: 50%;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 6px solid #fff;
  }
}

.tooltip-label  window-content {
  overflow: hidden;
}