<div id="integrated-ship-profile-panel" class="text-size-sm">
	  <section>
	<vessel-selector></vessel-selector>
  </section>
	<section alias="Time Range" id="time-range">
		<timerange id="options" class="flexbox" from="isp.timePeriod.from" to="isp.timePeriod.to">
		</timerange>
	</section>
	<section alias="Options" id="options">
		<div id="vessel-tracks">
			<ul class="error-box" ng-if="!isp.canSubmit()">
				<li ng-if="!isp.isVesselSelected()">Select one vessel &nbsp;</li>
				<li ng-if="!isp.someOptionsEnabled()">Toggle an option: Vessel Tracks; Hazmat; Voyage &nbsp;</li>
				<li ng-if="!isp.isTimeValid()">Time Range is invalid &nbsp;</li>
				<li ng-if="!isp.validTrackOptions()">Select at least one track option &nbsp;</li>
			</ul>
			<div class="flexbox flex-align-center">
				<div class="flexbox flex-align-center flex-1">
					<toggle ng-model="isp.options.tracks"></toggle>
					<label>Vessel Tracks</label>
				</div>
				<div class="flexbox flex-2 flex-align-center" id="vessel-track-modes" ng-if="isp.options.tracks">
					<radio class="seg" ng-model="isp.sources" ng-checked="isp.sources == 'All'" ng-value="'All'" ng-click="isp.sources = 'All'"></radio>
					<label>All</label>
					<radio class="seg" ng-model="isp.sources" ng-checked="isp.sources == 'Select...'" ng-value="'Select...'" ng-click="isp.sources = 'Select...'"></radio>
					<label>Select...</label>
				</div>
			</div>
			<ul class="flexbox flex-wrap text-size-sm sources-box" ng-if="isp.options.tracks && isp.sources == 'Select...'">
				<li class="flexbox flex-align-center" ng-repeat="(name, source) in isp.positionSources">
					<checkbox ng-model="isp.positionSources[name]"></checkbox>
					<label>{{name}}</label>
				</li>
			</ul>
		</div>
		<div class="flexbox">
			<div class="flexbox flex-align-center flex-1">
				<toggle ng-model="isp.options.hazmat"></toggle>
				<label>HAZMAT</label>
			</div>
			<div class="flexbox flex-align-center flex-1">
				<toggle ng-model="isp.options.voyage"></toggle>
				<label>Voyage</label>
			</div>
		</div>
	</section>
	<section>
		<div class="row flex-justify-end">
			<button ng-disabled="!isp.canSubmit()" ng-click="isp.submit()" class="seg positive rounded sm">SUBMIT</button>
		</div>
	</section>
</div>
<style>
	#integrated-ship-profile-panel toggle + label,
	#integrated-ship-profile-panel checkbox + label,
	#integrated-ship-profile-panel radio + label {
		margin-left: 7px;
	}
	#integrated-ship-profile-panel > section {
		padding-left: 0;
		padding-right: 0;
	}
	#integrated-ship-profile-panel > #options > #vessel-tracks {
		margin-bottom: 13px;
	}
	#integrated-ship-profile-panel > #options > #vessel-tracks > div > #vessel-track-modes > label + radio {
		margin-left: 17px;
	}
	#integrated-ship-profile-panel > #options > #vessel-tracks > ul.sources-box {
		margin-top: 11px;
		margin-bottom: -7px;
	}
	#integrated-ship-profile-panel > #options > #vessel-tracks > ul.sources-box > li {
		width: 25%;
		margin-bottom: 7px;
	}
	#integrated-ship-profile-panel > section:last-child {
		padding-bottom: 8px;
		position: sticky;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: white;
	}
</style>
