<div id="timeline_legend_ISP" style="display:flex">
    <div class="flex-1">
        <span class="title">
            SSN Voyages
        </span>
        <div class="item">
             <img src="./extensibility/modules/vessels/isp/etalastport.png"/>
            <span class="label">Estimated Time of Arrival Next Port</span>

        </div>
         <div class="item">
             <img src="./extensibility/modules/vessels/isp/etdlastport.png"/>
            <span class="label">Estimated Time of Departure Next Port</span>

        </div>
        <div class="item">
             <img src="./extensibility/modules/vessels/isp/etanextport.png"/>
            <span class="label">Estimated Time of Arrival Last Port</span>

        </div>
        <div class="item">
            <img src="./extensibility/modules/vessels/isp/etdnextport.png"/>
            <span class="label">Estimated Time of Departure Last Port</span>
        </div>
        <div class="item">
             <img src="./extensibility/modules/vessels/isp/eta.png"/>
            <span class="label">Estimated Time of Arrival Port of Call</span>

        </div>
        <div class="item">
           <img src="./extensibility/modules/vessels/isp/etd.png"/>
            <span class="label">Estimated Time of Departure Port of Call</span>

        </div>
        <div class="item">
             <img src="./extensibility/modules/vessels/isp/ata.png"/>
            <span class="label">Actual Time of Arrival Port of Call</span>

        </div>
        <div class="item">
            <img src="./extensibility/modules/vessels/isp/atd.png"/>
            <span class="label">Actual Time of Departure Port of Call</span>

        </div>
    </div>
    <div class="flex-1">
        <span class="title">
            Has Hazmat On Board?
        </span>
        <div class="item">
            <div class="square" style="background-color:rgba(190,0,0,0.2)"></div>
            <span class="label">Yes</span>
        </div>
        <div class="item">
            <div class="square" style="background-color:rgba(255,255,255,1)"></div>
            <span class="label">No</span>
        </div>
    </div>
</div>


<style>
    #timeline_legend_ISP .item{
        display: flex;
        margin: 5px;
    }
      #timeline_legend_ISP .item img{
        height:15px;
        width:15px;
        margin-right: 5px;
    }
    #timeline_legend_ISP .item .square{
        width: 20px;
        height: 20px;
        /*border-radius: 50%;*/
        margin-right: 5px;
        border: 1px solid rgba(0,0,0,0.5);
    }
    #timeline_legend_ISP .title{
        font-weight: bold;
    }
    #timeline_legend_ISP .item i{
        float:left;
        margin-right: 5px;
    }
</style>
