<div class="abm-form">
	<section>
		<div style="width: 100%;">
			<div class="row">
				<div class="flexbox flex-direction-vertical flex-1">
					<label class="text-size-sm">Name <span class="text-color-warning"><strong>(*)</strong></span></label>
					<input ng-disabled="!scope.isBeingEdited()" style="max-width: 50%;" class="seg text-size-sm" ng-model="scope.properties.name" />
				</div>
				<div class="float-right text-size-sm" style="margin-top: -23px;">
					<span class=" text-color-warning"><strong>(*)</strong></span> fields are mandatory
				</div>
			</div>
			<div class="row">
				<div class="column flex-1">
					<label class="text-size-sm">Description</label>
					<textarea ng-disabled="!scope.isBeingEdited()" class="seg text-size-sm" style="width: 100%;" ng-model="scope.properties.description"></textarea>
				</div>
			</div>
		</div>
	</section>
	<!-- Type -->
	<section>
		<div class="row">
			<div class="column flex-1" style="max-width: 50%;">
				<label class="text-size-sm">Type <span class="text-color-warning"><strong>(*)</strong></span></label>
				<combo ng-disabled="!scope.isBeingEdited() || scope.properties.id" ng-change="scope.template.functions.changeType();" ng-model="scope.template.value" options="option.id as option.name for option in scope.template.templateOptions"></combo>
			</div>
		</div>
		<div class="content">
			<!-- EXECPTION FOR FROMAREATOAREA TEMPLATE -->
			<div class="area-to-area" ng-if="scope.template.name === 'FromAreaToArea'">
				<div class="row">
					<div class="flexbox flex-direction-vertical flex-1" style="max-width: 100%;">
						<span><label class="text-size-sm"><span>AOIs</span></label></span>
						<ul class="error-box" ng-if="scope.aois.area_to_area_model.length > 1">
							<li>You can only select 1 AOI for each field.</li>
						</ul>
						<feature-selector ng-model="scope.template.area_to_area_model" ng-disabled="!scope.isBeingEdited()" restrict-to="AOI"></feature-selector>
					</div>
				</div>
				<div class="row">
					<div class="flexbox flex-direction-vertical flex-1">
						<span>
							<label class="text-size-sm"><span>Area of Departure</span><span class="text-color-warning">*</span></label>
							<button style="display: inline; margin-left: -6px;" ng-if="scope.template.templateFields[0].description" title="{{scope.template.templateFields[0].description}}" class="seg primary round xs inline-block"><i icon="info"></i></button>
						</span>
						<button ng-disabled="!scope.isBeingEdited()" class="seg primary rounded sm" style="margin-bottom: 5px; width: 130px;" ng-click="scope.template.functions.goToAOI(scope.template.templateFields[0].value)" ng-if="scope.template.templateFields[0].value">
							Go to added AOI
						</button>
						<span class="text-size-sm" style="display: flex; align-items: center;">
							<button ng-disabled="!scope.isBeingEdited()" ng-class="!scope.template.templateFields[0].value ? 'primary' : 'primary-reverse'" class="seg round sm margin-right" style="display: inline;" ng-click="scope.template.functions.addSelectedAreaToValue(scope.template.templateFields, 0)">
								<i icon="{{ !scope.template.templateFields[0].value ? 'circle-plus' : 'circle-minus' }}"></i>
							</button>
							{{ !scope.template.templateFields[0].value ? 'Add selected AOI to Area of Departure' : 'Remove added AOI of Area of Departure' }}
						</span>
					</div>
				</div>
				<div class="row">
					<div class="flexbox flex-direction-vertical flex-1">
						<span>
							<label class="text-size-sm"><span>Area of Arrival</span><span class="text-color-warning">*</span></label>
							<button style="display: inline; margin-left: -6px;" ng-if="scope.template.templateFields[1].description" title="{{scope.template.templateFields[1].description}}" class="seg primary round xs inline-block"><i icon="info"></i></button>
						</span>
						<button ng-disabled="!scope.isBeingEdited()" class="seg primary rounded sm" style="margin-bottom: 5px; width: 130px;" ng-click="scope.template.functions.goToAOI(scope.template.templateFields[1].value)" ng-if="scope.template.templateFields[1].value">
							Go to added AOI
						</button>
						<span class="text-size-sm" style="display: flex; align-items: center;">
							<button ng-disabled="!scope.isBeingEdited()" ng-class="!scope.template.templateFields[1].value ? 'primary' : 'primary-reverse'" class="seg round sm margin-right" style="display: inline;" ng-click="scope.template.functions.addSelectedAreaToValue(scope.template.templateFields, 1)">
								<i icon="{{ !scope.template.templateFields[1].value ? 'circle-plus' : 'circle-minus' }}"></i>
							</button>
							{{ !scope.template.templateFields[1].value ? 'Add selected AOI to Area of Arrival' : 'Remove added AOI of Area of Arrival' }}
						</span>
					</div>
				</div>
				<div class="row">
					<div class="flexbox flex-direction-vertical flex-1" style="max-width: 50%;">
						<span>
							<label class="text-size-sm"><span>Maximum Voyage Duration</span><span class="text-color-warning">*</span></label>
							<button style="display: inline; margin-left: -6px;" ng-if="scope.template.templateFields[2].description" title="{{scope.template.templateFields[2].description}}" class="seg primary round xs inline-block"><i icon="info"></i></button>
						</span>
						<input ng-disabled="!scope.isBeingEdited()" class="seg text-size-sm" ng-model="scope.template.templateFields[2].value">
					</div>
				</div>
			</div>
			<!-- DEFAULT CODE -->
			<div class="row" ng-repeat="field in scope.template.templateFields" ng-if="scope.template.name !== 'FromAreaToArea'">
				<div class="flexbox flex-direction-vertical flex-1" style="max-width: 50%;" ng-style="(field.name === 'processedArea') && {'max-width':'100%'}">
					<span>
						<label class="text-size-sm"><span bind-template="field.label"></span><span class="text-size-sm text-color-warning margin-top-sm"> <strong>(*)</strong></span></label>
						<button style="display: inline; margin-left: -6px;" ng-if="field.description" title="{{field.description}}" class="seg primary round xs inline-block"><i icon="info"></i></button>
					</span>
					<ul class="error-box" ng-if="field.name === 'processedArea' && field.value.length > 1">
						<li>You can only select 1 AOI for each surveillance.</li>
					</ul>
					<div ng-if="field.unit == 'meters per second' || field.unit == 'm/s' || field.unit == 'meter per second' || field.unit == 'meters per seconds'">
						<div ng-if="scope.speedUnits() !== field.labelUnits">{{field.unitChanged()}}</div>
					</div>
					<div ng-if="field.unit == 'meters'">
						<div ng-if="scope.distanceUnits() !== field.labelUnits">{{field.unitChanged()}}</div>
					</div>
					<div ng-if="field.unit == 'seconds'">
						<div ng-if="scope.timeUnits() !== field.labelUnits">{{field.unitChanged()}}</div>
					</div>
					<!-- type: string -->
					<input ng-disabled="!scope.isBeingEdited()" ng-if="field.type === 'string' && field.unit !== 'decimal degrees' && field.unit !== 'decimal degree' && field.unit !== 'ISO8601 format (HH:mm:ss.SSS)'" class="seg text-size-sm" ng-model="field.value" style="width: 100%;"/>
					<!-- type: number -->
					<input ng-disabled="!scope.isBeingEdited()" ng-if="(field.type === 'double' || field.type === 'int' || field.type === 'long') && field.unit !== 'ISO8601 format (HH:mm:ss.SSS)'" class="seg text-size-sm" ng-model="field.labelValue" ng-change="field.changeValue()" type="number" min="{{field.minValue}}" max="{{field.maxValue}}" ng-attr-step="{{field.maxValue.indexOf('.') !== -1 ? 0.1 : undefined }}">
					<!-- type: datetime -->
					<clock min="scope.minClock()" max="scope.maxClock()" ng-disabled="!scope.isBeingEdited()" ng-if="field.unit === 'ISO8601 format (HH:mm:ss.SSS)'" ng-model="field.value"></clock>
					<combo ng-disabled="!scope.isBeingEdited()" ng-if="field.type === 'combo'" placeholder="{{field.label}}" ng-model="field.value" options="option for option in field.options"></combo>
					<feature-selector ng-disabled="!scope.isBeingEdited()" ng-if="field.name === 'processedArea'" ng-model="field.value" config="field.openInSelectionMode" restrict-to="AOI"></feature-selector>
				</div>
			</div>

		</div>
	</section>
	<!-- AOIs -->
	<section ng-if="scope.aois.show">
		<label class="text-size-sm">AOIs<span class="text-size-sm text-color-warning margin-top-sm"> <strong>(*)</strong></span></label>
		<ul class="error-box" ng-if="service.aois.selectedAreas.length > 1">
			<li>You can only select 1 AOI for each surveillance</li>
		</ul>
		<feature-selector ng-disabled="!scope.isBeingEdited()" ng-model="scope.aois.selectedAreas" config="scope.aois.openInSelectionMode" restrict-to="AOI"></feature-selector>
	</section>
	<!-- Vessels of interest -->
	<section>
		<div class="flexbox flex-align-center flex-1 toggle">
			<toggle ng-disabled="!scope.isBeingEdited()" class="margin" ng-model="scope.vessels.active"></toggle>
			<label class="text-size-sm">Vessels</label>
			<combo ng-disabled="!scope.isBeingEdited()" ng-if="scope.vessels.active" placeholder="Mode" ng-model="scope.vessels.mode" options="option for option in scope.vessels.modeOptions"></combo>
		</div>
		<div class="flexbox flex-direction-vertical content" ng-if="scope.vessels.active">
			<!-- Vessels List -->
			<div class="row" ng-if-start="scope.vessels.mode === 'Vessel list' && !scope.vessels.vesselList.partialResults.length">
				<button ng-disabled="!scope.isBeingEdited()" class="seg primary sm round" ng-click="scope.vessels.functions.addRow()"><i icon="circle-plus"></i></button>
			</div>
			<div class="row body flex-direction-vertical" ng-repeat="row in scope.vessels.vesselList.queryAttributes">
				<div class="row">
					<span class="text-size-sm flex-1 index">
						<button ng-disabled="!scope.isBeingEdited()" class="seg primary sm round margin-right" ng-click="scope.vessels.functions.removeRow(row)"><i icon="circle-minus"></i></button>
					</span>
					<span class="text-size-sm flex-1">
						<combo ng-disabled="!scope.isBeingEdited()" ng-model="row.type" options="option.value as option.label for option in scope.vessels.vesselList.queryAttributeOptions"></combo>
					</span>
					<span class="text-size-sm flex-1">
						<input ng-disabled="!scope.isBeingEdited()" ng-if="!(row.type === 'flagState' || row.type === 'shipType')" type="text" class="seg text-size-sm" style="width: 100%;" ng-model="row.value" placeholder="Use * as wildcard">
						<combo ng-disabled="!scope.isBeingEdited()" ng-if="row.type === 'flagState'" class="small flex-1" change-callback="scope.vessels.functions.changeCallbackFlagState" placeholder="Vessel Flag" options="option.value as option.name for option in scope.vessels.vesselList.flagsOptions" ng-model="row.value"></combo>
						<combo ng-disabled="!scope.isBeingEdited()" ng-if="row.type === 'shipType'" class="small flex-1" change-callback="scope.vessels.functions.changeCallbackVesselType" placeholder="Vessel Type" options="option.value as option.name for option in scope.vessels.vesselList.shipTypesOptions" ng-model="row.value"></combo>
					</span>
				</div>
			</div>
			<div class="row" ng-if-end>
				<button ng-disabled="!scope.isBeingEdited()" class="seg positive rounded sm" ng-click="scope.vessels.functions.searchVessels()">Search Vessels</button>
				<i ng-if="scope.vessels.vesselList.loading" icon="loading"></i>
			</div>
			<div class="row" ng-if-start="scope.vessels.vesselList.partialResults.length">
				<div class="column">
					<combo ng-disabled="!scope.isBeingEdited()" ng-model="scope.vessels.vesselList.inNotIn" options="option for option in scope.vessels.inNotInOptions"></combo>
				</div>
			</div>
			<div ng-if-end class="row" style="flex-direction: column; align-items: flex-start;">
				<label class="text-size-sm" ng-if="scope.vessels.vesselList.EMSAidNotFound">Vessel properties not found, showing vessel's EMSA ID from surveillance</label>
				<ul style="max-height: 200px; width: 100%;" class="seg" id="vessels-results" scrollable>
					<li class="flexbox flex-1" ng-repeat="vessel in scope.vessels.vesselList.partialResults">
						<checkbox ng-disabled="!scope.isBeingEdited()" ng-model="vessel.selected"></checkbox>
						<label>{{ scope.vessels.functions.vesselGetLabel(vessel) }}</label>
					</li>
				</ul>
				<button ng-disabled="!scope.isBeingEdited()" class="seg positive rounded sm" ng-click="scope.vessels.vesselList.partialResults = []" style="margin-top: 6px;">Reset Search</button>
			</div>
			<!-- Filters -->
			<div class="row" ng-if-start="scope.vessels.mode === 'Filter'">
				<div class="column">
					<toggle ng-disabled="!scope.isBeingEdited()" ng-model="scope.vessels.filter.exactMatch"></toggle>
					<label class="text-size-sm">Exact match</label>
				</div>
			</div>
			<div class="row" style="max-width: 380px;">
				<label style="min-width: 52px;" class="text-size-sm">Flags</label>
				<combo ng-disabled="!scope.isBeingEdited()" class="flex-1" ng-model="scope.vessels.filter.flagsInNotIn" options="option for option in scope.vessels.inNotInOptions"></combo>
				<multi-dropdown ng-disabled="!scope.isBeingEdited()" class="flex-3 margin" label="Flags" options="scope.vessels.filter.flagsOptions" results="scope.vessels.filter.FlagState" to-string="{{true}}"></multi-dropdown>
			</div>
			<div class="row" style="max-width: 380px;" ng-if-end>
				<label class="text-size-sm">Ship types</label>
				<combo ng-disabled="!scope.isBeingEdited()" class="flex-1" ng-model="scope.vessels.filter.shipTypesInNotIn" options="option for option in scope.vessels.inNotInOptions"></combo>
				<multi-dropdown ng-disabled="!scope.isBeingEdited()" class="flex-3 margin" label="Ship Types" options="scope.vessels.filter.shipTypesOptions" results="scope.vessels.filter.ShipType" to-string="{{true}}"></multi-dropdown>
			</div>
		</div>
	</section>
	<!-- Other info -->
	<section>
		<div class="row">
			<div class="column flex-1" style="max-width: 50%;">
				<toggle ng-disabled="!scope.isBeingEdited()" ng-model="scope.properties.startActive"></toggle>
				<label class="text-size-sm">Start date</label>
				<div class="content" ng-if="scope.properties.startActive">
					<datetime ng-disabled="!scope.isBeingEdited()" ng-model="scope.properties.start"></datetime>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column flex-1" style="max-width: 50%;">
				<toggle ng-disabled="!scope.isBeingEdited()" ng-model="scope.properties.stopActive"></toggle>
				<label class="text-size-sm">Stop date</label>
				<span class="text-size-sm text-color-warning" ng-if="scope.properties.start > scope.properties.stop">Stop date must be after Start date</span>
				<div class="content" ng-if="scope.properties.stopActive">
					<datetime ng-disabled="!scope.isBeingEdited()" ng-model="scope.properties.stop" min="scope.properties.start"></datetime>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column flex-1">
				<toggle ng-disabled="!scope.isBeingEdited()" class="margin" ng-model="scope.properties.distributionList.active"></toggle>
				<label class="text-size-sm">Distribution List</label>
				<div class="content" ng-if="scope.properties.distributionList.active">
					<div class="row">
						<combo ng-disabled="!scope.isBeingEdited()" ng-model="scope.properties.distributionList.value" placeholder="Distribution List" options="option.id as option.name for option in scope.properties.distributionList.distributionListOptions" ng-change="scope.properties.distributionList.functions.changeDistributionList()"></combo>
					</div>
					<div class="row">
						<textarea ng-disabled="!scope.isBeingEdited()" class="seg text-size-sm" style="width: 50%; resize: none;" ng-model="scope.properties.distributionList.users" readonly></textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column flex-1" style="max-width: 50%;">
				<label class="text-size-sm">Alert Policy <span class="text-color-warning"><strong>(*)</strong></span></label>
				<combo ng-disabled="!scope.isBeingEdited()" ng-model="scope.properties.alertPolicy.value" options="option.value as option.label for option in scope.properties.alertPolicy.alertPolicyOptions"></combo>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<toggle ng-disabled="!scope.isBeingEdited()" ng-model="scope.properties.emailNotification"></toggle>
				<label class="text-size-sm">Email notification</label>
			</div>
			<div class="column">
				<toggle ng-disabled="!scope.isBeingEdited()" ng-model="scope.properties.activateSurveillance"></toggle>
				<label class="text-size-sm">Activate Surveillance</label>
			</div>
		</div>
	</section>
</div>