<window-title ng-init="portCommandInfo.getDetails(port)">
	<flag flag="{{port.get('DETAILS')?port.get('DETAILS').COUNTRY_CODE:port.get('countryCode')}}" class="size-sm border-radius-round"></flag>
	<span class="flex-1">{{portCommandInfo.getLabel(port)}}</span>
	<button ng-click="portCommandInfo.configMode = !portCommandInfo.configMode" class="seg primary round sm" ng-class="{active: portCommandInfo.configMode}">
		<i icon="cog"></i>
	</button>
</window-title>
<window-content>
	<panel id="config" scrollable class="border-bottom-radius-outer" ng-if="portCommandInfo.configMode">
		<ul class="seg">
			<li class="selectable" ng-repeat="(key, option) in portCommandInfo.displayPreferences">
				<checkbox ng-checked="option.visible" ng-click="portCommandInfo.toggleDisplayPreference(key)"></checkbox>
				<label class="flexbox flex-align-center flex-1" bind-template="option.label"></label>
			</li>
		</ul>
	</panel>
	<panel class="border-bottom-radius-outer" ng-if="!portCommandInfo.configMode">
		<section class="flexbox" id="overview">
			<div id="photo" expand="command-info > window > window-content > panel" style="background-image: url('assets/images/portCI.png')">
				<div id="bottom-toolbar" class="flexbox flex-justify-end">
					<div class="bottom-toolbar-group">
					</div>
					<button class="seg positive rounded favourite-btn" ng-click="portCommandInfo.openFavourites()">
						<i icon="favourite"></i>
					</button>
				</div>
			</div>
			<div id="functions" class="flex-1">
				<button class="seg primary rounded" ng-click="portCommandInfo.listVesselsInPort(port)">List Vessels in Port</button>
				<button class="seg primary rounded" ng-click="portCommandInfo.listVesselsExpected(port)">List Expected Arrivals</button>
				<button class="seg primary rounded" ng-click="portCommandInfo.listVesselsDepartures(port)">List Recent Departures</button>
				<button class="seg primary rounded" ng-disabled="!port.get('portFacility') ? 'disabled' : null" ng-click="portCommandInfo.listPortFacilities(port)">List Port Facilities</button>
			</div>
		</section>
		<section id="basic-info" expand="command-info > window > window-content > panel">
			<pager>
				<pager-content>
					<ul class="flexbox flex-wrap flex-direction-vertical property-list">
						<li ng-repeat="(key, option) in portCommandInfo.displayPreferences" ng-if="option.visible">
							<label bind-template="option.label"></label>
							<value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
						</li>
					</ul>
				</pager-content>
				<div id="section-controls">
                    <pager-controls></pager-controls>
                    <expand-controls></expand-controls>
                </div>
			</pager>
		</section>
	</panel>
</window-content>
<style>
	command-info > window > window-title > flag {
        position: relative;
        overflow: hidden;
        margin-right: 2px;
    }
    command-info > window > window-title > flag > img {
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
</style>