<window>
    <window-title>
        <flag flag="{{port.get('DETAILS').COUNTRY_CODE || port.get('countryCode')}}" class="size-sm border-radius-round"></flag>
        <div id="info">
            <label class="text-size-sm  font-weight-500">{{portTooltip.getLabel(port)}}</label>
        </div>
    </window-title>
    <window-content class="background-color-3">
        <section class="border-bottom-radius">
            <div id="info" class="text-size-xs">
                <div class="flexbox flex-1" ng-repeat="(key, option) in portTooltip.tooltipDisplayPreferences" ng-if="option.visible">
                    <label bind-template="option.label"></label>
                    <b><value bind-template="option.template"></value></b>
                </div>
            </div>
        </section>
    </window-content>
</window>
