@import '~sass/mixins';
@import '~sass/variables';

seg-status-bar {
    @include flexbox;
  
    @include flex-align(center);
  
    @include flex-justify(center);
  
    @include flex-direction(vertical);
  
    background-color: transparentize(color(3), 0.25);
    color: color(9);
    border-radius: border-radius(inner);
    padding: 8px;
    width: 150px;
    font-weight: 700;
  
    & > #coords {
      white-space: nowrap;
    }
  }
  