<ul class="seg background-color-3 border-radius-outer ui-shadow">
    <li>
        <span>ALL</span>
        <button class="seg primary round" (click)="cleanAll()">
            <icon svg-file="clean"></icon>
        </button>
    </li>
    <li *ngFor="let cleanable of getCleanables() | keyvalue">
        <span>{{cleanable.key}}</span>
        <button class="seg primary round" (click)="cleanable.value()">
            <icon svg-file="clean"></icon>
        </button>
    </li>
</ul>