@import '~sass/mixins';

clean {
  text-transform: uppercase;

  & > ul.seg {
    min-width: 170px;

    & > li {
      padding: 0 17px;

      & > span {
        @include flex(1);
      }
    }
  }
}
