<div class="feedback-form">
	<section class="flexbox text-size-sm">
		<div style="width: 100%">
			<div class="flexbox flex-align-center flex-1">
				<label>General data</label>
			</div>
			<div class="flexbox flex-align-center flex-direction-vertical content">
				<div class="row" ng-if="scope.id">
					<div class="flex-1">
						<label>Priority</label>
						<div>
							<span class="text-size-sm fake-input" style="font-weight: bold; width: 80px; display: inline-flex; opacity: 0.50">
								<span ng-if="scope.onSiteObservation.priority">High</span>
								<span ng-if="!scope.onSiteObservation.priority">Low</span>
							</span>
							<button class="seg sm rounded primary margin" style="display: inline-flex;" ng-disabled="!scope.onSiteObservation.functions.canRaisePriority()" ng-click="scope.onSiteObservation.functions.raisePriority()">RAISE PRIORITY</combo>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="flex-1">
						<label>Compiler</label>
						<input disabled class="seg text-size-sm" ng-model="scope.onSiteObservation.compiler" style="width: 100%;"/>
					</div>
					<div class="flex-1 margin" ng-if="!scope.onSiteObservation.observer.comments">
						<label>Reason for no verification</label>
						<combo ng-disabled="!scope.isBeingEdited() || scope.onSiteObservation.active ||
scope.possibleSources.active || scope.linkOtherSpills.active" class="small" ng-model="scope.onSiteObservation.reasonsNoObservation" placeholder="Reason for no verification" options="option for option in scope.onSiteObservation.reasonsNoObservationOptions"></combo>
					</div>
				</div>
				<div class="row" ng-if="scope.onSiteObservation.observer.comments">
					<div class="flex-1">
						<label>User comments (read-only)</label>
						<textarea readonly style="width:100%; height: 90px; opacity: 0.75;" class="seg text-size-sm" ng-model="scope.onSiteObservation.observer.comments"></textarea>
					</div>
				</div>
			</div>			
		</div>
	</section>
	<!-- ON SITE OBSERVATION -->
	<section class="flexbox text-size-sm">
		<div style="width: 100%;">
			<div class="flexbox flex-align-center flex-1 toggle">
				<toggle ng-disabled="!scope.isBeingEdited()" class="margin" ng-model="scope.onSiteObservation.active" ng-change="scope.onSiteObservation.functions.resetReasonsNoObservation()"></toggle>
				<label>On-Site Observation</label>
			</div>
			<div class="flexbox flex-align-center flex-direction-vertical content" ng-if="scope.onSiteObservation.active">
				<div class="row">
					<div class="flex-2">
						<label>Observation Date/Time</label>
						<datetime ng-disabled="!scope.isBeingEdited()" ng-model="scope.onSiteObservation.datetime"></datetime>
					</div>
					<div class="flex-1 margin">
						<label>Method <span class="text-color-warning">*</span></label>
						<combo ng-disabled="!scope.isBeingEdited()" ng-model="scope.onSiteObservation.method" placeholder="Method" options="option for option in scope.onSiteObservation.methodOptions"></combo>
					</div>
				</div>
				<div class="row">
					<div class="flex-2">
						<label>Verified Position</label>
						<coordinate ng-disabled="!scope.isBeingEdited()" label="Center" ng-model="scope.onSiteObservation.position.coordinates"></coordinate>
					</div>
					<div class="flex-1"></div>
				</div>
				<div class="row">
					<div class="flex-direction-vertical" style="width: 100%">
						<div class="flexbox flex-align-center flex-1 toggle">
							<toggle ng-disabled="!scope.isBeingEdited()" ng-model="scope.onSiteObservation.observer.active"></toggle>
							<label style="max-width: fit-content;">Observer (if other than the user logged in)</label>
						</div>
						<div ng-if="scope.onSiteObservation.observer.active" class="flexbox flex-direction-vertical content">
							<div class="row">
								<div class="flex-1">
									<label>Organisation</label>
									<input style="width:100%;" ng-disabled="!scope.isBeingEdited()" class="seg text-size-sm flex-2" ng-model="scope.onSiteObservation.observer.organization" />
								</div>
								<div class="flex-1 margin">
									<label class="text-size-sm">Observer</label>
									<input style="width:100%;" ng-disabled="!scope.isBeingEdited()" class="seg flex-1 text-size-sm" ng-model="scope.onSiteObservation.observer.observer" />
								</div>
								<div class="flex-1 margin">
									<label class="text-size-sm">Country</label>
									<input style="width:100%;" ng-disabled="!scope.isBeingEdited()" class="seg flex-1 text-size-sm" ng-model="scope.onSiteObservation.observer.country.value" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="display: block; align-items: unset;">
					<div class="row toggle">
						<div class="flex-1">
							<label>Report type <span class="text-color-warning">*</span></label>
							<combo ng-disabled="!scope.isBeingEdited()" class="small flex-2" ng-model="scope.onSiteObservation.type" placeholder="Report type" options="option.type as option.type for option in scope.onSiteObservation.typeOptions" ng-change="scope.onSiteObservation.functions.updateSubTypeOptions()"></combo>
						</div>
						<div class="flex-1">
							<label>Sub type</label>
							<combo ng-disabled="(!scope.isBeingEdited() || scope.onSiteObservation.functions.disable())" class="small margin flex-2" ng-model="scope.onSiteObservation.subtype" placeholder="Sub type" options="option for option in scope.onSiteObservation.subTypeOptions"></combo>
						</div>
						<div class="flex-1 margin" style="margin-top: 13px;">
							<toggle ng-disabled="!scope.isBeingEdited() || scope.onSiteObservation.type === 'Nothing observed'" ng-model="scope.onSiteObservation.parameters.active"></toggle>
							<label class="text-size-sm">Parameters</label>
						</div>
					</div>
					<div ng-if="scope.onSiteObservation.parameters.active" class="flexbox flex-direction-vertical content">
						<div class="row">
							<div class="flex-1">
								<label>Verified Width ({{ getDistanceUnits() }})</label>
								<input style="width:100%;" ng-if="scope.isBeingEdited()" class="seg text-size-sm" title="{{getDistanceUnits()}} will be converted to m" ng-model="scope.onSiteObservation.parameters.vwidth">
								<span class="text-size-sm fake-input" ng-if="!scope.isBeingEdited()">{{ (scope.onSiteObservation.parameters.vwidth | distance:"m") || "" }}</span>
							</div>
							<div class="flex-1 margin">
								<label>Verified Length ({{ getDistanceUnits() }})</label>
								<input style="width:100%;" ng-if="scope.isBeingEdited()" class="seg text-size-sm" title="{{getDistanceUnits()}} will be converted to m" ng-model="scope.onSiteObservation.parameters.vlength">
								<span class="text-size-sm fake-input" ng-if="!scope.isBeingEdited()">{{ (scope.onSiteObservation.parameters.vlength | distance:"m") || "" }}</span>
							</div>
							<div class="flex-1 margin">
								<label>Verified Area ({{ getAreaUnits() }})</label>
								<input style="width:100%;" ng-if="scope.isBeingEdited()" class="seg text-size-sm" title="{{getAreaUnits()}} will be converted to m2" ng-model="scope.onSiteObservation.parameters.varea">
								<span class="text-size-sm fake-input" ng-if="!scope.isBeingEdited()">{{ (scope.onSiteObservation.parameters.varea | area:"m2") || ""}}</span>
							</div>
						</div>
						<div class="row" style="max-width: 66%;">
							<div class="flex-1">
								<label>Verified Thickness</label>
								<input style="width:100%;" ng-if="scope.isBeingEdited()" class="seg text-size-sm" ng-model="scope.onSiteObservation.parameters.vthick">
								<span class="text-size-sm fake-input" ng-if="!scope.isBeingEdited()">{{ scope.onSiteObservation.parameters.vthick}}</span>
							</div>
							<div class="flex-1 margin">
								<label>Thickness Estimation Method</label>
								<input style="width:100%;" ng-if="scope.isBeingEdited()" class="seg text-size-sm" ng-model="scope.onSiteObservation.parameters.vthickmethod">
								<span class="text-size-sm fake-input" ng-if="!scope.isBeingEdited()">{{ scope.onSiteObservation.parameters.vthickmethod}}</span>
							</div>
						</div>
						<div class="row" style="max-width: 66%;">
							<div class="flex-1">
								<label>Verified Volume</label>
								<input style="width:100%;" ng-if="scope.isBeingEdited()" class="seg text-size-sm" ng-model="scope.onSiteObservation.parameters.vvolume">
								<span class="text-size-sm fake-input" ng-if="!scope.isBeingEdited()">{{ scope.onSiteObservation.parameters.vvolume}}</span>
							</div>
							<div class="flex-1 margin">
								<label class="seg">BAOAC</label>
								<input style="width:100%;" ng-if="scope.isBeingEdited()" class="seg text-size-sm" ng-model="scope.onSiteObservation.parameters.vbaoac">
								<span class="text-size-sm fake-input" ng-if="!scope.isBeingEdited()">{{ scope.onSiteObservation.parameters.vbaoac}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="flex-1">
						<label>Additional Information</label>
						<textarea ng-disabled="!scope.isBeingEdited()" style="display: block; width: 100%; max-width: unset;" class="seg text-size-sm flex-1" ng-model="scope.onSiteObservation.additionalInformation"></textarea>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- POSSIBLE SOURCE -->
	<section class="flexbox text-size-sm">
		<div style="width: 100%;">
			<div class="flexbox flex-align-center flex-1 toggle">
				<toggle ng-disabled="!scope.isBeingEdited()" class="margin" ng-model="scope.possibleSources.active" ng-change="scope.possibleSources.functions.resetPossibleSources()"></toggle>
				<label>Possible sources</label>
			</div>
			<div class="flexbox flex-align-center flex-direction-vertical content" ng-if="scope.possibleSources.active">
				<div class="row" ng-if-start="scope.possibleSources.newSources.length > 0">
					<label>New Sources</label>
				</div>
				<div class="row flex-direction-vertical new-sources" ng-if-end>
					<!-- NEW SOURCES -->
					<div class="row header" style="margin: 0 !important">
						<span class="text-size-sm flex-1 index">#</span>
						<span class="text-size-sm flex-1">Detected</span>
						<span class="text-size-sm flex-1">Identified</span>
						<span class="text-size-sm flex-1">Type</span>
						<span class="text-size-sm flex-1" ng-if-start="scope.possibleSources.functions.anyVessel('newSources')">IMO</span>
						<span class="text-size-sm flex-1">Name</span>
						<span class="text-size-sm flex-1">MMSI</span>
						<span class="text-size-sm flex-1 button" ng-if-end></span>
						<span class="text-size-sm flex-1" style="margin-right: 28px;">Provide Feedback</span>
					</div>
					<div class="row body flex-direction-vertical" ng-repeat="source in scope.possibleSources.newSources">
						<div class="row">
							<span class="text-size-sm flex-1 index">{{ $index + 1}}</span>
							<span class="text-size-sm flex-1">
								<combo ng-disabled="!scope.isBeingEdited()" ng-model="source.detected" placeholder="Detected" options="option for option in ['No', 'Yes']"></combo>
							</span>
							<span class="text-size-sm flex-1">
								<combo ng-disabled="!scope.isBeingEdited()" ng-model="source.identified" placeholder="Identified" options="option for option in ['No', 'Yes']"></combo>
							</span>
							<span class="text-size-sm flex-1">
								<combo ng-disabled="!scope.isBeingEdited()" ng-model="source.type" placeholder="Type" options="option for option in scope.possibleSources.possibleSourcesType"></combo>
							</span>
							<span class="text-size-sm flex-1" ng-if-start="scope.possibleSources.functions.anyVessel('newSources')">
								<input ng-disabled="!scope.isBeingEdited()" class="seg text-size-sm" ng-model="source.imo" type="text" ng-if="source.type == 'Vessel'">
							</span>
							<span class="text-size-sm flex-1">
								<input ng-disabled="!scope.isBeingEdited()" class="seg text-size-sm" ng-model="source.name" type="text" ng-if="source.type == 'Vessel'">
							</span>
							<span class="text-size-sm flex-1">
								<input ng-disabled="!scope.isBeingEdited()" class="seg text-size-sm" ng-model="source.mmsi" type="text" ng-if="source.type == 'Vessel'">
							</span>
							<span class="text-size-sm flex-1 button" ng-if-end>
								<button ng-disabled="!scope.isBeingEdited()" class="seg sm rounded positive margin" ng-click="scope.possibleSources.functions.fetchVessel($index)" ng-if="source.type == 'Vessel'"><i icon="square-center"></i></button>
							</span>	
							<span class="text-size-sm flex-1">
								<toggle ng-disabled="!scope.isBeingEdited()" ng-model="source.feedback"></toggle>
							</span>
							<button ng-disabled="!scope.isBeingEdited()" class="seg rounded" ng-click="scope.possibleSources.functions.removeSource(source)"><i icon="trash" style="fill: #006ebc;"></i></button>
						</div>
						<div class="row flex-direction-vertical flex-align-center content" style="margin-top: 0; max-width: calc(100% - 10px);" ng-if="source.feedback">
							<div class="row">
								<label>Feedback Info</label>
							</div>
							<div class="row">
								<div class="flex-1">
									<label>Confirmed</label>
									<combo ng-disabled="!scope.isBeingEdited()" ng-model="source.confirmed" placeholder="Confirmed" options="option for option in ['No', 'Yes']"></combo>
								</div>
								<div class="flex-1 margin">
									<label>Connected</label>
									<combo ng-disabled="!scope.isBeingEdited()" ng-model="source.connected" placeholder="Connected" options="option for option in ['No', 'Yes']"></combo>
								</div>
								<div class="flex-1 margin">
									<label>Aligned</label>
									<combo ng-disabled="!scope.isBeingEdited()" ng-model="source.aligned" placeholder="Aligned" options="option for option in ['No', 'Yes']"></combo>
								</div>
								<div class="flex-1 margin">
									<label>Inspected</label>
									<combo ng-disabled="!scope.isBeingEdited()" ng-model="source.inspected" placeholder="Inspected" options="option for option in ['No', 'Yes']"></combo>
								</div>
								<div class="flex-2 margin">
									<label>Method Confirmation</label>
									<combo ng-disabled="!scope.isBeingEdited()" class="small flex-1" ng-model="source.method" placeholder="Method Confirmation" options="option.value as option.label for option in scope.possibleSources.methodOptions"></combo>
								</div>
							</div>
							<div class="row">
								<div class="flex-1">
									<label>Additional Info from inspection</label>
									<textarea ng-disabled="!scope.isBeingEdited()" class="seg text-size-sm" style="display: block; width: 100%; max-width: unset;" ng-model="source.additionalInformation"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="flex-1 flexbox flex-justify-end" ng-if="scope.possibleSources.active">
					<button ng-disabled="!scope.isBeingEdited()" class="seg primary rounded md" ng-click="scope.possibleSources.functions.newSource()" title="Add new source">Add new source
					</button>
				</div>
				<!-- REPORTED SOURCES -->
				<div class="row">
					<label>Possible/Reported Sources</label>
				</div>
				<div class="row flex-direction-vertical reported-sources" ng-if="scope.possibleSources.reportedSources.length == 0">
					No sources reported for this Oilspill.
				</div>
				<div class="row flex-direction-vertical reported-sources" ng-if="scope.possibleSources.reportedSources.length > 0" >
					<div class="row header" style="margin: 0 !important">
						<span class="text-size-sm flex-1 index">#</span>
						<span class="text-size-sm flex-1">Detected</span>
						<span class="text-size-sm flex-1">Identified</span>
						<span class="text-size-sm flex-1">Type</span>
						<span class="text-size-sm flex-1">Reported by</span>
						<span class="text-size-sm flex-1" ng-if-start="scope.possibleSources.functions.anyVessel('reportedSources')">IMO</span>
						<span class="text-size-sm flex-1">Name</span>
						<span class="text-size-sm flex-1" ng-if-end>MMSI</span>
						<span class="text-size-sm flex-1">Provide Feedback</span>
					</div>
					<div class="row body flex-direction-vertical" ng-repeat="source in scope.possibleSources.reportedSources">
						<div class="row">
							<span class="text-size-sm flex-1 index">{{ $index + 1}}</span>
							<span class="text-size-sm flex-1">{{ source.detected || "N/A" }}</span>
							<span class="text-size-sm flex-1">{{ source.identified || "N/A" }}</span>
							<span class="text-size-sm flex-1">{{ source.type || "N/A" }}</span>
							<span class="text-size-sm flex-1">{{ source.userReported ? "User" : "Service Provider" }}</span>
							<span class="text-size-sm flex-1" ng-if-start="scope.possibleSources.functions.anyVessel('reportedSources')">{{ source.imo || "N/A" }}</span>
							<span class="text-size-sm flex-1">{{ source.name || "N/A" }}</span>
							<span class="text-size-sm flex-1" ng-if-end>{{ source.mmsi || "N/A" }}</span>
							<span class="text-size-sm flex-1">
								<toggle ng-disabled="!scope.isBeingEdited()" ng-model="source.feedback"></toggle>
							</span>
						</div>
						<div class="row flex-direction-vertical flex-align-center content" style="margin-top: 0; max-width: calc(100% - 10px);" ng-if="source.feedback">
							<div class="row">
								<label>Feedback Info</label>
							</div>
							<div class="row">
								<div class="flex-1">
									<label>Confirmed</label>
									<combo ng-disabled="!scope.isBeingEdited()" ng-model="source.confirmed" placeholder="Confirmed" options="option for option in ['No', 'Yes']"></combo>
								</div>
								<div class="flex-1 margin">
									<label>Connected</label>
									<combo ng-disabled="!scope.isBeingEdited()" ng-model="source.connected" placeholder="Connected" options="option for option in ['No', 'Yes']"></combo>
								</div>
								<div class="flex-1 margin">
									<label>Aligned</label>
									<combo ng-disabled="!scope.isBeingEdited()" ng-model="source.aligned" placeholder="Aligned" options="option for option in ['No', 'Yes']"></combo>
								</div>
								<div class="flex-2 margin">
									<label>Method Confirmation</label>
									<combo ng-disabled="!scope.isBeingEdited()" class="small flex-1" ng-model="source.method" placeholder="Method Confirmation" options="option for option in scope.possibleSources.methodOptions"></combo>
								</div>
							</div>
							<div class="row">
								<div class="flex-1">
									<label>Inspected</label>
									<combo ng-disabled="!scope.isBeingEdited()" ng-model="source.inspected" placeholder="Inspected" options="option for option in ['No', 'Yes']"></combo>
								</div>
								<div class="flex-2 margin">
									<label>Additional Info from inspection</label>
									<input ng-disabled="!scope.isBeingEdited()" class="seg text-size-sm" style="display: block; width: 100%; max-width: unset;" ng-model="source.additionalInformation" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- LINK TO OTHER SPILLS -->
	<section class="flexbox text-size-sm">
		<div style="width: 100%;">
			<div class="flexbox flex-align-center flex-1 toggle">
				<toggle ng-disabled="!scope.isBeingEdited()" class="margin" ng-model="scope.linkOtherSpills.active" ng-change="scope.linkOtherSpills.functions.resetLinkOtherSpills()"></toggle>
				<label>Link to other spills</label>
			</div>
			<div class="flexbox flex-align-center flex-direction-vertical content" ng-if="scope.linkOtherSpills.active">
				<div class="row">
					<label>Oilspill ID</label>
					<input ng-disabled="!scope.isBeingEdited()" class="seg text-size-sm margin" ng-model="scope.linkOtherSpills.spillId" />
					<button ng-disabled="!scope.isBeingEdited()" class="seg sm rounded positive margin" ng-click="scope.linkOtherSpills.functions.fetchSelectedSpillId()"><i icon="square-center"></i></button>
					<div class="flex-1 margin">
						<toggle ng-disabled="!scope.isBeingEdited()" ng-model="scope.linkOtherSpills.parameters.on"></toggle>
						<label class="text-size-sm">Parameters</label>
					</div>
					<div class="flex-1 flexbox flex-justify-end">
						<button ng-disabled="!scope.isBeingEdited()" class="seg primary rounded md" ng-click="scope.linkOtherSpills.functions.associate()">+</button>
					</div>
				</div>
				<div class="row" ng-if="scope.linkOtherSpills.parameters.on">
					<input ng-disabled="!scope.isBeingEdited()" class="seg text-size-sm flux-1 row" ng-model="scope.linkOtherSpills.parameters.generic" />
				</div>
				<div class="row header" style="margin: 0 !important" class="flex-1">
					<span class="text-size-sm flex-1 margin">Source</span>
					<span class="text-size-sm flex-1 margin" style="margin-right: 23px;">Params</span>
				</div>
				<div  class="spills-viewer" ng-if="scope.linkOtherSpills.spills.length > 0">
					<div class="row" ng-repeat="spill in scope.linkOtherSpills.spills" class="flex-1">
						<span class="text-size-sm flex-1 margin">{{spill.source}}</span>
						<span class="text-size-sm flex-1 margin">{{spill.data}}</span>
						<button ng-disabled="!scope.isBeingEdited()" class="seg rounded" ng-click="scope.linkOtherSpills.functions.removeSpill(spill)"><i icon="trash" style="fill: #006ebc;"></i></button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ATTACHMENT -->
	<section class="flexbox text-size-sm">
		<div style="width: 100%;">
			<div class="flexbox flex-align-center flex-1">
				<label>Attachments</label>
			</div>
			<div class="flexbox flex-align-center flex-direction-vertical content">
				<div class="row">
					<button ng-disabled="!scope.isBeingEdited()" class="seg primary rounded sm service-setbtn margin-right" upload="scope.attach.attach(file)">Select File...</button>
				</div>
				<div  class="attachment-viewer" ng-if="scope.attach.attachments.length > 0">
					<div class="row" ng-repeat="attachment in scope.attach.attachments" class="flex-1">
						<button title="Download attachment" ng-if="attachment.fileId" class="seg rounded" ng-click="scope.attach.functions.downloadAttachment(attachment)"><i icon="download" style="fill: #006ebc;"></i></button>
						<span class="text-size-sm margin flex-1">{{attachment.fileName}}</span>
						<button title="Delete attachment" ng-disabled="!scope.isBeingEdited()" class="seg rounded" ng-click="scope.attach.functions.removeAttachment(attachment)"><i icon="trash" style="fill: #006ebc;"></i></button>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>