<window id="app-tdm" class="ui-shadow" draggable focusable ng-init="scope.init()">
	<window-title>
		<label class="flex-1">Traffic Density Maps</label>
		<button class="seg primary round sm" ng-click="scope.info()" ng-disabled="scope.isSubmitDisabled() && scope.id"> <i icon="info"></i> </button>
		<button title="Open Legend & Info" style="margin-left: 5px" class="seg primary round sm" ng-click="scope.close()"> <i icon="close"></i> </button>
	</window-title>
	<window-content>
		<section class="flexbox">
			<div class="flex-1">				
				<div class="row">
					<label class="text-size-sm flex-2">Area</label>
					<combo class="small margin-xs flex-6" placeholder="Area" ng-model="scope.selectedArea" options="option.code as option.name for option in scope.availableAreas" ng-change="scope.getAvailable()"></combo>
				</div>
				<div class="row">
					<label class="text-size-sm flex-2">Ship Type range</label>
					<combo class="small margin-xs flex-6" placeholder="Ship Type" ng-model="scope.selectedShip" options="option.type as option.name for option in scope.availableShips" ng-change="scope.getAvailable()"></combo>
				</div>
				<div class="row">
					<label class="text-size-sm flex-2">Period</label>
					<combo class="small margin-xs flex-6" placeholder="TDM Time" ng-model="scope.selectedPeriod" options="option.type as option.type for option in scope.availablePeriods" ng-change="scope.getAvailable()"></combo>
				</div>
				<div class="content" ng-if="scope.availableDensityMaps">
					<div ng-if="scope.availableDensityMaps.length">
						<label class="text-size-sm">Date range</label>
						<combo class="small margin-xs flex-1" placeholder="Date range" ng-model="scope.selectedDensityMap" options="option as option.range for option in scope.availableDensityMaps"></combo>
					</div>
					<div ng-if="!scope.availableDensityMaps.length" class="text-color-warning text-size-sm">
						No available products for the given selection.
					</div>
				</div>
			</div>
		</section>
		<section class="flex-1">
			<div class="row">
				<button class="flex-1 margin-xs seg positive-reverse rounded" ng-click="scope.reset(true)">RESET</button>
				<button class="flex-1 margin-xs seg positive rounded" ng-disabled="scope.isSubmitDisabled()" ng-click="scope.submit()">SUBMIT</button>
			</div>
		</section>		
	</window-content>
</window>
<style>
	#app-tdm {
		width: 400px;
	}
	#app-tdm .content {
		padding-left: 10px;
		margin-left: 10px;
		margin-top: 10px;
		border-left: 1px solid #dcdcdc;
	}
	#app-tdm .tdm-legend {
		border-left: 1px solid #dcdcdc;
	    padding-left: 7px;
	    margin-left: 7px;
	}
</style>
