<section style="width: 100%;">
	<div>
		<ul style="font-size: 11px; list-style-type: none;">
			<li ng-repeat="(key, value) in scope.fields">
				<span ng-if="value.label"><b>{{value.label}}: </b></span>
				<include template="{{value.template}}" scope="scope"></include>
			</li>
		</ul>
		<br>
	</div>
</section>
<style>
	popup > window > window-content{
		padding: 0px 0px 5px;
		align-items: baseline;
	}
</style>