<window focusable draggable *ngIf="open">
	<window-title>
		{{ title }}
		<button (click)="close()" class="seg primary round sm">
			<icon svg-file="close"></icon>
		</button>
	</window-title>
	<window-content class="content" scrollable>
		<div *ngFor="let inc of templateAndScopes">
			<include [template]="inc.template" [scope]="inc.scope"></include>
		</div>
	</window-content>
</window>