@import '~sass/mixins';
@import '~sass/helpers';
@import '~sass/variables';

seg-layer-info {
  pointer-events: none !important;

  & > window {
    min-width: 280px;
    max-width: 600px;

    & > window-title {
      & button {
        position: absolute !important;
        right: 5px;
        top: 5px;
      }

      & > #timestamp {
        & > i {
          margin-right: 6px;
        }

        & > label {
          white-space: pre-line;
        }
      }
    }

    & > window-content {
      font-size: font-size(sm);
      background: #fff;
      overflow: hidden;
      font-weight: 500;
      padding: 5px;
      max-height: 300px;

      &.expand.expand-element {
        @include flexbox;

        @include flex-direction(vertical);

        padding: 0;
      }

      & > div table {
        border-collapse: collapse;
        text-align: left;
        width: 100%;
        max-width: 600px;

        & th {
          padding: 0.2em 0.2em;
          font-weight: bold;
          background: #eee;
        }

        & th:nth-child(odd) {
          background: #666;
          color: #fff;
        }

        & td {
          background: #fff;
          word-wrap: break-word;
          padding: 3px;
          max-width: 100px;
        }

        & td:nth-child(odd) {
          background: #eee;
        }

        & tr {
          border-bottom-style: solid;
          border-bottom-width: thin;
        }

        & > caption {
          text-align: left;
          font-weight: bold;
          padding: 0.2em 0.2em;
        }
      }
    }
  }
}
