<div id="vessel-tracks-acq" class="flexbox flex-align-center flex-1">
	<div id="vessel-tracks">
		<div class="flexbox flex-align-center" id="toggle">
			<div class="flexbox flex-align-center flex-1">
				<toggle ng-change="vesselTracks.resetVesselTracks()" ng-model="vesselTracks.enabled"></toggle>
				<label>Vessel Tracks</label>
			</div>
		</div>
		<div class="flex-align-center" id="content" ng-if="vesselTracks.enabled">
			<ul class="error-box">
				<li ng-if="vesselTracks.timeStatus.invalid">{{vesselTracks.timeStatus.msg}}</li>
				<li ng-if="vesselTracks.areaStatus.invalid">{{vesselTracks.areaStatus.msg}}</li>
				<li ng-if="vesselTracks.selectionStatus.invalid">{{vesselTracks.selectionStatus.msg}}</li>
			</ul>
			<div class="flexbox flex-2 flex-align-center" id="vessel-track-modes">
				<radio ng-repeat-start="option in vesselTracks.modes" class="seg" ng-checked="vesselTracks.mode == option" ng-click="vesselTracks.mode = option"></radio>
				<label ng-repeat-end>{{option}}</label>
			</div>
			<ul class="sources-box flexbox flex-wrap text-size-sm" ng-if="vesselTracks.mode == 'Select...'">
				<li class="flexbox flex-align-center" ng-repeat="source in vesselTracks.sources.options">
					<checkbox ng-checked="vesselTracks.sources.selected.indexOf(source) != -1" ng-click="vesselTracks.sources.toggleSource(source)"></checkbox>
					<label>{{source}}</label>
				</li>
			</ul>
			<div class="flexbox flex-align-center first-last-option">
				<div class="flexbox flex-align-center flex-1">
					<toggle ng-model="vesselTracks.simple.enabled"></toggle>
					<label>First/Last Positions</label>
				</div>
				<div class="flexbox flex-align-center flex-1" ng-if="vesselTracks.simple.enabled">
					<checkbox ng-checked="vesselTracks.simple.latest" ng-click="vesselTracks.simple.toggleSimpleOptions('latest')"></checkbox>
					<label>Latest</label>
					<checkbox ng-checked="vesselTracks.simple.first" ng-click="vesselTracks.simple.toggleSimpleOptions('first')"></checkbox>
					<label>First</label>
				</div>
			</div>
			<div class="flexbox flex-align-center flex-1 flag-type-option">
				<div class="row">
					<label class="text-size-sm">Flag</label>
					<combo id="countrylist" ng-model="vesselTracks.countryList.selected" options="option.value as option.label for option in vesselTracks.countryList.options" change-callback="vesselTracks.countryList.changeCallback" placeholder="Select flag"></combo>
					<label class="text-size-sm" style="margin-left: 15px;">Type</label>
					<combo id="countrylist" ng-model="vesselTracks.vesselTypeList.selected" options="option.value as option.label for option in vesselTracks.vesselTypeList.options" change-callback="vesselTracks.vesselTypeList.changeCallback" placeholder="Select vessel type"></combo>
				</div>
			</div>
			<div class="flexbox flex-align-center ssn-option">
				<div class="flexbox flex-align-center flex-1">
					<toggle ng-model="ssnEnrichment.enabled"></toggle>
					<label>SSN Enrichment positions</label>
				</div>
			</div>
		</div>
	</div>
	<style>
		#vessel-tracks combo > #container > button > label {
			width: 103px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		#vessel-tracks combo > #container > ul > li > div.option {
			max-width: 135px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		#vessel-tracks{
			width: 100%;
		}
		#vessel-tracks-acq {
			margin-bottom: 8px;
		}
		#vessel-tracks-acq toggle + label,
		#vessel-tracks-acq checkbox + label,
		#vessel-tracks-acq radio + label {
			margin-left: 7px;
		}
		#vessel-tracks-acq > #vessel-tracks > #content .ssn-option,
		#vessel-tracks-acq > #vessel-tracks > #content .first-last-option,
		#vessel-tracks-acq > #vessel-tracks > #content .flag-type-option,
		#vessel-tracks-acq > #vessel-tracks > #content #vessel-track-modes {
			margin-top: 10px;
		}
		#vessel-tracks-acq > #vessel-tracks > #content .flag-type-option > .row > label {
			width: 30px;
		}
		#vessel-tracks-acq > #vessel-tracks > #content {
			padding-left: 10px;
			margin-left: 10px;
			margin-top: 10px;
			border-left: 1px solid #dcdcdc;
		}
		#vessel-tracks-acq > #vessel-tracks > #content > #vessel-track-modes > label:not(:last-child) {
			margin-right: 17px;
		}
		#vessel-tracks-acq > #vessel-tracks > #content > ul.sources-box {
			margin-top: 11px;
			margin-bottom: -8px;
		}
		#vessel-tracks-acq > #vessel-tracks > #content > ul.sources-box > li {
			width: 25%;
			margin-bottom: 8px;
		}
		
	</style>
</div>
