<div id="vessel-track-query-panel" class="text-size-sm">
	<section>
		<vessel-selector></vessel-selector>
	</section>
	<section alias="Time Range" id="time-range">
		<timerange id="options" class="flexbox" from="vesselTrackQuery.timePeriod.from" to="vesselTrackQuery.timePeriod.to">
		</timerange>
	</section>
	<section alias="Options" id="services">
		<div id="vessel-tracks">
			<ul class="error-box" ng-if="!vesselTrackQuery.canSubmit()">
				<li ng-if="!vesselTrackQuery.isVesselSelected()">Select at least one vessel.</li>
				<li ng-if="!vesselTrackQuery.timerangeCheck()">Adjust the time range to less than {{vesselTrackQuery.TRACKS_LIMIT_TIME}} months.</li>
				<li ng-if="!vesselTrackQuery.sourcesCheck()">Select at least one source.</li>
			</ul>
			<div class="flexbox flex-align-center">
				<div class="flexbox flex-align-center flex-1">
					<label>Position sources</label>
				</div>
				<div class="flexbox flex-2 flex-align-center" id="vessel-track-modes">
					<radio ng-repeat-start="option in vesselTrackQuery.services.vesselTracks.modes" class="seg" ng-checked="vesselTrackQuery.services.vesselTracks.mode == option" ng-click="vesselTrackQuery.services.vesselTracks.mode = option"></radio>
					<label ng-repeat-end>{{option}}</label>
				</div>
			</div>
			<ul class="flexbox flex-wrap text-size-sm sources-box" ng-if="vesselTrackQuery.services.vesselTracks.mode == 'Select...'">
				<li class="flexbox flex-align-center" ng-repeat="source in vesselTrackQuery.services.vesselTracks.sources.options">
					<checkbox ng-checked="vesselTrackQuery.services.vesselTracks.sources.selected.indexOf(source) != -1" ng-click="vesselTrackQuery.services.vesselTracks.sources.toggleSource(source)"></checkbox>
					<label>{{source}}</label>
				</li>
			</ul>
		</div>
		<div class="flexbox track-option-line flex-1">
			<div class="flexbox flex-align-center flex-1">
				<toggle ng-model="vesselTrackQuery.services.vesselTracks.simple.enabled"></toggle>
				<label>First/Last Positions</label>
			</div>
			<div class="flexbox flex-align-center flex-1" ng-if="vesselTrackQuery.services.vesselTracks.simple.enabled">
				<checkbox ng-checked="vesselTrackQuery.services.vesselTracks.simple.latest" ng-click="vesselTrackQuery.services.vesselTracks.simple.toggleSimpleOptions('latest')"></checkbox>
				<label>Latest</label>
				<checkbox ng-checked="vesselTrackQuery.services.vesselTracks.simple.first" ng-click="vesselTrackQuery.services.vesselTracks.simple.toggleSimpleOptions('first')"></checkbox>
				<label>First</label>
			</div>
		</div>
		<div class="flexbox track-option-line flex-1">
			<div class="flexbox flex-align-center flex-1" ng-if="vesselTrackQuery.ssnEnrichment">
				<toggle ng-model="vesselTrackQuery.services.ssnEnrichment.enabled"></toggle>
				<label>SSN Enrichment</label>
			</div>
		</div>
	</section>
	<section>
		<div class="row flex-justify-end">
			<button ng-disabled="!vesselTrackQuery.canSubmit()" ng-click="vesselTrackQuery.submit()" class="seg positive rounded sm">SUBMIT</button>
		</div>
	</section>
</div>
<style>
	#vessel-track-query-panel toggle + label,
	#vessel-track-query-panel checkbox + label,
	#vessel-track-query-panel radio + label {
		margin-left: 7px;
	}
	#vessel-track-query-panel > section {
		padding-left: 0;
		padding-right: 0;
	}
	#vessel-track-query-panel > section#time-range > #options > :not(:last-child) {
		margin-right: 8px;
	}
	#vessel-track-query-panel > section#services > #vessel-tracks {
		margin-bottom: 13px;
	}
	#vessel-track-query-panel > section#services > #vessel-tracks > div > #vessel-track-modes > label:not(:last-child) {
		margin-right: 17px;
	}
	#vessel-track-query-panel > section#services > #vessel-tracks > ul.sources-box {
		margin-top: 11px;
		margin-bottom: -8px;
		width: 100%;
	}
	#vessel-track-query-panel > section#services > #vessel-tracks > ul.sources-box > li {
		width: 25%;
		margin-bottom: 8px;
	}
	#vessel-track-query-panel > section:last-child {
		padding-bottom: 8px;
	    position: sticky;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    background-color: white;
	}
	#vessel-track-query-panel .track-option-line {
		margin-bottom: 13px;
	}

	#vessel-track-query-panel .track-sub-option-line {
		margin-bottom: 13px;
	}

	#vessel-track-query-panel .track-sub-option-line label {
		margin-left: 10px;
		margin-right: 5px;
	}

	#vessel-track-query-panel .sub-option-label {
		margin-right: 5px;
	}

	#vessel-track-query-panel .track-sub-option-line input,
	#vessel-track-query-panel .track-option-line input {
		width: 42px;
}

</style>
