<div class="legend">
    <div class="row">
        <div class="column" ng-repeat="section in sections">
            <div class="title">{{section.title}}</div>
            <div class="legend-item" ng-repeat="legend in section.symbologies">
                <i class="icon-size-md {{legend.class}}" style="{{legend.style}}" icon="track-position"></i>
                <span class="label">{{legend.label}}</span>
            </div>
        </div>
    </div>
</div>
<style>
    .legend-item i {
        width: 25px;
        height: 25px;
        stroke-width: 2;
        stroke: #000;
    }
</style>
