<window>
	<window-title>
		<div id="info">
			{{getLabel(trackPosition)}}
		</div>
	</window-title>
	<window-content class="background-color-3">
		<section>
			<div id="info" class="text-size-xs">
                <div *ngFor="let object of tracksTooltipDisplayPreferences | keyvalue">
					<ng-container *ngIf="object.value.visible">
						<b><label include [template]="object.value.label" [scope]="this"></label></b>: <value include [template]="object.value.template" [scope]="this"></value>
					</ng-container>
                </div>
            </div>
		</section>
		<section *ngIf="trackPosition.get('ssn_event')">
			<div id="info" class="text-size-xs">
				<div><b><label>Notification</label></b>: <value>{{trackPosition.get('ssn_event').Notification}}</value></div>
				<div><b><label>ShipCallId</label></b>: <value>{{trackPosition.get('ssn_event').ShipCallId}}</value></div>
				<div><b><label>Sender</label></b>: <value>{{trackPosition.get('ssn_event').Sender}}</value></div>
				<div><b><label>Time of Event</label></b>: <value><span timestamp="trackPosition.get('ssn_event').Date"></span></value></div>
				<div><b><label>Hazmat On Board</label></b>: <value>{{trackPosition.get('ssn_event').HazmatOnBoardYorN}}</value></div>
			</div>
		</section>
	</window-content>
</window>
<style>
	window > window-title > #info > * {
		white-space: nowrap;
	}
	window > window-content > section {
		white-space: nowrap;
	}
</style>
<!--
<style *ngIf="trackPosition.get('isTrackLine')">
	window {
		display: none !important;
	}
	tooltip:after{
		display: none !important;
	}
</style>
-->