<pager id="tab-controls">
	<pager-content>
		<ul *ngIf="tabs">
			<li *ngFor="let tab of tabs" (click)="selectTab(tab)" [class.active]="tab.open" title="{{tab.label}}" [attr.disabled]="tab.disabled ? true : null">
				<label>{{tab.label}}</label>
			</li>
			<li *ngFor="let tab of dynamicTabs" (click)="selectTab(tab)" [class.active]="tab.open" title="{{tab.label}}" [attr.disabled]="tab.disabled ? true : null">
				<label>{{tab.label}}</label>
				<button class="seg primary round xs" *ngIf="!tab.persistent" (click)="closeTab(tab)">
					<icon svg-file="close"></icon>
				</button>
			</li>
		</ul>
	</pager-content>
	<pager-controls></pager-controls>
</pager>
<ng-content></ng-content>
<ng-template dynamic-tabs></ng-template>