@import '~sass/mixins';
@import '~sass/variables';

tab-group {
  @include flexbox;

  @include flex-direction(vertical);

  &.primary {
    & > #tab-controls {
      @include linear-gradient(color(2), color(4));

      color: color(3);

      & > pager-content > ul > li {
        &:hover, &.active {
          border-bottom: 3px solid color(5);
        }
      }
    }
  }

  &:not(.primary) {
    & > #tab-controls {
      background-color: color(10);
      color: color(9);

      & > pager-content > ul > li {
        &:hover {
          border-bottom: 3px solid lighten(color(9), 20%);
        }
        &.active {
          border-bottom: 3px solid color(9);
        }
      }
    }
  }

  & > #tab-controls > pager-content > ul > li {
    & > button.primary {
      background: color(5);
    }

    &.active > button.primary {
      background: color(9);
    }
  }

  & > #tab-controls {
    @include flex-direction(horizontal);

    /*@include flex(0 0);*/

    @include flex-align(center);

    padding: 0 8px;

    & > pager-content > ul {
      @include flexbox;

      @include flex(0 0 auto);

      list-style: none;
      height: 29px;

      & > li {
        @include flexbox;

        @include flex-align(center);

        @include flex-justify(center);

        border-bottom: 3px solid transparent;
        font-size: font-size(sm);
        font-weight: 500;
        padding: 4px 8px 0;
        white-space: nowrap;

        &[disabled] {
          opacity: 0.75;
        }

        &.active {
          font-weight: 700;
        }

        & > button {
          margin-left: 8px;
        }
      }
    }

    & > pager-controls > span {
      display: none;
    }

    & > :not(:last-child) {
      margin-right: 8px;
    }
  }

  & > tab {
    .pane{
      @include flex(1 1 auto);

      & > * {
        width: 100%;
      }
    }
  }
}
