<div class="legend emodnet">
	<div class="row">
		<div class="column fullwidth">
			<div class="title">Platform Type</div>
			<div class="legend-item">
				<i class="icon-size-md argo" icon="emodnet"></i>
				<span class="label">Argo Floats/ Profiling</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md drifting" icon="emodnet"></i>
				<span class="label">Drifting Buoys/ Marine Mammal</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md tide-gauge" icon="emodnet"></i>
				<span class="label">Tide Gauge</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md ferrybox" icon="emodnet"></i>
				<span class="label">Ferrybox/Ship</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md gliders" icon="emodnet"></i>
				<span class="label">Gliders</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md mooring" icon="emodnet"></i>
				<span class="label">Mooring/ River Station/ Profiling Mooring</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md others" icon="emodnet"></i>
				<span class="label">Others</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md profiling" icon="emodnet"></i>
				<span class="label">Mini Logger/XBT XCTB Profiles</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md radar" icon="emodnet"></i>
				<span class="label">Radar</span>
			</div>	


			<!-- XXX new legends
			<div class="legend-item">
				<i class="icon-size-md bathy-messages" icon="emodnet"></i>
				<span class="label">Bathy Messages GTS</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md cdt-profiles" icon="emodnet"></i>
				<span class="label">CDT Profiles</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md marine-mammal" icon="emodnet"></i>
				<span class="label">Marine mammal</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md mini-logger" icon="emodnet"></i>
				<span class="label">Mini Logger</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md river-station" icon="emodnet"></i>
				<span class="label">River Station</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md tesac-messages" icon="emodnet"></i>
				<span class="label">TESAC Messages</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md tide-gauge" icon="emodnet"></i>
				<span class="label">Tide Gauge</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md xbt-profiles" icon="emodnet"></i>
				<span class="label">XBT XCTD Profiles</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md tide-gauge-gps" icon="emodnet"></i>
				<span class="label">Tide Gauge GPS</span>
			</div>
		
		-->
			
		</div>
	</div>
</div>

<style>
	.legend-item > i > svg{
		width: 21px;
		height: 21px;
	}

	.legend-item > 	i.argo > svg > * {
		fill: #00FF00;
	}

    .legend-item > i.drifting > svg > * {
		fill: #FFADD4;
	}

    .legend-item > i.ferrybox > svg > * {
		fill: #30363F;
	}

    .legend-item > i.gliders > svg > * {
		fill: #F0AB33;
	}

    .legend-item > i.others > svg > * {
		fill: #ffff00;
	}

    .legend-item > i.profiling > svg > * {
		fill: #0000FF;
	}

    .legend-item > i.mooring > svg > * {
		fill: #DC323B;
	}

    .legend-item > i.radar > svg > * {
		fill: #845A36;
	}
    
    .legend-item > i.tide-gauge > svg > * {
		fill: #ff00ff;
	}
</style>


