<div class="legend sm">
     <div class="row">
        <div class="column fullwidth">
            <div class="legend-item">
                <span class="square green label">Delivered</span>
            </div>
            <div class="legend-item">
                <span class="square  black thin label">Tasked</span>
            </div>
            <div class="legend-item">
                <span class="square green dashed label">Archived</span>
            </div>
            <div class="legend-item">
                <span class="square red thin label">Cancelled</span>
            </div>
            <div class="legend-item">
                <span class="square red thin label">Error</span>
            </div>
            <div class="legend-item">
                <span class="square red thin label">Anomaly</span>
            </div>
            <div class="legend-item">
                <span class="square orange thin label">Pending</span>
            </div>
        </div>
    </div>
</div>
