<div class="fishery-form">
    <section alias="New fishery Event" ng-if="!report.feature">
        <div class="row">
            <div class="flexbox flex-1  margin-right">
                <label class="text-size-sm ">Name</label>
                <input class="margin seg text-size-sm flex-1" ng-model="service.new.name" />
            </div>
            <div class="flexbox flex-1  margin-right">
                <label class="text-size-sm">Description</label>
                <input class="margin seg text-size-sm flex-1" ng-model="service.new.description" />
            </div>
        </div>
        <div class="row">
            <div class="flex-1">
                <coordinate class="stretched" ng-model="service.new.coordinates"></coordinate>
            </div>
        </div>
      </section>
    <section alias="Observation Source">
        <div class="row">
            <datetime class="flex-1" ng-model=service.observationSource.datetime></datetime>
            <combo class="small margin flex-1" ng-model="service.observationSource.type.value" placeholder="Type" options="option for option in service.observationSource.type.options" ng-change="service.observationSource.functions.updateMeth()"></combo>
            <combo class="small  margin flex-1" ng-model="service.observationSource.methodValue" placeholder="Method" options="option for option in service.observationSource.method" ng-disabled="service.observationSource.type.value?'':'disabled'"></combo>
            <!--<input class="margin seg text-size-sm flex-1" ng-if="fishery.observationSource.type.value==='Human Analysis'" ng-model="fishery.observationSource.methodValue" />
        <combo class="margin small flex-1" ng-model="fishery.observationSource.position.value" placeholder="Position" options="option for option in fishery.observationSource.position.options"></combo>-->
        </div>
        <div class="row">
            <div class="flex-1">
                <coordinate class="stretched" ng-model="service.observationSource.position.coordinates"></coordinate>
            </div>
        </div>

        <div class="row">
            <label class="text-size-sm">Observer (if other than the user logged in)</label>
            <toggle ng-model="service.observationSource.observer.active"></toggle>
        </div>

        <div ng-if="service.observationSource.observer.active">
            <div class="row flex-1">
                <div class="flex-2 flexbox margin-right">
                    <label class="text-size-sm  flex-2">Country</label>
                    <combo id="countryList" class="margin small flex-2" style="max-height:100px" ng-model="service.observationSource.observer.country.value" placeholder="Country" options="option.code as option.name for option in service.observationSource.observer.country.options"></combo>
                </div>

                <div class="flex-2 flexbox margin-right">
                    <label class="text-size-sm  flex-2">Organisation</label>
                    <input class="margin seg text-size-sm flex-2" ng-model="service.observationSource.observer.organisation" />
                </div>
            </div>
            <div class="row flex-1">
                <div class="flexbox flex-2  margin-right">
                    <label class="text-size-sm flex-2">Observer</label>
                    <input class="margin seg text-size-sm flex-2" ng-model="service.observationSource.observer.observer" />
                </div>
                <div class="flexbox flex-2  margin-right">
                    <label class="text-size-sm  flex-2">Comments</label>
                    <input class="margin seg text-size-sm flex-2" ng-model="service.observationSource.observer.comments" />
                </div>
            </div>
        </div>
    </section>
    <section alias="Attach">
        <div class="row">
            <button class="seg primary rounded sm fishery-setbtn margin-right" upload="service.attach.attach(file)">Select File...</button>
            <input class="seg text-size-sm flex-1" disabled ng-model="service.attach.attachments[service.attach.attachments.length-1].file.name" /> </div>
        <div scrollable class="attachment-viewer" class="row">
            <div class="row" ng-repeat="attachment in service.attach.attachments" class="flex-1">
                <span class="text-size-sm flex-1 margin" ng-click="service.attach.functions.openAttachment(attachment)">{{attachment.name}}</span>
                <span class="text-size-sm flex-1">{{attachment.path}}</span>
                <button class="seg rounded" ng-click="service.attach.functions.removeAttachment(attachment)"><i icon="trash" style="fill: #006ebc;"></i></button>
            </div>
        </div>
    </section>
</div>
