@import '~sass/mixins';
@import '~sass/variables';

button.seg {
  @include flexbox;

  @include flex-align(center);

  @include flex-justify(center);

  @include button-size($input-size);

  color: color(3);
  fill: color(3);
  font-size: font-size(sm);
  border: none;
  outline: none;
  padding: 0 4px;
  white-space: nowrap;
  position: relative;
  background: none;
  /* ie fix */
  overflow: visible;

  &.main {
  @include linear-gradient(color(1), color(4));

  &:hover {
    background: color(1);
  }

  &.active {
    background: color(2);
  }
  }

  &.primary {
  background: color(4);

  &:hover {
    background: color(5);
  }
  &:active {
    box-shadow: 1px 1px 1px #0060a5;
  }
  }

  &.primary-faded{
    background: color(16);
   &.active, &:hover {
    background: color(5);
  }

}

  &.primary-reverse {
  background: color(3);
  color: color(2);
  fill: color(2);

  &.active, &:hover {
    background: color(11);
  }
  }

  &.positive {
  background: color(12);
  &:hover {
    background: color(5);
  }
  &:active {
    box-shadow: 2px 2px 0px 0px #48863c;
  }
  }

  &.positive-reverse {
  background: color(3);
  color: color(12);
  fill: color(12);
  border: 1px solid color(12);
  &:hover {
    background: color(5);
  }
  &:active {
    box-shadow: 2px 2px 0px 0px #48863c;
  }
  }

  &.round {
  border-radius: 50%;
  padding: 0;
  }

  &.rounded {
  border-radius: border-radius(inner);
  &.rounded-left{
      border-top-left-radius: border-radius(inner);
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: border-radius(inner);
    }
    &.rounded-right{
      border-top-left-radius: 0px;
      border-top-right-radius: border-radius(inner);
      border-bottom-right-radius: border-radius(inner);
      border-bottom-left-radius: 0px;
    }
  }

  @each $size in map-keys($button-size) {
  &.#{$size} {
    @include button-size(button-size($size));

    & > icon {
    @include icon-size(icon-size($size));
    }
  }
  }

  &:disabled {
  opacity: 0.75;
  pointer-events: none;
  }

  & > icon {
  @include icon-size($input-size);
  width:100%;
  }

  & > icon[svg-file*="wedge"] {
  @include icon-size(4px);
  position: absolute;
  bottom: 4px;
  left: 5px;
  width: auto;
  }
}
