@import '~sass/mixins';
@import '~sass/variables';

input.seg {
  font-weight: 400;
  background: none;
  border: none;
  outline: none;

  &[disabled] {
    opacity: 0.75;
  }

  & + placeholder {
    color: color(5);
  }

  &.line {
    border-bottom: 1px solid color(5);
  }


  &:not(.line) {
    @include button-size($input-size);

    border: 1px solid color(5);
    border-radius: border-radius(inner);
    padding: 0 8px;
  }
  &[type=number] {
    padding: 0 0 0 8px;
  }
  &.rounded-left{
    border-top-left-radius: border-radius(inner);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: border-radius(inner);
  }
  &.rounded-right{
    border-top-left-radius: 0px;
    border-top-right-radius: border-radius(inner);
    border-bottom-right-radius: border-radius(inner);
    border-bottom-left-radius: 0px;
  }
}

textarea.seg {
  font-weight: 400;
  background: none;
  outline: none;
  border: 1px solid color(5);
  border-radius: border-radius(inner);
  padding: 8px;
}
