@import '~sass/mixins';
@import '~sass/variables';

ul.seg > li,
ul.default-tooltip > li {
  @include flexbox;
  @include flex-align(center);
  @include flex-wrap(wrap);

  height: button-size(lg);
  font-size: font-size(sm);
  position: relative;

  &:not(:last-child) {
    border-bottom: 1px solid transparentize(color(5), 0.8);
  }

  &:hover,
  &.active {
    & > label {
      background-color: color(13);
    }
  }

  & > checkbox {
    @include flex-align(center);
    @include flex-justify(center);
    @include button-size(button-size(lg));

    background-color: transparentize(color(5), 0.65);
  }

  & > label {
    @include flexbox;
    @include flex-align(center);
    @include flex(1);
    padding: 0 6px;
    height: 100%;

    &.remote-sensing-menu-item, &.forecast-menu-item, &.hfradar-menu-item {
      & > #timestamp {
        text-align: right;
        width: 60px;
      }
      & > span {
        width: 50%;
        overflow: auto;
        max-width: inherit;
        text-overflow: unset;
        white-space: normal;
      }
      & > date {
        width: 50%;
      }
      & > date > datepicker {
        -ms-transform: inherit;
        transform: inherit;
        position: fixed;
        left: inherit;
        top: inherit;
      }
    }

    &.forecast-menu-item, &.hfradar-menu-item {
      & > button {
        margin-left: 10px;
      }
    }

    & > span {
      // overflow: hidden;
      // max-width: 160px;
      // text-overflow: ellipsis;
      // white-space: nowrap;
      overflow: auto;
      max-width: inherit;
      text-overflow: unset;
      white-space: normal;
    }
  }
}

@media (max-width: 1100px){
  .forecast-menu-item > #timestamp {
    width: 55px;
  }
  .forecast-menu-item > button {
    margin-left: 2px;
  }
}

ul.seg > li:hover
{
  background-color: color(13);
}

ul.default-tooltip > li > label, ul.default-tooltip > li > label > span {
  @include flex(1 1 auto);
}

ul.accordeon > li > label > span {
  font-weight: bold;
}

ul.seg-wrapped {
  @include flexbox;
  @include flex-direction(vertical);
  @include flex-wrap(wrap);
}

ul.border-radius-outer {
  & > li:first-child > label {
    @extend .border-top-radius-outer;
  }

  & > li:last-child > label {
    @extend .border-bottom-radius-outer;
  }
}
