@import '~sass/mixins';
@import '~sass/variables';

.placemark-name-input {
    width: 84%;
    margin-left: 2%;
  }
  
  .placemark-label-input {
    width: 56.1%;
    margin-left: 3%;
    margin-right: 5%;
  }
  
  .placemark-line-description {
    border-bottom: 1px solid color(5);
  }
  
  .placemark-line-description div {
    &:first-child {
      float: left;
      padding-top: 6px;
      margin-right: 4%;
    }
  }
  
  .placemark-position-label {
    font-size: 13px;
    margin-top: 12px;
    display: block;
  }
  
  .placemark-line-table-combo-item button {
    width: 53px;
  }
  
  .placemark-description-textarea {
    min-width: 23px;
    line-height: 22px;
    height: 24px;
    border: 1px solid color(4);
    border-radius: 4px;
    padding: 0 8px;
    width: 73.4%;
    resize: vertical;
    max-height: 90px;
  }
  
  .placemark-window-title label {
    width: 100%;
  }
  
  .placemark-line-label {
    display: inline;
  }
  
  .placemark-line-color {
    display: inline;
    float: right;
  }
  
  .placemark-line-color > span {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
  }
  
  .placemark-line-color > div {
    display: inline-block;
  }
  
  .placemark-window-title {
    width: 280px;
  }
  
  .placemark-window-content {
    width: 280px;
  }
  
  .placemark-divider-container {
    span {
      font-size: 12px;
      display: block;
    }
  }
  
  .placemark-line-title {
    font-size: 12px;
  }
  
  .placemark-line {
    margin-bottom: 5px;
    clear: both;
  }
  
  .placemark-line-separator {
    clear: both;
    display: block;
    margin-bottom: 3px;
  }
  
  .placemark-body {
    padding: 8px;
    max-height: 350px;
  }
  
  .placemark-line-table {
    margin-top: 5px;
  }
  
  .placemark-line-table-input-item {
    float: left;
    width: 21%;
    margin-right: 2%;
  }
  
  .placemark-line-table-input-item input {
    width: 100%;
  }
  
  .placemark-line-table-name {
    float: left;
    width: 10%;
    padding-top: 5px;
  }
  
  .placemark-line-table-combo-item {
    float: left;
    width: 21%;
  }
  
  .placemark-divider-container {
    clear: both;
  }
  
  .placemark-footer {
    overflow: auto;
    padding: 4px 10px;
    text-align: right;
    clear: both;
    border-top: 1px solid color(5);
  }
  
  button.placemark-set-button {
    display: inline-block;
    width: 60px;
  }
  
  button.placemark-delete-button {
    display: inline-block;
    margin-right: 5px;
    background: color(15);
  }
  