@import '~sass/mixins';
@import '~sass/variables';

toolbar {
  @include flexbox;

  @include flex-align(center);

  border-radius: border-radius(outer);

  &.primary {
    background: color(3);
    padding: 0 8px;
  }

  &:not(.vertical) {
    &.lg {
      height: button-size(lg);
    }

    & > :not(:last-child) {
      margin-right: 10px;
    }
  }

  &.vertical {
    @include flex-direction(vertical);

    &.lg {
      width: button-size(lg);
    }

    & > :not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
