@import '~sass/mixins';
@import '~sass/variables';

tooltip {
  position: fixed;
  left: 0;
  top: 0;

  &:not(:empty):after {
    @include transform(translate(-50%, -1px));

    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid color(3);
  }

  &.tooltip-right:not(:empty):after {
    @include transform(translate(-100%, -1px));

    top: 50%;
    left: 0%;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 6px solid color(3);
  }

  &.tooltip-left:not(:empty):after {
    @include transform(translate(100%, -1px));

    top: 50%;
    left: auto;
    right: 0%;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid color(3);
  }

  &.tooltip-bottom:not(:empty):after {
    @include transform(translate(-50%, -6px));

    top: 0%;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: none;
    border-bottom: 6px solid color(4);
  }
}
