@import '~sass/mixins';
@import '~sass/variables';

window {
  @extend .border-radius-outer;

  @extend .ui-shadow;

  pointer-events: all;
  display: block;
  overflow: inherit;

  & > window-title {
    @extend .border-top-radius-outer;

    @include flexbox;

    @include flex-align(center);

    box-shadow: inset 0 -1px transparentize(color(3), 0.8);
    color: color(3);
    fill: color(3);
    font-size: font-size(md);
    font-weight: 700;
    height: 35px;
    padding: 0 8px;

    & > .buttons-holder {
      & > :not(:last-child) {
        margin-right: 6px;
      }
    }
  }

  & > window-content {
    @extend .border-bottom-radius-outer;

    background-color: color(3);
    display: block;
  }
}

window[focusable]:not(.ui-focused),
[focusable]:not(.ui-focused) window {
  & > window-title {
    background: color(5);
  }
}

window[focusable].ui-focused,
window:not([focusable]),
:not([focusable]) window,
[focusable].ui-focused window {
  & > window-title {
    @include linear-gradient(color(4), color(2));

    &.secondary {
      background: color(10);
    }
  }
}
