@import '~sass/mixins';
@import '~sass/variables';

progress-bar {
    display: inline-block;

    .bar {
      width: 0;
      height: 7px;
      box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.5);
      border-radius: 100px;
      background-color: #006ebc;
      background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    }
  
    &:not([circular]) {
      width: 100%;
      border-radius: 100px;
  
      & > ng-transclude {
        display: block;
        max-width: 100%;
        height: 100%;
  
        & > * {
          width: 100%;
          height: 100%;
        }
      }
    }
  
    &[circular] > canvas {
      display: block;
  
      &:before {
        content: '{ "size": "#{icon-size(md)}", "background": "#{color(5)}", "foreground": "#{color(8)}" }';
        height: 0;
        width: 0;
        display: block;
        visibility: hidden;
      }
    }
  }
  