fresh-alert {
    position: absolute;
    top: 50px;
    right: 40px;
  }
  
  .fresh-alerts-item {
    background-color: #fff;
    border-radius: 5px;
    color: color(15);
    padding: 0px;
    margin-bottom: 15px;
    white-space: nowrap;
    float: right;
    clear: both;
    transition: 0.5s linear all;
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    opacity: 0;
    margin-right: -200px;
  
    label {
      padding: 10px;
      display: inline-block;
    }
  }
  
  .fresh-alerts-container {
    list-style-type: none;
    text-align: right;
  }
  
  .fresh-alerts-item button.seg.sm {
    float: right;
    top: -10px;
    right: -7px;
    background: color(15);
    min-width: 17px;
    line-height: 0;
    height: 17px;
    postion: absolute;
  }
  
  .fresh-alerts-item button.seg.sm i {
    height: 16px;
  }
  
  .fadein.fresh-alerts-item {
    opacity: 1;
    margin-right: 0px;
  }
  