<ul class="fresh-alerts-container" >
	<li class="fresh-alerts-item ui-shadow" *ngFor="let item of getFreshAlerts()"  [ngClass]="{fadein: !item.hide }">
		<button class="seg primary round sm ui-shadow" (click)="cleanFreshState(item)">
			<icon svg-file="close"></icon>
		</button>
    <label class="text-size-sm" (click)="goToAlert(item); removeWithAnimation(item)">{{item.label}}</label>
	<li>
</ul>