<button title="Placemark" ngClass="{active: activeTool['drawPlacemark']}" class="seg primary-reverse lg border-left-radius-outer placemark-btn" (click)="drawPlacemark()">
	<icon svg-file="placemarker">P</icon>
</button>
<button title="Draw circle" ngClass="{active: activeTool['drawCircle']}" class="seg primary-reverse lg" (click)="drawCircle()">
	<icon svg-file="draw-circle">DC</icon>
</button>
<button title="Draw polygonal area" ngClass="{active: activeTool['drawPolygon']}" class="seg primary-reverse lg" (click)="drawPolygon()">
	<icon svg-file="draw-polygon">DP</icon>
</button>
<button title="Draw rectangular area" ngClass="{active: activeTool['drawBBOX']}" class="seg primary-reverse lg" (click)="drawBBOX()">
	<icon svg-file="draw-rectangle">DR</icon>
</button>
<button title="Draw polygonal line" ngClass="{active: activeTool['drawLinePolygon']}" class="seg primary-reverse lg" (click)="drawLinePolygon()">
	<icon svg-file="draw-polygon-line">DPL</icon>
</button>
<button title="Drag Interaction" ngClass="{active: activeTool['toggleDraggableMode']}" class="seg primary-reverse lg" (click)="toggleDraggableMode()">
	<icon svg-file="move">M</icon>
</button>
<button title="Selection" ngClass="{active: activeTool['multiSelectionDraw']}" class="seg primary-reverse border-top-right-radius-outer border-bottom-right-radius-outer lg selection-btn" (click)="multiSelectionDraw()">
	<icon svg-file="select">S</icon>
</button>
