@import '~sass/mixins';
@import '~sass/helpers';
@import '~sass/variables';

seg-draw-toolbar {
	@include flexbox;
	@extend .ui-shadow;
	@extend .border-radius-outer;
	
	& > :not(:last-child):not(.placemark-btn) {
		border-right: 1px solid transparentize(color(5), 0.8);
	}
	
	.selection-btn {
		border-left: 1px solid #656565;
	}

	.placemark-btn {
		border-right: 1px solid #656565;
	}
}
	