<window-title ng-init="oilSpillsCommandInfo.init(oilSpill);">
    <div class="flex-1">
        <label class="font-weight-400">{{oilSpillsCommandInfo.getLabel(oilSpill)}}</label>
        <div ng-if="oilSpill.get('type')" class="text-size-sm font-weight-500">{{oilSpill.get('type')}}</div>
    </div>
    <div id="timestamp" class="flexbox flex-align-center text-size-lg font-weight-400">
        <i icon="clock" class="icon-size-sm"></i>
        <label class="text-size-sm flexbox" position-timestamp="oilSpill.get('timeStamp')"></label>
    </div>
    <button ng-click="oilSpillsCommandInfo.configMode = !oilSpillsCommandInfo.configMode" class="seg primary round sm" ng-class="{active: oilSpillsCommandInfo.configMode}">
        <i icon="cog"></i>
    </button>
</window-title>
<window-content class="default">
    <panel id="config" scrollable class="border-bottom-radius-outer" ng-if="oilSpillsCommandInfo.configMode">
        <ul class="seg">
            <li class="selectable" ng-repeat="(key, option) in oilSpillsCommandInfo.displayPreferences">
                <checkbox ng-checked="option.visible" ng-click="oilSpillsCommandInfo.toggleDisplayPreference(key)"></checkbox>
                <label class="flexbox flex-align-center flex-1">
                    <span class="flex-1" bind-template="option.label"></span>
                </label>
            </li>
        </ul>
    </panel>
    <panel class="border-bottom-radius-outer" ng-if="!oilSpillsCommandInfo.configMode">
        <section class="flexbox" id="overview">
            <div id="photo" expand="command-info > window > window-content > panel" ng-style="{'background-image': 'url('+oilSpillsCommandInfo.oilSpillPicture+')'}">
                <div ng-if="oilSpillsCommandInfo.oilSpillsPicture != oilSpillsCommandInfo.oilSpillsDefaultPicture" class="photo-toptoolbar size-lg flexbox flex-align-center flex-justify-end">
                    <button ng-click="expand.toggle()" class="seg primary round sm">
                        <i class="icon-size-md" icon="{{expand.expanded?'collapse':'expand'}}"></i>
                    </button>
                </div>
                <!--<div id="bottom-toolbar" class="flexbox flex-justify-space-between">

                    <button class="seg positive rounded" ng-click="oilSpillsCommandInfo.centerMap(oilSpill)">
                        <i icon="square-center"></i>
                    </button>
                </div>-->
            </div>
            <div id="functions" class="flex-1">
                <div class="btn-group">
                    <button ng-click="oilSpillsCommandInfo.getVesselTracks(oilSpill)" class="seg primary rounded flex-1">
                        Area Query
                    </button>
                    <button class="seg primary rounded"  ng-click="oilSpillsCommandInfo.openACQ(oilSpill)">
                        <i icon="ellipsis-h"></i>
                    </button>
                </div>
                <div class="btn-group">
                    <button class="seg primary rounded flex-1" ng-click="oilSpillsCommandInfo.runDriftModel(oilSpill)">Display drift model</button>
                    <!--<button class="seg primary rounded">
                        <i icon="ellipsis-h"></i>
                    </button>-->
                </div>
                <button class="seg primary rounded" ng-disabled="true || !oilSpill.get('possibleSources')" ng-click="oilSpillsCommandInfo.showPossibleSources(oilSpill)">Possible source</button>
                <!--<button class="seg primary rounded" >Report</button>
                <button class="seg primary rounded" disabled="disabled" >Report observation</button>-->
                <a ng-if="oilSpillsCommandInfo.reportInSSN" style="text-decoration: none; display: block;" href="/ssn-send-notification-console/send/incidentReport-flow.htm?execution=e3s1" target="_blank">
                    <button style="width: 100%" class="seg primary rounded">Report in SSN</button>
                </a>
                <button class="seg primary rounded" ng-if="oilSpillsCommandInfo.showSlickInfo" ng-click="oilSpillsCommandInfo.showSlickInfo(oilSpill)">Slick info...</button>
                <!--<button class="seg primary rounded" disabled="disabled" >Report in THETIS</button>-->
            </div>
        </section>
        <section id="basic-info" expand="command-info > window > window-content > panel">
            <pager>
                <pager-content>
                    <ul class="flexbox flex-wrap flex-direction-vertical property-list">
                        <li ng-repeat="(key, option) in oilSpillsCommandInfo.displayPreferences" ng-if="option.visible">
                            <label bind-template="option.label"></label>
                            <value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
                        </li>
                    </ul>
                </pager-content>
                <div id="section-controls">
                    <pager-controls></pager-controls>
                    <expand-controls></expand-controls>
                </div>
            </pager>
        </section>
        <section id="enrichment">
            <button class="seg positive rounded md flexbox" ng-click="oilSpillsCommandInfo.downloadOilspill(oilSpill)">Download spill</button>
            <button class="seg positive rounded md" ng-disabled="oilSpillsCommandInfo.feedback() ? false : 'disabled' " ng-click="oilSpillsCommandInfo.openReport(oilSpill)">Feedback</button>
            <button class="seg positive rounded md flexbox" ng-if="oilSpillsCommandInfo.downloadAlertReport" ng-disabled="oilSpill.get('numberOfAlertReport') === 0" ng-click="oilSpillsCommandInfo.alertReportDownload(oilSpill)">
                <div>Alert report &nbsp;</div>
                <span class="alert-counter text-size-sm round primitive">{{oilSpill.get('numberOfAlertReport')}}</span>
            </button>
        </section>
    </panel>
</window-content>
