<div>
	<strong>DETECTED:</strong> from satellite image analysis<br>
	<strong>PREDICTED:</strong> from drift model running results<br>
	<strong>EXPECTED:</strong> inserted manually through feedback form
</div>