<section>
    <section alias="Oilspill Identification">
        <div class="row">
            <div class="flex-1">
                <label class="flex-1 margin-auto text-size-sm">Service ID</label>
                <input class="flex-1 seg text-size-sm" ng-model="search.serviceId" placeholder="ex: 1902220006" />
            </div>
            <div class="flex-1">
                <label class="flex-1 margin-auto text-size-sm">Oilspill ID <span class="text-color-warning" ng-if="search.oilspillId && !isOilspillIDValid(search.oilspillId)">(ID is invalid)</span></label>
                <input class="flex-1 seg text-size-sm" ng-model="search.oilspillId" placeholder="ex: OS_1902220006_2" />
            </div>
        </div>
    </section>
    <section alias="Acquisition Time">
        <div class="row">
            <div class="flex-1">
                <toggle ng-model="search.showTime"></toggle>
                <label class="text-size-sm">Show Time Range</label>
            </div>
        </div>

        <div class="row" ng-if="search.showTime">
            <div class="flex-1">
                <label class="text-size-sm">Acquisition start</label>
                <datetime ng-model="search.acquisitionStart" ng-change="search.acquisitionStartChange()"></datetime>
            </div>
            <div class="flex-1">
                <label class="text-size-sm">Acquisition stop</label>
                <datetime ng-model="search.acquisitionStop" ng-change="search.acquisitionStopChange()"></datetime>
            </div>
        </div>
    </section>
    <section alias="Area of Interest">
        <feature-selector ng-model="search.selectedArea" restrict-to="AOI"></feature-selector>
    </section>
    <section alias="Options">
        <div class="row">
            <div class="flex-1">
                <label class="text-size-sm flex-1"><span>Class</span></label>
                <combo class="small flex-1" ng-model="search.selectedClass" placeholder="Class" options="option.value as option.label for option in search.classOptions"></combo>
            </div>
            <div class="flex-1" style="margin-top: 15px;">
                <toggle ng-model="search.feedback"></toggle>
                <label class="text-size-sm flex-1">With Feedback</label>
            </div>
        </div>
        <div class="row">
            <div class="flex-1" ng-if="search.originOptions">
                <label class="text-size-sm flex-1"><span>Origin</span></label>
                <combo class="small flex-1" ng-model="search.origin" placeholder="Origin" options="option.value as option.label for option in search.originOptions"></combo>
            </div>
            <div class="flex-1" ng-if="search.warningIssuedOptions">
                <label class="text-size-sm flex-1"><span>Warning Issued</span></label>
                <combo class="small flex-1" ng-model="search.warningIssued" placeholder="Warning" options="option.value as option.label for option in search.warningIssuedOptions"></combo>
            </div>
        </div>
        <div class="row">
            <div class="flex-1" ng-if="search.operationsOptions">
                <label class="text-size-sm flex-1"><span>Operation</span></label>
                <combo class="small flex-1" ng-model="search.operation" placeholder="Origin" options="option.value as option.label for option in search.operationsOptions"></combo>
            </div>
            <div class="flex-1">
                <label class="flex-1 margin-auto text-size-sm">Alert Area</label>
                <input class="flex-1 seg text-size-sm" ng-model="search.alert_area" />
            </div>
        </div>
        <div class="row">
            <div class="flex-1" ng-if="search.psdOptions">
                <label class="text-size-sm flex-1"><span>Potential Source Detected</span></label>
                <combo class="small flex-1" ng-model="search.psd" placeholder="Potential Source Detected" options="option.value as option.label for option in search.psdOptions"></combo>
            </div>
        </div>
    </section>
</section>