<div class="legend sm oil-spills">
    <div class="row">
        <div class="column fullwidth" ng-repeat="section in sections[selectedSymbology()]">
            <div class="title" ng-if="section.title">{{section.title}}</div>
            <div class="legend-item" ng-repeat="legend in section.symbologies">
                <span class="square thin {{legend.class}} label">{{legend.label}}</span>
	            <style>.legend.oil-spills .square.{{legend.class}}:before { {{legend.style}} }</style>
            </div>
        </div>
        <div style="width: auto; margin-left: 10px;" class="column fullwidth">
			<div class="title">Feedback</div>
			<div class="legend-item">
				<i class="icon-size-lg" icon="oilspill_feedback"></i>
				<span>Available</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-lg" icon="oilspill"></i>
				<span>NOT available</span>
			</div>
		</div>
    </div>
</div>