<section ng-init="sarsurpic.init()" alias="Operation">
    <div class="row">
        <span class="text-size-sm text-color-warning" ng-if="!sarsurpic.isSelected()">Please, select a SAR Surpic Area to make a request.</span>
    </div>
    <div class="row">
        <label class="text-size-sm">Name</label>
        <input ng-model="sarsurpic.data.name" ng-change="sarsurpic.lock=false;" type="text" class="seg text-size-sm flex-1">
    </div>
   <div class="row">
        <label class="text-size-sm">Description</label>
        <input expandable ng-model="sarsurpic.data.description" ng-change="sarsurpic.lock=false;" type="text" class="seg text-size-sm flex-1">
    </div>
</section>
<section alias="Geometry">
    <div class="row">
         <div class="column margin-right flex-1">
            <label class="text-size-sm">Type</label>
            <combo ng-model="sarsurpic.data.type" options="option for option in sarsurpic.options.type" ng-change="sarsurpic.draw()" ng-model-options='{ debounce: 500 }'></combo>
        </div>
        <div class="column margin-right" ng-if="sarsurpic.data.type === 'bbox'">
            <label class="text-size-sm">Width ({{sarsurpic.getUnits()}})</label>
            <combo ng-model="sarsurpic.data.width" options="option as (option | distance:'nm' | number:0) for option in sarsurpic.options.width" placeholder="Width" ng-change="sarsurpic.draw()" ng-model-options='{ debounce: 500 }'></combo>
        </div>
        <div class="column" ng-if="sarsurpic.data.type === 'bbox'">
            <label class="text-size-sm " style="margin-left: 5px;">Height ({{sarsurpic.getUnits()}})</label>
            <combo ng-model="sarsurpic.data.height" options="option as (option | distance:'nm' | number:0) for option in sarsurpic.options.height" placeholder="Height" ng-change="sarsurpic.draw()" ng-model-options='{ debounce: 500 }'></combo>
        </div>
        <div class="column" ng-if="sarsurpic.data.type === 'circle'">
            <label class="text-size-sm">Radius ({{sarsurpic.getUnits()}})</label>
            <combo ng-model="sarsurpic.data.radius" options="option as (option | distance:'nm' | number:0) for option in sarsurpic.options.radius" placeholder="Radius" ng-change="sarsurpic.draw()" ng-model-options='{ debounce: 500 }'></combo>
        </div>
    </div>
    <div class="row">
        <coordinate label="Center" ng-model="sarsurpic.data.coordinate" style="width: 100%" ng-change="sarsurpic.draw()" ng-model-options='{ debounce: 500 }'></coordinate>
    </div>
</section>
<section class="submit-box flexbox flex-justify-end" style="padding-bottom: 8px;">
    <div class="flexbox flex-justify">
        <button class="seg positive rounded sm margin-right" ng-click="sarsurpic.resetForm()">
            <span>RESET</span>
        </button>
        <button class="seg positive rounded sm" ng-click="sarsurpic.submit()" ng-disabled="!sarsurpic.canSubmit()">
            <span>SUBMIT</span>
        </button>
    </div>
</section>