@import '~sass/mixins';
@import '~sass/variables';

checkbox{
  @include inline-flexbox;

  vertical-align: middle;

  &[disabled] {
    pointer-events: none;
  }
}

:not(li) {
  & > checkbox {
    & + label {
      margin-left: 7px;
      overflow: hidden;
      max-width: 160px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
};

checkbox {
  position: relative;
  width: button-size(sm);
  height: button-size(sm);

  &:before, & > * {
    @include transform(translate(-50%, -50%));

    position: absolute;
    left: 50%;
    top: 50%;
  }

  &:before {
    content: "";
    border: 1px solid color(5);
    width: button-size(sm);
    height: button-size(sm);
    border-radius: 50%;
  }
  
  .checkbox-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    & > icon{
      width:10px;
    }

    & > icon#checked,
    & > icon#partial {
      display: none;
    }
  }

  &[checked] {
    &:before {
      background-color: color(4);
    }

    & > .checkbox-container > icon#checked {
      @include flexbox;
      fill: color(3);
    }
  }

  &[partial]:not([checked]) > .checkbox-container > icon#partial {
    @include flexbox;
  }

  &[checked], &[partial] {
    &:before {
      border: 1px solid color(4);
    }
  }

  &[disabled] {
    &:after, &:before {
      opacity: 0.75;
    }
  }
}
