@import '~sass/mixins';
@import '~sass/helpers';
@import '~sass/variables';

seg-top-right-menu {
  @include flexbox;

  & > :not(:last-child) {
    margin-right: 10px;
  }

  & > #clean {
    position: relative;

    & > clean {
      position: absolute;
      right: 0;
      top: 40px;
    }
  }

  & > #preferences {
    position: relative;

    & > preferences {
      position: absolute;
      top: 40px;
      right: 0px;
      z-index: 1;
    }
  }

  & > #shortcuts {
    position: relative;

    & > shortcuts ul {
      @extend .ui-shadow;

      @extend .border-radius-outer;

      position: absolute;
      top: 40px;
      right: 0px;
      background-color: color(3);
      padding: 8px;
    }
  }

  .apps-itens-container {
    overflow: auto;
    padding-bottom: 7px;
  }

  .apps-item {
    float: left;
    text-align: center;
    margin-top: 7px;
    width: 33%;
    height: 60px;
    padding: 0 5px;
  }

  .apps-item .button {
    @include linear-gradient(color(4), color(2));

    display: inline;
  }

  .apps-item span {
    display: block;
    margin-top: 5px;
    font-weight: 500;
  }

  #apps-manager-container {
    position: absolute;
    right: 82px;
    width: 205px;
    top: 40px;
  }

  #apps-manager-container window-title label {
    //text-align: center
    margin-right: 0;
  }

  .apps-open-item {
    position: absolute;
    right: 82px;
    top: 40px;
  }

  alert window {
    width: 200px;
  }

  alert {
    position: absolute;
    right: 41px;
    top: 40px;
  }

  button.seg.fresh-alerts-mode {
    background: color(15);
  }

  button.seg.no-alerts {
    background: color(5);
    pointer-events: none;
    cursor: default;
  }

  button.seg.fresh-alerts-mode:not(.active):hover {
    background: color(15);
  }

  span.fresh-alerts-count {
    border-radius: 10px;
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -4px;
    line-height: 1.5;
    right: -5px;
    background: color(15);
  }
}
