<div id="shortcuts" *ngIf="hasShortcuts()">
	<shortcuts></shortcuts>
</div>
<div id="clean" *ngIf="hasCleanables()" ng-init="cleanDropdownOpen = false">
	<button id="toggle-clear-map" (click)="cleanDropdownOpen = !cleanDropdownOpen" class="seg main round lg ui-shadow">
		<icon svg-file="trash"></icon>
	</button>
	<clean focusable *ngIf="cleanDropdownOpen"></clean>
</div>
<!--<div id="apps" ng-init="appMenuOpen = false" *ngIf="getApps().length">
	<button class="seg main round lg ui-shadow" ng-class="{active: appMenuOpen}" title="Apps" (click)="appMenuOpen = !appMenuOpen; closeAllApps()">
		<i icon="apps"></i>
	</button>
	<div id="apps-manager-container" *ngIf="appMenuOpen">
		<window>
			<window-title>
				<label class="flex-1">Apps</label>
				<button class="seg primary round sm" (click)="appMenuOpen = false">
					<i icon="close"></i>
				</button>
			</window-title>
			<window-content>
				<div class="apps-itens-container">
					<div class="apps-item" *ngFor="let app of getApps()" (click)="openApp(app);" *ngIf="!app.hidden">
						<button class="seg button round lg" title="{{app.label}}">
							<i icon="{{app.icon}}" class="icon-size-lg"></i>
						</button>
						<span class="text-size-xs">{{app.label}}</span>
					</div>
				</div>
			</window-content>
		</window>
	</div>
	<div class="apps-open-item" *ngFor="let app of getApps()">
		<include *ngIf="app.open" template-url="{{app.templateUrl}}" template="{{app.template}}" scope="app.bindings"></include>
	</div>
</div>-->
<div id="alerts">
	<button class="seg main round lg ui-shadow" title="New alerts notifications" [ngClass]="{'active': alertMenuOpen, 'fresh-alerts-mode': getNotReadAlerts() >= 1, 'no-alerts': getAlerts() == 0 }" (click)="alertMenuOpen = !alertMenuOpen; alertMenuWasOpen = true;">
		<icon svg-file="bell"></icon>
		<span class="ui-shadow fresh-alerts-count" *ngIf="getNotReadAlerts() >= 1">{{getNotReadAlerts()}}</span>
	</button>
	<alert [(model)]="alertMenuOpen" *ngIf="alertMenuOpen" ngInit="alertMenuWasOpen = true"></alert>
	<fresh-alert *ngIf="!alertMenuOpen" ngInit="checkCleanAlerts()"></fresh-alert>
</div>
<div id="preferences">
	<button (click)="preferencesOpen = !preferencesOpen" [ngClass]="{active: preferencesOpen}"  title="Preferences" class="seg main round lg ui-shadow">
		<icon svg-file="cog"></icon>
	</button>
	<preferences focusable [(model)]="preferencesOpen" *ngIf="preferencesOpen"></preferences>
</div>
