<div class="download-history-row" (click)="toggleDownloadHistory()" [attr.disabled]="(!hasDownloads())? true : null">
	<div class="button border-top-left-radius-outer border-bottom-left-radius-outer">
		<div class="title vertical-orientation">
			<div class="row" style="transform:scale(-1,-1); -o-transform:scale(-1,-1);-moz-transform:scale(-1,-1);-webkit-transform:scale(-1,-1); position:absolute; right:-65px;">
				<icon class="arrow" svg-file="{{!open ? 'chevron-down' : 'chevron-up'}}"></icon>
				<span style="font-size:13px;">Recent</span>
			</div>
		</div>
	</div>
</div>

<div class="download-history-content" *ngIf="open && (hasDownloads())">

	<div class="column history" (click)="repeatDownload(downloads[currentIndex])">
		<div timestamp="downloads[currentIndex].date" class="date"></div>
		<div class="filename">{{downloads[currentIndex].filename}}</div>
		<div class="extra-info">{{downloads[currentIndex].extension}} - {{downloads[currentIndex].size}} KB</div>
	</div>

	<div class="controls">
		<button class="seg primary round sm previous" (click)="previousItem()" [attr.disabled]="(loading)? true : null"><icon class="icon-size-md" svg-file="chevron-up"></icon></button>
		<icon *ngIf="loading" svg-file="loading" class="loading-icon"></icon>
		<button class="seg primary round sm next" (click)="nextItem()" [attr.disabled]="(loading)? true : null"><icon class="icon-size-md" svg-file="chevron-down"></icon></button>
	</div>
</div>
