@import '~sass/mixins';
@import '~sass/variables';

seg-download-history{
    @include drop-shadow(0 2px 4px rgba(61, 72, 81, 0.5));
}

.download-history-row {
  cursor: pointer;
  @include flexbox;

  @include linear-gradient(color(1), color(4));

  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  width: 33px;

  &[disabled] {
    background: color(5);
  }

  & > .button {
    transform: rotate(90deg);
    -ms-transform-origin: left top 0;
    -moz-transform-origin: left top 0;
    -webkit-transform-origin: left top 0;
    transform-origin: left top 0;
    color: #fff;
    margin-left: 35px;
    padding: 4px 10px 0px 10px;
    text-transform: 1px 1px 0px rgba(0, 0, 0, 0.5);
    height: 0;
    font-size: 11px;
    margin-top: -5px;

    & .arrow {
      width: 11px!important;
      display: block;
      fill: white;
      margin-left: 5px;
      margin-right: 25px;
      height: 20px!important;
      position: absolute;
      top: 6px;
      left: 48px;;
    }

    & .row
    {
      height: 33px;
    }
  }
}

.download-history-content {
  background: #fff;
  display: flex;
  flex-direction: row;
  width: 250px;

  & > .history {
    width: 90%;
    padding: 10px;

    & > .date, .extra-info {
      color: #cdcdcd;
      font-size: 12px;
    }

    & > .filename {
      font-size: 13px;
      overflow: hidden;
      width: 100%;
      word-wrap: break-word;
    }

    &:hover {
      background: transparentize(color(5), 0.8);
      border: 10px solid white;
      padding: 0px;
    }
  }

  & > .controls {
    width: 10%;
    position: relative;
    right: 0;

    & > .loading-icon{
      height: 100%;
      position: absolute;
      padding: 3px 0;
      width: 16px;
      right: 7px;
      & > svg{
        width: auto;
        height: 100%;
      }
    }

    & > .next {
      position: absolute;
      bottom: 10px;

      &.disabled {
        opacity: 0.75;
      }
    }

    & > .previous {
      position: absolute;
      top: 10px;

      &.disabled {
        opacity: 0.75;
      }
    }
  }
}
