<div id="container">
	<div id="input" (click)="open = !open">
		<button class="seg primary input">
			<icon svg-file="calendar" class="text-size-md"></icon>
		</button>
		<label>{{ model | timestamp }}</label>
	</div>
	<datetimepicker *ngIf="open" class="cast-shadow border-radius-inner">
		<calendar [min]="min" [max]="max" [(model)]="model"></calendar>
		<div id="time">
			<clock [min]="min" [max]="max" [(model)]="model"></clock>
			<div id="buttons">
				<button [attr.disabled]="!isDateValid(getCurrentMoment()) ? true : null" class="seg positive-reverse sm rounded" (click)="model = getCurrentMoment()">NOW</button>
				<button class="seg positive sm rounded" (click)="open = false">DONE</button>
			</div>
		</div>
	</datetimepicker>
</div>