@import '~sass/mixins';
@import '~sass/variables';
@import '~sass/helpers';

datetime {
  &[disabled='disabled']{
    & > #container {
      & > #input {
            opacity: 0.75;
      }
    }
  }
  position: relative;
  & > #container {
    display: block;
    position: relative;
    & > #input {
      @include flexbox;

      @include flex-align(center);

      border-radius: border-radius(inner);
      border: 1px solid color(4);
      height: $input-size;
      overflow: hidden;

      & > button {
        @include button-size($input-size);

        margin-left: -1px;
      }

      & > label {
        @include flex(1);

        font-size: font-size(sm);
        font-weight: 400;
        text-align: center;
      }
    }

    & > datetimepicker {
      width: 265px;
      @extend .border-radius-inner;

      @extend .ui-shadow;

      @include flexbox;

      position: fixed;
      // left: $input-size;
      overflow: hidden;
      z-index: 1;

      & > #time {
        width: 87px;
        @include flexbox;

        @include flex-direction(vertical);

        border-left: 1px solid transparentize(color(5), 0.5);

        & > #buttons {
          @include flex(1);

          @include flexbox;

          @include flex-direction(vertical);

          @include flex-align(center); 

          @include flex-justify(center);

          background-color: color(3);

          & > button {
            width: 69px;

            &:first-child {
              margin-bottom: 6px;
            }
          }
        }
      }
    }
  }
}