<div id="title">
	{{title}}
</div>
<div class="panel" id="time-picker">
	<div id="hours">
		<button [disabled]="!canAdd('hour', 1)" class="seg primary round xs" (click)="add('hour', 1)">
			<icon svg-file="chevron-up"></icon>
		</button>
		<input pattern=[0-9]{2}>
		<button [disabled]="!canAdd('hour', -1)" class="seg primary round xs" (click)="add('hour', -1)">
			<icon svg-file="chevron-down"></icon>
		</button>
	</div>
	<span>:</span>
	<div id="minutes">
		<button [disabled]="!canAdd('minute', 1)" class="seg primary round xs" (click)="add('minute', 1)">
			<icon svg-file="chevron-up"></icon>
		</button>
		<input pattern=[0-9]{2}>
		<button [disabled]="!canAdd('minute', -1)" class="seg primary round xs" (click)="add('minute', -1)">
			<icon svg-file="chevron-down"></icon>
		</button>
	</div>
</div>