@import '~sass/mixins';
@import '~sass/variables';

clock {
  font-size: font-size(sm);
  display: block;
  width: 86px;

  & > #title {
    background-color: color(2);
    height: $input-size;
    line-height: $input-size;
    color: color(3);
    font-size: font-size(sm);
    text-transform: uppercase;
    text-align: center;
  }

  & > .panel#time-picker {
    @include flexbox;

    @include flex-align(center);

    @include flex-justify(center);

    padding: 8px 0;

    & > div {
      @include flexbox;

      @include flex-direction(vertical);

      @include flex-align(center);

      & > input {
        text-align: center;
        line-height: 22px;
        margin: 4px 0;
        border: none;
        width: 20px;
      }
    }

    & > span {
      margin: 0 9px;
    }

    & input,
    & span {
      font-size: font-size(lg);
      font-weight: 300;
    }
  }
}
