@import '~sass/mixins';
@import '~sass/helpers';
@import '~sass/variables';

seg-map-scale{
  display: flex;
  
  & > combo{
    @extend .ui-shadow;
    margin-right: 3px;
    width: 100px;
  }

  #scale-line {
    & > .scale-line {
      background: rgba(0, 60, 136, 0.3);
      border-radius: 4px;
      line-height: 16px;
      padding: 2px;
      
      & > .scale-line-inner {
        border: 1px solid #eee;
        border-top: none;
        color: #eee;
        font-size: 10px;
        text-align: center;
        margin: 1px;
        will-change: contents, width;
      }
    }
  }
}
