<combo *ngIf="scale" placeholder="1 : {{scale | number:'1.0-0'}}" [(model)]="scale" [data]="scales" label-as="label" value-as="value" input-placeholder="Insert new scale" [click-callback]="clickCallback" [remove-callback]="removeCallback"></combo>
<div id="scale-line"></div>
