<window draggable focusable class="import-app">
	<window-title>
		<span class="flex-1">Import</span>
		<button class="seg primary round sm" ng-click="import.close()">
			<i icon="close"></i>
		</button>
	</window-title>
	<window-content resizable max-width="1500" max-height="600" scrollable style="max-height: 500px; max-width: 700px;">
		<!--CHOOSE FEATURE TYPE/IMPORT METHOD-->
		<section ng-if="!import.uploadedData">
			<div class="row flexbox">
				<div class="input-container flexbox flex-1 flex-align-center">
					<label class="text-size-sm">Source</label>
					<combo ng-model="import.selectedSource" options="option as option for option in import.selectedFeatureType.sourceOptions"></combo>
				</div>
				<div class="input-container flexbox flex-1 flex-align-center">
					<label class="text-size-sm">Feature type</label>
					<combo ng-model="import.selectedFeatureType" ng-change="import.updateSelectedSource()" options="option as option.label for option in import.featureTypeOptions"></combo>
				</div>
				<div class="input-container flexbox flex-1 flex-align-center" ng-if="import.selectedSource == 'File'">
					<button class="seg primary rounded" ng-click="import.selectFile()">Select File...</button>
					<input class="seg text-size-sm" disabled ng-value="import.selectedFile.name" type="text"/>
				</div>
			</div>
		</section>
		<!--EDIT IMPORTED DATA-->
		<section ng-if="import.uploadedData">
			<div class="flexbox">
				<div class="flexbox" style="flex-grow: 1; flex-direction: column;">
					<b>File</b>
					<small>{{import.selectedFile.name}}</small>
				</div>
				<div class="flexbox flex-justify-end" ng-if="import.uploadedData"> 
					<button class="seg rounded primary" ng-click="import.addRow()">Add item</button> 
				</div>
			</div>
			<grid data="import.uploadedData" fields="import.importedFields" item-as="{{import.selectedFeatureType.featureAs}}" hide-toolbar="true" editable="true" remove-row="import.removeRow" paginate="true"></grid>
		</section>

		<section ng-if="import.uploadedData && import.selectedFeatureType.additionalOptions">
			<include template-url="{{import.selectedFeatureType.additionalOptions.templateUrl}}" template="{{import.selectedFeatureType.additionalOptions.template}}" scope="import.selectedFeatureType.additionalOptions.bindings"></include>
		</section>

		<section class="flexbox flex-justify-end" style="position: sticky; bottom: 0; background-color: white;">
			<span class="text-size-sm" ng-if="import.maxFeaturesError" style="margin: auto 0; padding-right: 5px;">
				Importing is limited to a max of {{import.selectedFeatureType.maxFeatures}} distinct {{import.selectedFeatureType.featureAs}} (counting by {{import.selectedFeatureType.maxFeaturesKey}})
			</span>
			<span class="text-size-sm" ng-if="import.errorMessage && import.disableImportButton()" style="margin: auto 0; padding-right: 5px;">
				{{ import.errorMessage }}
			</span>
			<button ng-if="!import.uploadedData" class="seg rounded positive" ng-click="import.uploadFile()" ng-disabled="import.disableUploadButton()" style="margin-right: 10px">
				{{import.selectedSource == 'File'?'UPLOAD':'NEXT'}}
			</button>
			<button ng-if="import.uploadedData" class="seg rounded positive" ng-click="import.importFn()" ng-disabled="import.disableImportButton()" style="margin-right: 10px">IMPORT</button>
		</section>
	</window-content>
</window>
<style>
	.import-app {
		width: fit-content;
	}
	.import-app grid {
		max-height: 360px;
	}

	.import-app .input-container {
		white-space: nowrap;
	}

	.import-app .input-container:not(:last-child) {
		margin-right: 15px;
	}

	.import-app .input-container > :not(:last-child) {
		margin-right: 10px;
	}
	.import-app .input-container > input[disabled]{
		font-weight: bold;
	    opacity: 0.7;
	}
	.import-app combo > #container > button {
		min-width: 95px;
	}
	.import-app #table-container{
		max-height: none !important;
		max-width: none !important;
	}

</style>