<window>
    <window-title>
        <div id="info">
            <label ng-if="areas.length === 1" class="text-size-sm  font-weight-500">{{areas[0].get("DESCRIPTION")}}</label>
            <label ng-if="areas.length > 1" class="text-size-sm  font-weight-500">Multiple areas</label>
        </div>
    </window-title>
    <window-content class="background-color-3">
        <section class="border-bottom-radius">
            <div id="info" class="text-size-xs">
                <div ng-repeat="area in areas">
                    <div ng-if="areas.length > 1">
                        <b>Title: </b> {{area.get("DESCRIPTION")}}
                    </div>
                    <div ng-repeat="(key, option) in areasToolTip.options">
                        <b><label bind-template="option.label"></label></b>:
                        <value bind-template="option.template"></value>
                    </div>
                    <br ng-if="areas.length > 1">
                </div>
            </div>
        </section>
    </window-content>
</window>
<style>
    tooltip > window > window-title > #info > * {
        white-space: nowrap;
    }

    tooltip > window > window-content > panel > #info > :first-child {
        white-space: nowrap;
    }

    tooltip > window > window-content > panel > #info b {
        font-weight: 500;
    }
</style>
