<ng-container *ngIf="operationConfig && layerConfigs">
	<seg-map [operation-config]="operationConfig" [layer-configs]="layerConfigs">
		<seg-download-history></seg-download-history>
		<seg-layer-info></seg-layer-info>
		<seg-map-info></seg-map-info>
		<seg-map-tools></seg-map-tools>
		<seg-news></seg-news>
		<seg-tooltip></seg-tooltip>
		<seg-top-right-menu></seg-top-right-menu>
		<seg-ttt></seg-ttt>
	</seg-map>
</ng-container>
<seg-modal></seg-modal>

<!-- template1:
<include [template]="template1" [scope]="scope1"></include>
<br>
<br>

template1:
<include [template]="template2" [scope]="scope2"></include> -->

<!-- 
<section style="width: 500px;">
	
	Time model: {{selectedDate}}
	<hr>
	Checkbox model: {{bool}}
	Checkbox partial: {{partial}}
	<hr>
	Combo model: {{selectedSatelite}}
	<hr>
	Multi-Dropdown 1 model: {{selectedSatelites[0] && selectedSatelites[0]["url"]}}
	<br>
	Multi-Dropdown 2 model: {{selectedSatelites[1] && selectedSatelites[1]["url"]}}
	<br>
	Multi-Dropdown 3 model: {{selectedSatelites[2] && selectedSatelites[2]["url"]}}
	<hr>
	<section>
		<combo [(model)]="selectedSatelite" [data]="objectArray" value-as="url" label-as="name" placeholder="ObjectArray"></combo>
		<combo [(model)]="value" [data]="array"  placeholder="Array"></combo>
	</section>
	<section>
		<multi-dropdown class="flex-3 margin" [(model)] = "selectedSatelites" [asString]="false" [options] = "availableSatelites" label = "Satelites"></multi-dropdown>
	</section>
</section>

<style>
	hr {
	    margin: 10px 0;
	}
	section {
		padding: 15px;
	}
</style>
-->