body {
	margin: 0;
}

seg-root {
  display: block;
  width: 100%;
  height: 100%;

  & > seg-map {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    & > * {
      position: absolute;
    }
    
    & > seg-map-tools {
      right: 0;
      top: 333px;
    }

    & > seg-map-info {
      left: 10px;
      bottom: 12px;
    }

    & > seg-top-left-menu {
      left: 10px;
      top: 10px;
    }

    & > seg-top-right-menu {
      right: 10px;
      top: 10px;
    }

    & > seg-ttt {
      right: 0;
      bottom: 0;
    }

    & > seg-download-history {
      right: 0;
      top: 233px;
      display: flex;
      flex-direction: row;
      height: 90px;
    }

    & > seg-news {
      right: 0;
      top: 130px;
      display: flex;
      flex-direction: row;
      height: 90px;
    }
  }
}
