@import '~sass/mixins';
@import '~sass/variables';

section {
    padding: 8px;
  
    & + section {
      border-top: 1px solid color(10);
      margin-top: 8px;
    }
  
    & > section-title {
      @include button-size(button-size(sm));
  
      font-size: font-size(md);
      display: block;
    }
  
    & section {
      padding: 8px 0;
  
      &:first-of-type {
        padding-top: 0;
      }
  
      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }
  