<div id="eo-acq">
	<div class="flexbox flex-align-center" id="toggle">
		<div class="flexbox flex-align-center flex-1">
			<toggle ng-model="EOProducts.enabled" ng-change="EOProducts.resetEOProducts()"></toggle>
			<label>EO Products</label>
		</div>
	</div>
	<div class="flex-align-center" id="content" ng-if="EOProducts.enabled">
		<ul class="error-box">
			<li ng-if="EOProducts.timeStatus.invalid">{{EOProducts.timeStatus.msg}}</li>
			<li ng-if="EOProducts.selectionStatus.invalid">{{EOProducts.selectionStatus.msg}}</li>
			<li ng-if="EOProducts.areaStatus.invalid">{{EOProducts.areaStatus.msg}}</li>
			
		</ul>
		<div class="flexbox flex-2 flex-align-center" id="eo_modes">
			<radio ng-repeat-start="mode in EOProducts.modes" class="seg" ng-checked="EOProducts.mode == mode" ng-click="EOProducts.mode = mode"></radio>
			<label ng-repeat-end>{{mode}}</label>
		</div>
		<ul class="flexbox services-box flex-wrap text-size-sm" ng-if="EOProducts.mode == 'Select...'">
			<li class="flexbox flex-align-center" ng-repeat="(name, service) in EOProducts.services">
				<checkbox ng-model="service.enabled"></checkbox>
				<label>{{name}}</label>
			</li>
		</ul>
	</div>
	<style>
	#eo-acq label {
		margin-left: 7px;
	}
	#eo-acq > #content > #eo_modes{
		margin-top: 10px;
	}
	#eo-acq > #content > #eo_modes > label {
		margin-right: 17px;
	}
	#eo-acq > #content > ul.services-box {
		margin-top: 11px;
	}
	#eo-acq > #content > ul.services-box > li {
		width: 25%;
		margin-bottom: 8px;
	}
	#eo-acq > #content {
		padding-left: 10px;
		margin-left: 10px;
		margin-top: 10px;
		border-left: 1px solid #dcdcdc;
	}
	/*
	#vessel-tracks-acq, #vessel-tracks {
		width: 100%;
	}
	#vessel-tracks-acq toggle + label,
	#vessel-tracks-acq checkbox + label,
	#vessel-tracks-acq radio + label {
		margin-left: 7px;
	}
	#vessel-tracks-acq > #vessel-tracks .ssn-option {
		margin-top: 10px;
	}
	#vessel-tracks-acq > #vessel-tracks {
		margin-bottom: 13px;
	}
	#vessel-tracks-acq > #vessel-tracks > div > #vessel-track-modes > label:not(:last-child) {
		margin-right: 17px;
	}
	#vessel-tracks-acq > #vessel-tracks > ul {
		margin-top: 11px;
		margin-bottom: -8px;
	}
	#vessel-tracks-acq > #vessel-tracks > ul > li {
		width: 25%;
		margin-bottom: 8px;
	}*/
	</style>
</div>
