<div class="eo-thumbnail" ng-class="{selected: EO.get('selected')}" ng-click="select(EO)" ng-if="EO.get('thumbnail')">
	<div id="thumbnail" ng-style="{'background-image': 'url(\''+EO.get('thumbnail')+'\')'}"></div>
	<div id="label" class="text-size-sm">
		Service ID: <strong>{{EO.get('serviceID')}}</strong><br>
		<span position-timestamp="EO.get('beginPosition')" ng-if="EO.get('beginPosition')"></span>
	</div>
</div>
