<window-title ng-init="vesselCommandInfo.getDetails(vessel); vesselCommandInfo.basicInfoExpanded = false;">
    <i id="validation-flag" class="size-sm icon-size-md font-weight-700 border-radius-round text-color-3" icon="{{vesselCommandInfo.getIconForValidationFlag(vessel)}}"></i>
    <flag ng-if="vessel.get('flagState')" class="size-sm border-radius-round" flag="{{vessel.get('flagState')}}"></flag>
    <div class="flexbox flex-direction-vertical flex-1" >
        <label class="cut-150 flex-1 font-weight-400" ng-bind="vesselCommandInfo.getLabel(vessel)"></label>
        <label ng-if="vessel.get('thetisTypeDescription')" class="flex-1 cut-150 text-size-sm font-weight-500" ng-bind="vessel.get('thetisTypeDescription')"></label>
    </div>
    <div ng-if="vessel.get('ts')" id="timestamp" class="flexbox flex-align-center text-size-lg font-weight-400">
        <i icon="clock" class="icon-size-sm"></i>
        <label class="text-size-sm flexbox" position-timestamp="vessel.get('ts')"></label>
    </div>
    <button ng-click="vesselCommandInfo.configMode = !vesselCommandInfo.configMode; vesselCommandInfo.basicInfoExpanded = false" class="seg primary round sm" ng-class="{active: vesselCommandInfo.configMode}">
        <i icon="cog"></i>
    </button>
</window-title>
<window-content class="default">
    <panel id="config" scrollable class="border-bottom-radius-outer" ng-if="vesselCommandInfo.configMode">
        <ul class="seg">
            <li class="selectable" ng-repeat="(key, option) in vesselCommandInfo.displayPreferences">
                <checkbox ng-checked="option.visible" ng-click="vesselCommandInfo.toggleDisplayPreference(key)"></checkbox>
                <label class="flexbox flex-align-center flex-1">
                    <span class="flex-1" bind-template="option.label"></span>
                </label>
            </li>
        </ul>
    </panel>
    <panel class="border-bottom-radius-outer" ng-if="!vesselCommandInfo.configMode && !vesselCommandInfo.basicInfoExpanded">
        <section class="flexbox" id="overview">
            <div id="photo" expand="command-info > window > window-content > panel">
                <slideshow style="background-image: url('assets/images/novessel.png')" api="vesselCommandInfo.slideshow" images="vessel.get('photos')"></slideshow>
                <div class="photo-toptoolbar size-lg flexbox flex-align-center">
                    <button ng-if-start="vesselCommandInfo.slideshow.slides > 1" ng-click="vesselCommandInfo.slideshow.prevSlide()" class="seg primary round sm">
                        <i class="icon-size-md" icon="chevron-left"></i>
                    </button>
                    <button ng-if-end ng-click="vesselCommandInfo.slideshow.nextSlide()" class="seg primary round sm">
                        <i class="icon-size-md" icon="chevron-right"></i>
                    </button>
                    <div class="flex-1"></div>
                    <div id="upload">
                        <button class="seg primary round sm" title="Upload" ng-click="vesselCommandInfo.uploadMenu = !vesselCommandInfo.uploadMenu">
                            <i class="icon-size-md" icon="upload"></i>
                        </button>
                        <ul class="seg border-radius-inner text-color-9 ui-shadow background-color-3" ng-if="vesselCommandInfo.uploadMenu">
                            <li upload="vesselCommandInfo.uploadPhoto(file, vessel); vesselCommandInfo.uploadMenu = false;" accept="image/*">
                                <label class="button-like">Photo</label>
                            </li>
                            <li ng-if="vesselCommandInfo.GAPlan && !vessel.get('GA')" upload="vesselCommandInfo.uploadGAPlan(file, vessel);  vesselCommandInfo.uploadMenu = false;" accept="application/pdf">
                                <label class="button-like">GA Plan</label>
                            </li>
                        </ul>
                    </div>
                    <button ng-if="vessel.get('photos')" ng-click="expand.toggle()" class="seg primary round sm" title="Expand image">
                        <i class="icon-size-md" icon="{{expand.expanded?'collapse':'expand'}}"></i>
                    </button>
                </div>
                <div id="bottom-toolbar" class="flexbox flex-justify-space-between">
                    <div class="bottom-toolbar-group">
                        <button class="seg positive rounded md" ng-if="vesselCommandInfo.GAPlan && vessel.get('GA')" ng-click="vesselCommandInfo.downloadGAPlan(vessel)" title="Download GA Plan">
                            <i icon="ga-plan"></i></button>
                        <button class="seg positive rounded" ng-if="vessel.get('imo')" ng-click="vesselCommandInfo.goToEquasis(vessel)" title="Equasis">
                            <i icon="equasis"></i>
                        </button>
                        <a ng-if="vessel.get('mmsi') || vessel.get('imo')" ng-href="https://www.marinetraffic.com/ais/details/ships/{{vessel.get('mmsi')?'mmsi:'+vessel.get('mmsi'):'imo:'+vessel.get('imo')}}" target="_blank">
                            <button class="seg positive rounded" title="Marine Traffic">
                                <i icon="link"></i>
                            </button>
                        </a>
                        <a ng-if="vessel.get('ir')" ng-href="http://ec.europa.eu/fisheries/fleet/index.cfm?method=Search.ListSearchSimpleOneVessel&CFR_CODE={{vessel.get('ir')}}&search_type=advanced" target="_blank">
                            <button class="seg positive rounded" title="Fisheries">
                                <i icon="fishery"></i>
                            </button>
                        </a>
                        <button ng-if="vesselCommandInfo.ssnEnrichment" class="seg positive rounded" ng-click="vesselCommandInfo.downloadISP(vessel)" title="ISP Datasheet">
                            <i icon="datasheet"></i>
                        </button>
                        <button class="seg positive rounded follow-btn" ng-click="vesselCommandInfo.toggleFollow(vessel)" ng-class="{active: vesselCommandInfo.isFollowed(vessel)}" title="Follow Vessel">
                            <i icon="follow-up"></i>
                        </button>
                    </div>

                    <button class="seg positive rounded favourite-btn" ng-click="vesselCommandInfo.openFavourites()" title="Favourite">
                        <i icon="favourite"></i>
                    </button>
                    <!--<button class="seg positive rounded" ng-click="vesselCommandInfo.centerMap(vessel)">
                        <i icon="square-center"></i>
                    </button>-->
                </div>
            </div>
            <div id="functions" class="flex-1">
                <div class="btn-group">
                    <button ng-click="vesselCommandInfo.getTrack(vessel)" class="seg primary rounded flex-1">Get Track</button>
                    <button class="seg primary rounded" ng-click="vesselCommandInfo.openQueryPanel()" title="Advanced Get Track">
                        <i icon="ellipsis-h"></i>
                    </button>
                </div>
                <div class="btn-group" ng-if="vesselCommandInfo.ssnEnrichment">
                    <button class="seg primary rounded flex-1" ng-click="vesselCommandInfo.getISP()">Get profile</button>
                    <button class="seg primary rounded" ng-click="vesselCommandInfo.openISPQueryPanel()" title="ISP Report">
                        <i icon="ellipsis-h"></i>
                    </button>
                </div>
                <div class="btn-group" ng-if="vesselCommandInfo.lrit">
                    <button class="seg primary rounded flex-1" ng-disabled="vesselCommandInfo.lritEnabled(vessel)" ng-click="vesselCommandInfo.openLRIT(vessel)">LRIT request</button>
                    <!--<button class="seg primary rounded">
                        <i icon="ellipsis-h"></i>
                    </button>-->
                </div>
                <combo ng-change="vesselCommandInfo.setRisk(vessel, risk);" ng-model="risk" class="flex-1" placeholder="User risk level" options="option for option in ['High', 'Medium', 'Low', 'None']" ng-init="risk = vessel.get('risk')"></combo>
                <button ng-if-start="vesselCommandInfo.ssnEnrichment" class="seg primary rounded" ng-click="vesselCommandInfo.getVoyages(vessel)">Get voyages</button>
                <button ng-if-end class="seg primary rounded" ng-disabled="( vesselCommandInfo.enrichmentAvailability(vessel,'Incidents')==='disabled')?'disabled':''" ng-click="vesselCommandInfo.getIncidents(vessel)">Get Incidents</button>
                <button ng-if-end class="seg primary rounded" ng-disabled="!(vessel.get('exemptions') && vessel.get('exemptions').length)?'disabled':''" ng-click="vesselCommandInfo.getExemptions(vessel)">Get Exemptions</button>
                <div class="btn-group" ng-if="vesselCommandInfo.thetis">
                    <button class="seg primary rounded flex-1" ng-click="vesselCommandInfo.getPSCInspections(vessel)">PSC Inspections</button>
                </div>
                <button class="seg primary rounded" ng-if="vesselCommandInfo.showGetAlerts && vesselCommandInfo.showAlertsForShip()" ng-click="vesselCommandInfo.alertsForShip(vessel)">Get Alerts (24hrs)</button>

            </div>
        </section>
        <section id="voyage" ng-if="vessel.get('voyage') && vessel.get('voyage').completed && vessel.get('voyage').completed < 100" class="text-size-xs">
            <progress-bar value="{{vessel.get('voyage').completed}}" class="flex-1 background-color-11">
                <div class="background-color-4"></div>
            </progress-bar>
            <div id="labels" class="flexbox flex-justify-space-between">
                <div>
                    <div class="font-weight-500">{{vessel.get('voyage').origin}}</div>
                    <div>ATD: <span position-timestamp="vessel.get('voyage').start"></span></div>
                </div>
                <div id="destination">
                    <div class="font-weight-500">{{vessel.get('voyage').destination}}</div>
                    <div>ETA: <span position-timestamp="vessel.get('voyage').end"></span></div>
                </div>
            </div>
        </section>
        <section id="basic-info" expand="command-info > window > window-content > panel" on-toggle="vesselCommandInfo.basicInfoExpanded = expanded">
            <pager ng-if="!vesselCommandInfo.basicInfoExpanded || !vessel.get('sai')">
                <pager-content>
                    <ul class="flexbox flex-wrap flex-direction-vertical property-list">
                        <li ng-repeat="(key, option) in vesselCommandInfo.displayPreferences" ng-if="option.visible">
                            <label bind-template="option.label"></label>
                            <value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
                        </li>
                    </ul>
                </pager-content>
                <div id="section-controls">
                    <pager-controls></pager-controls>
                    <button class="seg primary round sm" ng-click="vesselCommandInfo.basicInfoExpanded = true;  vesselCommandInfo.openTab='General';" title="More Info">
                        <i icon="expand"></i></button>
                </div>
            </pager>
            <pager ng-if="vesselCommandInfo.basicInfoExpanded && vessel.get('sai')" id="plus-specific">
                <pager-content>
                    <tab-group class="secondary">
                        <expand-controls></expand-controls>
                        <tab persistent="true" label="General">
                            <pager>
                                <pager-content>
                                    <ul class="flexbox flex-wrap flex-direction-vertical property-list">
                                        <li ng-repeat="(key, option) in vesselCommandInfo.displayPreferences" ng-if="option.visible">
                                            <label bind-template="option.label"></label>
                                            <value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
                                        </li>
                                    </ul>
                                </pager-content>
                                <pager-controls></pager-controls>
                            </pager>
                        </tab>
                        <tab persistent="true" label="{{vesselCommandInfo.getSpecificTabLabel(vessel)}}">
                            <pager>
                                <pager-content>
                                    <ul class="flexbox flex-wrap flex-direction-vertical property-list">
                                        <li ng-repeat="(key, option) in vesselCommandInfo.displaySpecificInfo" ng-if="vessel.get('sai')[key] &&  option.visible">
                                            <label bind-template="option.label"></label>
                                            <value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
                                        </li>
                                    </ul>
                                </pager-content>
                                <pager-controls></pager-controls>
                            </pager>
                        </tab>
                    </tab-group>
                </pager-content>
            </pager>
        </section>
        <section ng-if="vesselCommandInfo.ssnEnrichment" id="enrichment">
            <button class="seg positive rounded md" style="flex:2" ng-click="vesselCommandInfo.openSSNTab('voyage information')">Voyage Info</button>
            <button class="seg positive rounded md" ng-disabled="vesselCommandInfo.enrichmentAvailability(vessel, 'HAZMAT')" ng-click="vesselCommandInfo.openSSNTab('hazmat')">HAZMAT</button>
            <button class="seg positive rounded md" ng-disabled="vesselCommandInfo.enrichmentAvailability(vessel, 'Waste')" ng-click="vesselCommandInfo.openSSNTab('waste')">Waste</button>
            <button class="seg positive rounded md" ng-disabled="vesselCommandInfo.enrichmentAvailability(vessel, 'Security')" ng-click="vesselCommandInfo.openSSNTab('security') ">Security</button>
            <button class="seg positive rounded md" ng-disabled="vesselCommandInfo.enrichmentAvailability(vessel, 'MRS')" ng-click="vesselCommandInfo.openSSNTab('mrs')">MRS</button>
        </section>
    </panel>
    <panel id="enrichment-information" class="border-bottom-radius-outer" ng-if="vesselCommandInfo.basicInfoExpanded">
        <tab-group class="secondary">
            <tab persistent="true" label="General">
                <pager style="height:295px; padding:10px">
                    <pager-content>
                        <ul class="flexbox flex-wrap flex-direction-vertical property-list">
                            <li ng-repeat="(key, option) in vesselCommandInfo.displayPreferences" ng-if="option.visible">
                                <label bind-template="option.label"></label>
                                <value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
                            </li>
                        </ul>
                    </pager-content>
                    <pager-controls></pager-controls>
                </pager>
            </tab>
            <tab persistent="true" label="Specific" ng-if="vessel.get('sai')">
                <pager style="height:295px;">
                    <pager-content>
                        <include template="{{vesselCommandInfo.specific().template}}" scope="vesselCommandInfo.specific().bindings"></include>
                    </pager-content>
                    <pager-controls></pager-controls>
                </pager>
            </tab>
            <tab persistent="true" label="SSN" ng-if="vesselCommandInfo.ssnEnrichment" ng-disabled="vesselCommandInfo.SSNTabAvailability(vessel)" open="vesselCommandInfo.SSNTab">
                <tab-group class="secundary">
                    <!-- VOYAGE INFORMATION  -->
                    <tab persistent="true" label="Voyage information" open="vesselCommandInfo.SSNTabVoyageInfo">
                            <include template-url="extensibility/modules/vessels/positions/templates/command_info/voyage_info.command_info.html"></include>
                        </tab>
                    <!-- HAZMAT -->
                    <tab persistent="true" label="HAZMAT" open="vesselCommandInfo.SSNTabHazmat" ng-disabled="vesselCommandInfo.enrichmentAvailability(vessel, 'HAZMAT')">
                        <include template-url="extensibility/modules/vessels/positions/templates/command_info/hazmat.command_info.html"></include>
                    </tab>
                    <!-- WASTE -->
                    <tab persistent="true" label="Waste" open="vesselCommandInfo.SSNTabWaste" ng-disabled="vesselCommandInfo.enrichmentAvailability(vessel, 'waste')" >
                        <include template-url="extensibility/modules/vessels/positions/templates/command_info/waste.command_info.html"></include>
                    </tab>
                    <!-- SECURITY -->
                    <tab persistent="true" label="Security" open="vesselCommandInfo.SSNTabSecurity" ng-disabled="vesselCommandInfo.enrichmentAvailability(vessel, 'Security')">
                        <include template-url="extensibility/modules/vessels/positions/templates/command_info/security.command_info.html"></include>
                    </tab>
                    <!-- MRS -->
                    <tab persistent="true" label="MRS" class="flex-direction-vertical" open="vesselCommandInfo.SSNTabMrs" ng-disabled="vesselCommandInfo.enrichmentAvailability(vessel, 'MRS')">
                        <include template-url="extensibility/modules/vessels/positions/templates/command_info/mrs.command_info.html"></include>
                    </tab>
                </tab-group>
            </tab>
            <button class="seg primary round sm" ng-click="vesselCommandInfo.basicInfoExpanded = false">
                <i icon="expand"></i></button>
        </tab-group>
    </panel>
</window-content>



<style>
    command-info > window > window-title > #validation-flag[icon="check"] {
        background-color: #56a500;
        margin-right: 2px;
    }

    command-info > window > window-title > #validation-flag[icon="info"] {
        background: #E64000;
    }

    command-info > window > window-title > #validation-flag[icon="circle-minus"] {
        background: #D60000;
    }

    command-info > window > window-title > flag {
        position: relative;
        overflow: hidden;
        margin-right: 2px;
    }

    command-info > window > window-title > flag > img {
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    window-content > panel > section#voyage > progress-bar {
        border-radius: 3px;
        height: 6px;
        overflow: hidden;
    }

    window-content > panel > section#voyage > #labels > #destination {
        text-align: right;
    }

    .favourite-btn {
        margin-left: auto;
        margin-right: 4px;
    }

    section#voyage {
        border-top: none;
        padding-top: 2px;
    }

    .follow-btn.active {
        background: green !important;
    }

    command-info grid > #table-container {
        max-height: fit-content !important;
        max-width: 367px;
        min-width: 367px;
    }
    command-info grid.no-toolbar #toolbar {display: none;}
    /*
    .value-compare-validation
    {
        color:#ff0000;
    }
    */

    #photo > .photo-toptoolbar > #upload {
        position: relative;
    }

    #photo > .photo-toptoolbar > #upload > button {
        margin-right: 4px;
    }

    #photo > .photo-toptoolbar > #upload > ul {
        position: absolute;
        top: calc(100% + 5px);
        padding: 5px;
        white-space: nowrap;
    }

    .secundary table > thead > tr > th, .secundary table > tbody > tr > td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .secundary grid {max-height: 295px}
    
    .secondary > pager > pager-content > ul > li,
    .secundary > pager > pager-content > ul > li {
        flex-grow: 1;
        min-height: 32px;
        margin-bottom: 0;
    }

    ul.property-list > li > value {
        cursor: pointer;
    }
</style>
