<div class="exemptions-container" scrollable>
	<section alias="Exemption Identification">
		<section-content>
			<div class="item" style="width: 100%;">
				<span class="label">Exemption ID</span>
				<span class="value" ng-click="copyToClipboard($event)">{{ item.ExemptionID }}</span>
			</div>
			<div class="item">
				<span class="label">Exemption type</span>
				<span class="value" ng-click="copyToClipboard($event)">{{ item.ExemptionDetails.ExemptionType }}</span>
			</div>
			<div class="item" ng-if="item.ExemptionDetails.ExemptedWasteTypes">
				<span class="label">Waste Code</span>
				<span class="value" ng-click="copyToClipboard($event)">{{ wasteTypeValues(item.ExemptionDetails.ExemptedWasteTypes.WasteCode) }}</span>
			</div>
			<div class="item">
				<span class="label">Date from</span>
				<span class="value" ng-click="copyToClipboard($event)">{{ item.ExemptionDetails.DateFrom }}</span>
			</div>
			<div class="item">
				<span class="label">Date to</span>
				<span class="value" ng-click="copyToClipboard($event)">{{ item.ExemptionDetails.DateTo }}</span>
			</div>
			<div class="item">
				<span class="label">Company Name</span>
				<span class="value" ng-click="copyToClipboard($event)">{{ item.ExemptionDetails.CompanyName }}</span>
			</div>
		</section-content>
	</section>
	<section alias="Authority Granting the Exemption">
		<section-content>
			<div class="item">
				<span class="label">Authority Name</span>
				<span class="value" ng-click="copyToClipboard($event)">{{ item.ExemptionDetails.Authority.AuthorityName }}</span>
			</div>
			<div class="item">
				<span class="label">Authority Type</span>
				<span class="value" ng-click="copyToClipboard($event)">{{ item.ExemptionDetails.Authority.AuthorityType }}</span>
			</div>
			<div class="item">
				<span class="label">Country</span>
				<span class="value" ng-click="copyToClipboard($event)">{{ item.ExemptionDetails.Authority.Country | country }}</span>
			</div>
		</section-content>
	</section>
	<section alias="24/7 Contact Details">
		<section-content>
			<div class="item">
				<span class="label">First Name</span>
				<span class="value" ng-click="copyToClipboard($event)">{{ item.ExemptionDetails.Contact247.FirstName }}</span>
			</div>
			<div class="item">
				<span class="label">Last Name</span>
				<span class="value" ng-click="copyToClipboard($event)">{{ item.ExemptionDetails.Contact247.LastName }}</span>
			</div>
			<div class="item">
				<span class="label">E-mail</span>
				<span class="value" ng-click="copyToClipboard($event)">{{ item.ExemptionDetails.Contact247.EMail }}</span>
			</div>
			<div class="item">
				<span class="label">Phone</span>
				<span class="value" ng-click="copyToClipboard($event)">{{ item.ExemptionDetails.Contact247.Phone }}</span>
			</div>
			<div class="item" ng-if="item.ExemptionDetails.Contact247.LoCode">
				<span class="label">LoCode</span>
				<span class="value" ng-click="copyToClipboard($event)" locode="item.ExemptionDetails.Contact247.LoCode"></span>
			</div>
			<div class="item">
				<span class="label">Fax</span>
				<span class="value" ng-click="copyToClipboard($event)">{{ item.ExemptionDetails.Contact247.Fax }}</span>
			</div>
		</section-content>
	</section>
	<section alias="Route">
		<section-content>
			<div class="item" ng-repeat="route in item.ExemptionDetails.Route">
				<span class="label">Port {{ $index + 1 }}</span>
				<span class="value" ng-click="copyToClipboard($event)" locode="route.Port"></span>
			</div>
		</section-content>
	</section>
	<section alias="Exemption applies to">
		<section-content>
			<div class="item">
				<span class="label">
					Port
				</span>
				<span ng-if="item.ExemptionDetails.ExemptionAppliesTo[0]" ng-repeat="ExemptionAppliesTo in item.ExemptionDetails.ExemptionAppliesTo" class="value" ng-click="copyToClipboard($event)" locode="ExemptionAppliesTo.Port"></span>

				<span ng-if="!item.ExemptionDetails.ExemptionAppliesTo[0]" class="value" ng-click="copyToClipboard($event)" locode="item.ExemptionDetails.ExemptionAppliesTo.Port"></span>
			</div>
			<div class="item">
				<span class="label">Exempted Port Facilities</span>
				<span class="value">
					{{item.ExemptionDetails.ExemptionAppliesTo.ExemptedPortFacilities.PortFacility}}
				</span>
			</div>
		</section-content>
	</section>
</div>

<style>
.exemptions-container {
	width: 400px;
	max-height: 400px;
	overflow-y: hidden;
	margin: -15px;
}

.exemptions-container grid > #toolbar {
	display: none;
}

.exemptions-container section {
	display: flex;
	flex-direction: column;
}

.exemptions-container section section-content {
	display: block;
	font-size: 11px;
}

.exemptions-container .item {
	display: flex;
	flex-direction: column;
	float: left;
	width: 50%;
	padding: 2px;
	height: auto;
}

.exemptions-container .item.grid {
	width: 100%;
}

.exemptions-container .label {
	width: 100%;
	display: block;
	float: left;
	font-weight: bold;
}

.exemptions-container .value {
	width: 100%;
	display: block;
	float: left;
    user-select: all;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: element;
    cursor: pointer;
}
</style>