<div class="incident-container" scrollable>
	<div class="" ng-repeat="feedback in data.feedbacks">
		<section alias="Feedback Identification">
			<section-content>
				<div class="item">
					<span class="label">Feedback ID</span>
					<span class="value" ng-click="copyToClipboard($event)"> {{feedback.FeedbackInformation.FeedbackIdentification.FeedbackID|| 'N/A'}}</span>
				</div>
				<div class="item" >
					<span class="label">Incident ID</span>
					<span class="value" ng-click="copyToClipboard($event)"> {{feedback.FeedbackInformation.FeedbackIdentification.IncidentID || 'N/A'}}</span>
				</div>
			</section-content>
		</section>
		<section alias="Feedback Distribution" ng-if="data.feedbacks">
			<section-content>
				<div class="item" style="width:100%">
					<span class="label">Feedback Recipients</span>
					<grid  data="feedback.FeedbackInformation.FeedbackDistribution.FeedbackRecipient" item-as="item" fields="IRDistributionDetailsTTTFields" style="max-heigth: 150px"></grid>
				</div>
			</section-content>
		</section>
		<section alias="Feedback Details">
			<section-content>
				<div class="item">
					<span class="label">Authority Reporting Action ID</span>
					<span class="value" ng-click="copyToClipboard($event)">{{feedback.FeedbackInformation.AuthorityReportingAction.SSNUserIdentifier.SSNUserID  || 'NA' }}</span>
				</div>
				<div class="item">
					<span class="label">Details</span>
					<span class="value" ng-click="copyToClipboard($event)">{{feedback.FeedbackInformation.ReportActionDetails.Details  || 'NA' }}</span>
				</div>
				<div class="item">
					<span class="label">DateTime Report Action</span>
					<span class="value" ng-click="copyToClipboard($event)" position-timestamp="feedback.FeedbackInformation.ReportActionDetails.DateTimeReportAction"></span>
				</div>
			</section-content>
		</section>
	</div>
	<section alias="Authority Reporting the Incident">
		<section-content>
			<div class="item">
				<span class="label">SSN User ID</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.SSNUserID|| 'N/A'}}</span>
			</div>
			<div class="item" ng-if="data.incident.AuthorityReportingIncident.SSNUserIdentifier.Name">
				<span class="label">Name</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.Name || 'N/A'}}</span>
			</div>
			<div class="item" ng-if="data.incident.AuthorityReportingIncident.SSNUserIdentifier.Location">
				<span class="label">Location</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.Location || 'N/A'}}</span>
			</div>
			<div class="item" ng-if="data.incident.AuthorityReportingIncident.SSNUserIdentifier.Phone">
				<span class="label">Phone</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.Phone || 'N/A'}}</span>
			</div>
			<div class="item" ng-if="data.incident.AuthorityReportingIncident.SSNUserIdentifier.Fax">
				<span class="label">Fax</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.Fax || 'N/A'}}</span>
			</div>
			<div class="item" ng-if="data.incident.AuthorityReportingIncident.SSNUserIdentifier.Email">
				<span class="label">Email</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.Email || 'N/A'}}</span>
			</div>
		</section-content>
	</section>
	<section alias="Distribution Details" ng-if="data.incident.IRDistributionDetails.IRRecipient">
		<section-content>
			<div class="item" style="width:100%">
				<span class="label">Selected Recipients</span>
				<grid  style="max-heigth: 150px"  data="data.incident.IRDistributionDetails.IRRecipient" item-as="item" fields="IRDistributionDetailsTTTFields"></grid>
			</div>
		</section-content>
	</section>
	<div ng-repeat="vessel in data.incident.IRVesselIdentificationList.IRVesselIdentification">
		<section alias="Vessel #{{vessel.IRVessel_IdentityVerified.IMONumber}}">
			<section alias="Voyage Information">
				<section-content>
					<div class="item">
						<span class="label">Port of Departure</span>

						<span class="value" ng-click="copyToClipboard($event)"> <span ng-if="vessel.IRVoyageInformation.PortOfDeparture" locode="vessel.IRVoyageInformation.PortOfDeparture"></span></span>
					</div>
					<div class="item">
						<span class="label">Port of Destination</span>
						<span class="value" ng-click="copyToClipboard($event)"> <span ng-if="vessel.IRVoyageInformation.PortOfDestination" locode="vessel.IRVoyageInformation.PortOfDestination"></span></span>
					</div>
					<div class="item">
						<span class="label">Number of Persons</span>
						<span class="value" ng-click="copyToClipboard($event)"> {{vessel.IRVoyageInformation.TotalPersonsOnBoard || 'N/A'}}</span>
					</div>
					<div class="item" ng-if="vessel.ShipPositionAtTimeOfIncident">
						<span class="label">Ship Position at the time of Incident</span>
						<span class="value" ng-click="copyToClipboard($event)" ng-if="vessel.ShipPositionAtTimeOfIncident.Area">
							Area: {{vessel.ShipPositionAtTimeOfIncident.Area.GeographicalArea}}
						</span>
						<span class="value" ng-click="copyToClipboard($event)" ng-if="vessel.ShipPositionAtTimeOfIncident.BearingDistance">
							Mark: {{vessel.ShipPositionAtTimeOfIncident.BearingDistance.Mark}}<br>
							Distance: {{vessel.ShipPositionAtTimeOfIncident.BearingDistance.Distance}}<br>
							Bearing: {{vessel.ShipPositionAtTimeOfIncident.BearingDistance.Bearing}}
						</span>
						<span class="value" ng-click="copyToClipboard($event)" ng-if="vessel.ShipPositionAtTimeOfIncident.GeoCoordinates">
							Lat: <span coordinate="[vessel.ShipPositionAtTimeOfIncident.GeoCoordinates.Latitude,'lat']"></span><br>
							Long: <span coordinate="[vessel.ShipPositionAtTimeOfIncident.GeoCoordinates.Longitude,'lon']"></span>
						</span>
					</div>
					<div class="item" ng-if="vessel.ShipPositionAtTimeOfReporting">
						<span class="label">Ship Position at the time of Reporting</span>
						<span class="value" ng-click="copyToClipboard($event)" ng-if="vessel.ShipPositionAtTimeOfReporting.Area">
							Area: {{vessel.ShipPositionAtTimeOfReporting.Area.GeographicalArea}}
						</span>
						<span class="value" ng-click="copyToClipboard($event)" ng-if="vessel.ShipPositionAtTimeOfReporting.BearingDistance">
							Mark: {{vessel.ShipPositionAtTimeOfReporting.BearingDistance.Mark}}<br>
							Distance: {{vessel.ShipPositionAtTimeOfReporting.BearingDistance.Distance}}<br>
							Bearing: {{vessel.ShipPositionAtTimeOfReporting.BearingDistance.Bearing}}
						</span>
						<span class="value" ng-click="copyToClipboard($event)" ng-if="vessel.ShipPositionAtTimeOfReporting.GeoCoordinates">
							Lat: <span coordinate="[vessel.ShipPositionAtTimeOfReporting.GeoCoordinates.Latitude,'lat']"></span><br>
							Long: <span coordinate="[vessel.ShipPositionAtTimeOfReporting.GeoCoordinates.Longitude,'lon']"></span>
						</span>
					</div>
				</section-content>
			</section>
			<section alias="IRVessel Identiy Verified" ng-if="vessel.IRVessel_IdentityVerified">
				<section-content>
					<div class="item">
						<span class="label">Ship Name</span>
						<span class="value" ng-click="copyToClipboard($event)"> {{vessel.IRVessel_IdentityVerified.ShipName || 'N/A'}}</span>
					</div>
					<div class="item">
						<span class="label">Call Sign</span>
						<span class="value" ng-click="copyToClipboard($event)"> {{vessel.IRVessel_IdentityVerified.CallSign || 'N/A'}}</span>
					</div>
					<div class="item">
						<span class="label">IMO</span>
						<span class="value" ng-click="copyToClipboard($event)"> {{vessel.IRVessel_IdentityVerified.IMONumber || 'N/A'}}</span>
					</div>
					<div class="item">
						<span class="label">Flag</span>
						<span class="value" ng-click="copyToClipboard($event)"> {{(vessel.IRVessel_IdentityVerified.Flag | country) || 'N/A'}}</span>
					</div>
					<div class="item">
						<span class="label">MMSI</span>
						<span class="value" ng-click="copyToClipboard($event)"> {{vessel.IRVessel_IdentityVerified.MMSINumber || 'N/A'}}</span>
					</div>
				</section-content>
			</section>
			<section alias="Cargo Manifest" ng-if="vessel.CargoManifest">
				<section-content>
					<div class="item">
						<span class="label">URL</span>
						<span class="value" ng-click="copyToClipboard($event)"> {{vessel.CargoManifest.ContactDetails.URL || 'N/A'}}</span>
					</div>
					<div class="item" ng-if="vessel.CargoManifest.UrlDetails">
						<span class="label">Url Details</span>
						<span class="value" ng-click="copyToClipboard($event)"> <a ng-href="{{vessel.CargoManifest.UrlDetails.Url}}">{{vessel.CargoManifest.UrlDetails.DocType}}</a></span>
					</div>
					<div class="item">
						<span class="label">Name</span>
						<span class="value" ng-click="copyToClipboard($event)"> {{vessel.CargoManifest.ContactDetails.FirstName || 'N/A'}}</span>
					</div>
					<div class="item">
						<span class="label">Phone</span>
						<span class="value" ng-click="copyToClipboard($event)"> {{vessel.CargoManifest.ContactDetails.Phone || 'N/A'}}</span>
					</div>
					<div class="item">
						<span class="label">Fax</span>
						<span class="value" ng-click="copyToClipboard($event)"> {{vessel.CargoManifest.ContactDetails.Fax || 'N/A'}}</span>
					</div>
					<div class="item">
						<span class="label">Email</span>
						<span class="value" ng-click="copyToClipboard($event)"> {{vessel.CargoManifest.ContactDetails.EMail || 'N/A'}}</span>
					</div>
					<div class="item">
						<span class="label">Location</span>
						<span class="value" ng-click="copyToClipboard($event)"> {{vessel.CargoManifest.ContactDetails.LoCode || 'N/A'}}</span>
					</div>
				</section-content>
			</section>
		</section>
	</div>
	<section alias="Attachments" ng-if="data.incident.attachments">
		<div class="item grid">
			<span class="label">Attachements</span>
			<grid class="observerId" data="[]" item-as="item" fields="attachmentFields"></grid>
		</div>
	</section>
	<section alias="Waste Information" ng-if="type==='Waste'">
		<section-content>
			<div class="item">
				<span class="label">Port where Waste Delivery was Due</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.SSNUserID  || 'N/A' }}</span>

			</div>
			<div class="item">
				<span class="label">ETD</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.SSNUserID  || 'N/A'}}</span>

			</div>
			<div class="item">
				<span class="label">Inspection Reason</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.SSNUserID  || 'N/A'}}</span>
			</div>
		</section-content>
	</section>
	<section alias="Inspection Information" ng-if="type==='Waste'">
		<section-content>
			<div class="item">
				<span class="label">Deficiencies</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.SSNUserID}}</span>

			</div>
			<div class="item">
				<span class="label">Action taken</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.SSNUserID}}</span>

			</div>
			<div class="item">
				<span class="label">Inspection Authority Name</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.SSNUserID}}</span>

			</div>
			<div class="item">
				<span class="label">Phone</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.SSNUserID}}</span>

			</div>
			<div class="item">
				<span class="label">Fax</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.SSNUserID}}</span>
			</div>
			<div class="item">
				<span class="label">Email</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.SSNUserID}}</span>

			</div>
		</section-content>
	</section>

	<section alias="Incident Document Details" ng-if="((data.document) && (data.document.DocType) &&  (data.document.DocType!=''))">
		<section-content>
			<div class="item">
				<span class="label">Type</span>
				<span class="value" ng-click="copyToClipboard($event)">{{data.document.DocType}}</span>
			</div>
			<div class="item">
				<button class="seg sm primary rounded" ng-click="downloadDocument()">Download</button>
			</div>
		</section-content>
	</section>
	<section alias="C_Situation" ng-if="type==='SITREP' &&  data.incident.IncidentDetails && data.incident.IncidentDetails.SITREPIncidentInformation && data.incident.IncidentDetails.SITREPIncidentInformation.SITREPInformation.C_Situation">
		<section-content>
			<div class="item">
				<span class="label">Message Type</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.SITREPIncidentInformation.SITREPInformation.C_Situation.MessageType  || 'N/A'}}</span>
			</div>
			<div class="item">
				<span class="label">Notified at</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.SITREPIncidentInformation.SITREPInformation.C_Situation.NotifiedAt  || 'N/A'}}</span>
			</div>
			<div class="item">
				<span class="label">Nature</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.SITREPIncidentInformation.SITREPInformation.C_Situation.Nature  || 'N/A'}}</span>
			</div>
			<!--   <div class="item">
				<span class="label">SITREP ID</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.SITREPInformation.C_Situation.}}</span>
			</div>-->
			<div class="item">
				<span class="label">D_Number of Persons At Risk</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.SITREPIncidentInformation.SITREPInformation.C_Situation.D_NumberOfPersonsAtRisk  || 'N/A'}}</span>
			</div>
			<div class="item">
				<span class="label">E_Assisteance Required</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.SITREPIncidentInformation.SITREPInformation.C_Situation.E_AssistanceRequired  || 'N/A'}}</span>
			</div>
			<div class="item">
				<span class="label">F_Coordinating Authority</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.SITREPIncidentInformation.SITREPInformation.C_Situation.F_CoordinatingAuthority || 'N/A'}}</span>
			</div>
			<div class="item">
				<span class="label">G_Casuality Description</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.SITREPIncidentInformation.SITREPInformation.C_Situation.G_CasualtyDescription || 'N/A'}}</span>
			</div>
			<div class="item">
				<span class="label">H_Wheather On Scene</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.SITREPIncidentInformation.SITREPInformation.C_Situation.H_WeatherOnScene || 'N/A'}}</span>
			</div>
			<div class="item">
				<span class="label">J_Initial Action Taken</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.SITREPIncidentInformation.SITREPInformation.C_Situation.J_InitialActionTaken || 'N/A'}}</span>
			</div>
			<div class="item">
				<span class="label">K_Search Area</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.SITREPIncidentInformation.SITREPInformation.C_Situation.K_SearchArea || 'N/A' }}</span>
			</div>
			<div class="item">
				<span class="label">L_Coordinating Instructions</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.SITREPIncidentInformation.SITREPInformation.C_Situation.L_CoordinatingInstructions || 'N/A' }}</span>
			</div>
			<div class="item">
				<span class="label">M_Future Plans</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.SITREPIncidentInformation.SITREPInformation.C_Situation.M_FuturePlans || 'N/A' }}</span>
			</div>
			<div class="item">
				<span class="label">N_Additional Information</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.SITREPIncidentInformation.SITREPInformation.C_Situation.N_AdditionalInformation || 'N/A'}}</span>
			</div>
		</section-content>
	</section>
	<section alias="POLWARN" ng-if="type==='POLREP'">
		<section-content>
			<div class="item">
				<span class="label">P1_Date Time</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.POLREPIncidentInformation.POLREPInformation.POLWARN.P1_DateTime}}</span>
			</div>
			<div class="item">
				<span class="label">P2_Position</span>
				<span ng-if="data.incident.IncidentDetails.POLREPIncidentInformation.POLREPInformation.POLWARN.P2_Position.GeoCoordinates" class="value" ng-click="copyToClipboard($event)">
					<span coordinate='[data.incident.IncidentDetails.POLREPIncidentInformation.POLREPInformation.POLWARN.P2_Position.GeoCoordinates.Latitude,"lat"]'></span>
					<span coordinate='[data.incident.IncidentDetails.POLREPIncidentInformation.POLREPInformation.POLWARN.P2_Position.GeoCoordinates.Longitude,"lon"]'></span>
				</span>
			</div>
			<div class="item">
				<span class="label">P3_Incident</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.POLREPIncidentInformation.POLREPInformation.POLWARN.P3_Incident || 'N/A' || 'N/A'}}</span>
			</div>
			<div class="item">
				<span class="label">P4_Outflow</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.POLREPIncidentInformation.POLREPInformation.POLWARN.P4_Outflow || 'N/A' || 'N/A'}}</span>
			</div>
			<div class="item">
				<span class="label">P5_Acknowledge</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.POLREPIncidentInformation.POLREPInformation.POLWARN.P5_Acknowledge || 'N/A' || 'N/A'}}</span>
			</div>
		</section-content>
	</section>
	<section alias="POLINF" ng-if="type==='POLREP'">
		<section-content>
			<div class="item">
				<span class="label">P40_Date Time</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.POLREPIncidentInformation.POLREPInformation.POLINF.P40_DateTime}}</span>
			</div>
			<div class="item">
				<span class="label">P41_Pollution Position</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.POLREPIncidentInformation.POLREPInformation.POLINF.P41_PollutionPosition || 'N/A'}}</span>
			</div>
			<div class="item">
				<span class="label">P42_Pollution Characteristics</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.POLREPIncidentInformation.POLREPInformation.POLINF.P42_PollutionChars || 'N/A'}}</span>
			</div>
			<div class="item">
				<span class="label">P43_Pollution Source</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.POLREPIncidentInformation.POLREPInformation.POLINF.P43_PollutionSource || 'N/A'}}</span>
			</div>
			<div class="item">
				<span class="label">P44_Wind: Speed</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.POLREPIncidentInformation.POLREPInformation.POLINF.P44_Wind.Speed || 'N/A'}}</span>
			</div>
			<div class="item">
				<span class="label">P44_Wind Direction</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.POLREPIncidentInformation.POLREPInformation.POLINF.P44_Wind.Direction || 'N/A'}}</span>
			</div>
			<div class="item">
				<span class="label">P45_Tide: Speed</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.POLREPIncidentInformation.POLREPInformation.POLINF.P45_Tide.Speed || 'N/A'}}</span>
			</div>
			<div class="item">
				<span class="label">P45_Tide Direction</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.POLREPIncidentInformation.POLREPInformation.POLINF.P45_Tide.Direction || 'N/A'}}</span>
			</div>
			<div class="item">
				<span class="label">P46_Sea State: Wave Height</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.POLREPIncidentInformation.POLREPInformation.POLINF.P46_SeaState.WaveHeight || 'N/A'}}</span>
			</div>
			<div class="item">
				<span class="label">P46_Sea State: Visibility</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.POLREPIncidentInformation.POLREPInformation.POLINF.P46_SeaState.Visibility || 'N/A'}}</span>
			</div>
			<div class="item">
				<span class="label">P47_Pollution Drift: Course</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.POLREPIncidentInformation.POLREPInformation.POLINF.P47_PollutionDrift.DriftCourse || 'N/A'}}</span>
			</div>
			<div class="item">
				<span class="label">P47_Pollution Drift: Speed</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.POLREPIncidentInformation.POLREPInformation.POLINF.P47_PollutionDrift.DriftSpeed || 'N/A'}}</span>
			</div>
			<div class="item">
				<span class="label">P48_Pollution Effect Forecast</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.POLREPIncidentInformation.POLREPInformation.POLINF.P48_PollutionEffectForecast || 'N/A'}}</span>
			</div>
			<div class="item">
				<span class="label">P50_Action Taken</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.POLREPIncidentInformation.POLREPInformation.POLINF.P50_ActionTaken || 'N/A'}}</span>
			</div>
			<div class="item">
				<span class="label">P51_Photographs: Course</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.POLREPIncidentInformation.POLREPInformation.POLINF.P51_Photographs || 'N/A'}}</span>
			</div>
			<div class="item">
				<span class="label">P53_Other Information</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.POLREPIncidentInformation.POLREPInformation.POLINF.P53_OtherInformation || 'N/A'}}</span>
			</div>
			<div class="item">
				<span class="label">P60_Acknowledge</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.IncidentDetails.POLREPIncidentInformation.POLREPInformation.POLINF.P60_Acknowledge || 'N/A'}}</span>
			</div>
			<div class="item grid" ng-if= "data.incident.IncidentDetails.POLREPIncidentInformation.POLREPInformation.POLINF.P49_ObserverIdentity" >
				<span class="label">P49_Identity Of Observer/Reporter</span>
				<grid class="observerId" data="data.incident.IncidentDetails.POLREPIncidentInformation.POLREPInformation.POLINF.P49_ObserverIdentity" item-as="item" fields="observerIdentityFields"></grid>
			</div>
			<div class="item grid" ng-if="data.incident.IncidentDetails.POLREPIncidentInformation.POLREPInformation.POLINF.P52_InformedStateOrg">
				<span class="label" >P52_Other States and Organizations Informed</span>
				<grid class="observerId" data="data.incident.IncidentDetails.POLREPIncidentInformation.POLREPInformation.POLINF.P52_InformedStateOrg" item-as="item" fields="P52_OtherStatesAndOrganizationsInformedFields"></grid>
			</div>
		</section-content>
	</section>
	<section alias="Lost/Found Object"  ng-if="type==='lost/Found'">
		<section-content>
			<div class="item">
				<span class="label">Date</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.SSNUserID}}</span>
			</div>
			<div class="item">
				<span class="label">P1_Report Type</span>
				<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.SSNUserID}}</span>
			</div>
			<div class="item grid">
				<span class="label">Identity of Observer</span>
				<grid class="observerId" data="observerIdentityData" item-as="item" fields="observerIdentityFields"></grid>

			</div>
		</section-content>
	</section>
	<section alias="Object Information" ng-if="type==='lost/Found'">
		<section-content>
			<span class="label">Position</span>
			<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.SSNUserID}}</span>
			<span class="label">Number of Objects</span>
			<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.SSNUserID}}</span>
			<span class="label">Type of Goods</span>
			<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.SSNUserID}}</span>
			<span class="label">Object</span>
			<!-- <grid></grid>-->
			<span class="label">Wind Speed</span>
			<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.SSNUserID}}</span>
			<span class="label">Wind Direction</span>
			<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.SSNUserID}}</span>
			<span class="label">Tide Speed</span>
			<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.SSNUserID}}</span>
			<span class="label">Tide Direction</span>
			<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.SSNUserID}}</span>
			<span class="label">Sea State: Wave height</span>
			<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.SSNUserID}}</span>
			<span class="label">Sea State: Visibility</span>
			<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.SSNUserID}}</span>
			<span class="label">Object Drift: Course</span>
			<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.SSNUserID}}</span>
			<span class="label">Object Drift: Speed</span>
			<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.SSNUserID}}</span>
			<span class="label">Tide Speed</span>
			<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.SSNUserID}}</span>
		</section-content>
	</section>
	<section alias="type" ng-if="type==='other'">
		<section-content>
			<span class="label">Incident ID</span>
			<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.SSNUserID}}</span>

			<span class="label">Description</span>
			<span class="value" ng-click="copyToClipboard($event)"> {{data.incident.AuthorityReportingIncident.SSNUserIdentifier.SSNUserID}}</span>
		</section-content>
	</section>
</div>

<style>
.incident-container {
	width: 400px;
	max-height: 400px;
	overflow-y: hidden;
	margin: -15px;
}

.incident-container grid > #toolbar {
	display: none;
}

.incident-container section {
	display: flex;
	flex-direction: column;
}

.incident-container section section-content {
	display: block;
	font-size: 11px;
}

.incident-container .item {
	display: flex;
	flex-direction: column;
	float: left;
	width: 50%;
	padding: 2px;
	height: auto;
}

.incident-container .item.grid {
	width: 100%;
}

.incident-container .label {
	width 100%;
	display: block;
	float: left;
	font-weight: bold;
}

.incident-container .value {
	width 100%;
	display: block;
	float: left;
	user-select: auto;
	cursor: pointer;
}

.incident-container grid > #table-container {
    max-height: fit-content !important;
    max-width: fit-content !important;
    min-width: fit-content !important;
}

</style>
