<section id="vessel-tooltip-preferences">
	<div class="row">
		<label class="text-size-sm">Vessel Tooltip</label>
	</div>
	<ul class="flexbox flex-1 flex-wrap text-size-sm" id="property-list">
		<li class="flexbox flex-align-center size-sm" ng-repeat="(label, properties) in labels.getTooltipDisplayProperties()">
			<checkbox ng-checked="properties.visible" ng-click="labels.toggleTooltipProperty(properties.label)"></checkbox>
			<label class="flexbox flex-align-center flex-1 ">{{properties.label}}</label>
		</li>
	</ul>
</section>
<section id="vessel-label-preferences">
	<div class="row">
		<toggle ng-checked="labels.showingVesselLabels()" ng-click="labels.toggleVesselLabels()"></toggle>
		<label class="text-size-sm">Show Vessel labels</label>
	</div>
	<div class="content" ng-if="labels.showingVesselLabels()" id="label-properties">
		<ul class="flexbox flex-1 flex-wrap text-size-sm">
			<li class="flexbox flex-1 flex-align-center" ng-repeat="property in labels.vesselLabelProperties">
				<checkbox ng-checked="labels.isPropertySelected(property)" ng-click="labels.toggleLabelProperty(property)"></checkbox>
				<label>{{labels.getProperty(property).label}}</label>
			</li>
		</ul>
		<div class="row">
			<label class="text-size-sm row">Label Activation Scale</label>
		</div>
		<div class="row" id="activation-scale-value">
			<combo placeholder="1 : {{labels.activationScale | number}}" ng-model="labels.activationScale" options="scale as '1 : '+(scale | number) for scale in labels.scales"></combo>
		</div>
	</div>
</section>