<window>
	<window-content class="background-color-3 border-top-left-radius-outer border-top-right-radius-outer" ng-if="showLabel()">
        <section class="border-bottom-radius">
    		<div class="text-size-xs label-info">
				<div ng-repeat="(key, visible) in getVisibleProperties()" ng-if="visible && getProperty(key)">
					<label>{{getProperty(key).label}}</label>: <b><include template="{{getProperty(key).template}}"></include></b>
				</div>
			</div>
        </section>
	</window-content>
</window>
<style ng-if="!showLabel()">.tooltip-label:not(:empty):after {display: none;}</style>