<div class="legend sm" ng-if="selectedSymbology()==='IALA'">
	<div class="row">
		<div class="column">
			<div class="title">Data Source</div>
			<div class="legend-item">
				<i class="icon-size-md ais-data" icon="vessel-iala"></i>
				<span class="label">AIS Data</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md lrit-data" icon="vessel-iala"></i>
				<span class="label">LRIT Data</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md mrs-data-iala-colour" icon="vessel-iala"></i>
				<span class="label">MRS Data</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md vms-data" icon="vessel-iala"></i>
				<span class="label">VMS Data</span>
			</div>
		</div>
		<div class="column">
			<div class="title">Heading</div>
			<div class="legend-item">
				<i class="icon-size-md heading" icon="vessel-iala"></i>
				<span class="label">Heading available</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md heading" icon="vessel-iala-nohdg"></i><span class="label">No heading available</span>
			</div>
		</div>
	</div>
</div>
<div class="legend sm" ng-if="selectedSymbology()==='EFCA'">
	<div class="row">
		<div class="column">
			<div class="title">ICCAT Information</div>
			<div class="legend-item">
				<i class="icon-size-md valid-permit" icon="vessel-iala"></i>
				<span class="label">Valid Catch Permit</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md expired-invalid-permit" icon="vessel-iala"></i>
				<span class="label">Expired or Invalid Catch Permit</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md non-iccat" icon="vessel-iala"></i>
				<span class="label">Other fishing vessels</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md non-fishing" icon="vessel-iala"></i>
				<span class="label">Non Fishing Vessel</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md fisheries-patrol" icon="vessel-iala"></i>
				<span class="label">Fisheries Patrol</span>
			</div>
		</div>
		<div class="column">
			<div class="title">Heading</div>
			<div class="legend-item">
				<i class="icon-size-md heading" icon="vessel-iala"></i>
				<span class="label">Heading available</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md heading" icon="vessel-iala-nohdg"></i><span class="label">No heading available</span>
			</div>
		</div>
	</div>
</div>
<div class="legend sm" ng-if="selectedSymbology()==='Vessel Type'">
	<div class="row">
		<div class="column">
			<div class="title">Vessel Type</div>
			<div class="legend-item">
				<i class="icon-size-md type-passenger" icon="vessel-iala"></i>
				<span class="label">Passenger</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md type-cargo" icon="vessel-iala"></i>
				<span class="label">Cargo</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md type-tanker" icon="vessel-iala"></i>
				<span class="label">Tanker</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md type-tug" icon="vessel-iala"></i>
				<span class="label">Tug</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md type-pleasure" icon="vessel-iala"></i>
				<span class="label">Pleasure</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md type-fishing" icon="vessel-iala"></i>
				<span class="label">Fishing</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md type-unknown" icon="vessel-iala"></i>
				<span class="label">Unknown</span>
			</div>
		</div>
		<div class="column">
			<div class="title">Heading</div>
			<div class="legend-item">
				<i class="icon-size-md heading" icon="vessel-iala"></i>
				<span class="label">Heading available</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md heading" icon="vessel-iala-nohdg"></i><span class="label">No heading available</span>
			</div>
		</div>
	</div>
</div>
<div class="legend sm" ng-if="selectedSymbology()==='Voyage Information'">
	<div class="row">
		<div class="column">
			<div class="title">Risk Status</div>
			<div class="legend-item">
				<i class="icon-size-md ais-data" icon="vessel-iala"></i>
				<span class="label">Normal</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md type-tanker" icon="vessel-iala"></i>
				<span class="label">Incident</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md ais-data" icon="vessel-iala-hazmat"></i>
				<span class="label">Hazmat</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md ssn-sht" icon="vessel-iala"></i>
				<span class="label">SHT</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md ais-data" icon="vessel-iala-waste"></i>
				<span class="label">Waste</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md ais-data" icon="vessel-iala-security"></i>
				<span class="label">Security > 1</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md ais-data" icon="vessel-iala-exemptions"></i>
				<span class="label">Exemptions</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md ais-data" icon="vessel-iala-banned"></i>
				<span class="label">Banned</span>
			</div>
			<!-- <div class="legend-item">
				<i class="icon-size-md ais-data" icon="vessel-iala-detained"></i>
				<span class="label">Detained</span>
			</div> -->
		</div>
		<div class="column">
			<div class="title">Heading</div>
			<div class="legend-item">
				<i class="icon-size-md heading" icon="vessel-iala"></i>
				<span class="label">Heading available</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md heading" icon="vessel-iala-nohdg"></i><span class="label">No heading available</span>
			</div>
		</div>
	</div>
</div>
<div class="legend sm" ng-if="selectedSymbology()==='Data Source'">
	<div class="row">
		<div class="column">
			<div class="title">Data Source</div>
			<div class="legend-item">
				<i class="icon-size-md ais-data-iala-colour" icon="vessel-iala"></i>
				<span class="label">T-AIS Data</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md sat-ais-data-iala-colour" icon="vessel-iala"></i>
				<span class="label">Sat-AIS Data</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md lrit-data-iala-colour" icon="vessel-iala"></i>
				<span class="label">LRIT Data</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md mrs-data-iala-colour" icon="vessel-iala"></i>
				<span class="label">MRS Data</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md vds-data-iala-colour" icon="vessel-iala"></i>
				<span class="label">VDS Data</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md vms-data-iala-colour" icon="vessel-iala"></i>
				<span class="label">VMS Data</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md sightings-iala-colour" icon="vessel-iala"></i>
				<span class="label">Sightings</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md inspections-no-infringement-iala-colour" icon="vessel-iala"></i>
				<span class="label">Inspections no infringement</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md inspections-infringements-iala-colour" icon="vessel-iala"></i>
				<span class="label">Inspections infringement</span>
			</div>
		</div>
		<div class="column">
			<div class="title">Heading</div>
			<div class="legend-item">
				<i class="icon-size-md heading" icon="vessel-iala"></i>
				<span class="label">Heading available</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md heading" icon="vessel-iala-nohdg"></i><span class="label">No heading available</span>
			</div>
		</div>
	</div>
</div>
<div class="legend sm" ng-if="selectedSymbology()==='Target Age Color'">
	<div class="row">
		<div class="column">
			<div class="title">Data Color</div>
			<div class="legend-item">
				<i class="icon-size-md target-age-color-green" icon="vessel-iala"></i>
				<span class="label">Less than 10 min</span>
			</div>
			<div class="legend-item ">
				<i class="icon-size-md target-age-color-yellow" icon="vessel-iala"></i>
				<span class="label">From 10 up to 60 min</span>
			</div>
			<div class="legend-item ">
				<i class="icon-size-md target-age-color-orange" icon="vessel-iala"></i>
				<span class="label">From 60 up to 170 min</span>
			</div>
			<div class="legend-item ">
				<i class="icon-size-md target-age-color-red" icon="vessel-iala"></i>
				<span class="label">From 170 min</span>
			</div>
		</div>
		<div class="column">
			<div class="title">Heading</div>
			<div class="legend-item">
				<i class="icon-size-md heading" icon="vessel-iala"></i>
				<span class="label">Heading available</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md heading" icon="vessel-iala-nohdg"></i><span class="label">No heading available</span>
			</div>
		</div>
 </div>
	</div>
<div class="legend sm" ng-if="selectedSymbology()==='Target Age Opacity'">
	<div class="row">
		<div class="column">
			<div class="title">Data Opacity</div>
			<div class="legend-item ">
				<i class="icon-size-md target-age-opacity-black" icon="vessel-iala"></i>
				<span class="label"> Less than 10 min</span>
			</div>
			<div class="legend-item ">
				<i class="icon-size-md target-age-opacity-grey" icon="vessel-iala"></i>
				<span class="label"> From 10 up to 60 min</span>
			</div>
			<div class="legend-item ">
				<i class="icon-size-md target-age-opacity-light-grey" icon="vessel-iala"></i>
				<span class="label"> From 60 up to 170 min</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md target-age-opacity-light" icon="vessel-iala"></i>
				<span class="label"> More than 170 min</span>
			</div>
		</div>
		<div class="column">
			<div class="title">Heading</div>
			<div class="legend-item">
				<i class="icon-size-md heading" icon="vessel-iala"></i>
				<span class="label">Heading available</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md heading" icon="vessel-iala-nohdg"></i><span class="label">No heading available</span>
			</div>
		</div>
 </div>

</div>
<div class="legend sm" ng-if="selectedSymbology()==='RFMO Status'">
	<div class="row">
		<div class="column">
			<div class="title">RFMO Status (Outline)</div>
			<div class="legend-item">
				<i class="icon-size-md rmfo-ICCAT" icon="vessel-iala"></i>
				<span class="label">ICCAT</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md rmfo-NEAFC" icon="vessel-iala"></i>
				<span class="label">NEAFC</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md rmfo-NAFO" icon="vessel-iala"></i>
				<span class="label">NAFO</span>
			</div>
				<div class="legend-item">
				<i class="icon-size-md rmfo-EU" icon="vessel-iala"></i>
				<span class="label">EU</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md rmfo-VARIOUS" icon="vessel-iala"></i>
				<span class="label">Various</span>
			</div>     <div class="legend-item">
				<i class="icon-size-md rmfo-OTHER" icon="vessel-iala"></i>
				<span class="label">Other</span>
			</div>
			<div class="title">RFMO Status (Fill)</div>
			<div class="legend-item">
				<i class="icon-size-md rmfo-valid-permit" icon="vessel-iala"></i>
				<span class="label">RFMO Valid Permit</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md rmfo-invalid-permit" icon="vessel-iala"></i>
				<span class="label">RFMO Invalid Permit</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md rmfo-no-permit" icon="vessel-iala"></i>
				<span class="label">RFMO No Permit</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md rmfo-no-fishing" icon="vessel-iala"></i>
				<span class="label">RFMO Non Fishing</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md rmfo-patrol" icon="vessel-iala"></i>
				<span class="label">RFMO Patrol</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md no-rmfo-fishing" icon="vessel-iala"></i>
				<span class="label">Non RFMO Fishing Vessel</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md no-rmfo-no-fishing" icon="vessel-iala"></i>
				<span class="label">Non RFMO non Fishing Vessel</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md no-rmfo-other" icon="vessel-iala"></i>
				<span class="label">Non RFMO Other</span>
			</div>
		</div>
		<div class="column">
			<div class="title">Heading</div>
			<div class="legend-item">
				<i class="icon-size-md heading" icon="vessel-iala"></i>
				<span class="label">Heading available</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md heading" icon="vessel-iala-nohdg"></i><span class="label">No heading available</span>
			</div>
		</div>
	</div>
</div>
<div class="legend sm" ng-if="selectedSymbology()==='Gear Type'">
	<div class="row">
		<div class="column">
			<div class="title">Gear Types</div>
			<div class="legend-item">
				<i class="icon-size-md Gear-SurroundingNets" icon="vessel-iala"></i>
				<span class="label">Surrounding Nets</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md Gear-SeineNets" icon="vessel-iala"></i>
				<span class="label">Seine Nets</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md Gear-BottomTrawls" icon="vessel-iala"></i>
				<span class="label">Bottom Trawls</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md Gear-MidwaterTrawls" icon="vessel-iala"></i>
				<span class="label">Midwater Trawls</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md Gear-Dredges" icon="vessel-iala"></i>
				<span class="label">Dredges</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md Gear-GillNets" icon="vessel-iala"></i>
				<span class="label">Gill nets</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md Gear-TrapsPots" icon="vessel-iala"></i>
				<span class="label">Traps and Pots</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md Gear-HooksLines" icon="vessel-iala"></i>
				<span class="label">Hooks and lines</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md Gear-LiftNets" icon="vessel-iala"></i>
				<span class="label">Lift nets</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md Gear-Others" icon="vessel-iala"></i>
				<span class="label">Others</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md Gear-NA" icon="vessel-iala"></i>
				<span class="label">N/A</span>
			</div>
		</div>
		<div class="column">
			<div class="title">Heading</div>
			<div class="legend-item">
				<i class="icon-size-md heading" icon="vessel-iala"></i>
				<span class="label">Heading available</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md heading" icon="vessel-iala-nohdg"></i><span class="label">No heading available</span>
			</div>
		</div>
	</div>
</div>
<div class="legend sm" ng-if="selectedSymbology()==='EUNAVFOR'">
	<div class="row">
		<div class="column">
			<div class="title">EUNAVFOR Outline</div>
			<div class="legend-item">
				<i class="icon-size-md eunavfor-iccat" icon="vessel-iala"></i>
				<span class="label">ICCAT Vessel</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md eunavfor-fishing" icon="vessel-iala"></i>
				<span class="label">Engaged in fishing</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md eunavfor-nofishing" icon="vessel-iala"></i>
				<span class="label">Non Fishing Vessel</span>
			</div>
				<div class="title">EUNAVFOR Fill</div>
			<div class="legend-item">
				<i class="icon-size-md eunavfor-risk-severe" icon="vessel-iala"></i>
				<span class="label">Severe Risk Level</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md eunavfor-risk-substantial" icon="vessel-iala"></i>
				<span class="label">Substantial Risk Level</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md eunavfor-risk-moderate" icon="vessel-iala"></i>
				<span class="label">Moderate Risk Level</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md eunavfor-risk-low" icon="vessel-iala"></i>
				<span class="label">Low Risk Level</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md eunavfor-risk-undefined" icon="vessel-iala"></i>
				<span class="label">Undefined Risk Level</span>
			</div>
		</div>
		<div class="column">
			<div class="title">Heading</div>
			<div class="legend-item">
				<i class="icon-size-md heading" icon="vessel-iala"></i>
				<span class="label">Heading available</span>
			</div>
			<div class="legend-item">
				<i class="icon-size-md heading" icon="vessel-iala-nohdg"></i><span class="label">No heading available</span>
			</div>
		</div>
	</div>
</div>
<style>
	i > svg {
		width: 100%;
	}
	.legend-item i {
		width: 39px;
		height: 39px !important;
		margin: -5px 0;
	}
	.legend i.eunavfor-iccat[icon="vessel-iala"] {
		stroke: #f00;
		fill: transparent;
	}
	.legend i.eunavfor-fishing[icon="vessel-iala"] {
		stroke: #FF69B4;
		fill: transparent;
	}
	.legend i.eunavfor-nofishing[icon="vessel-iala"] {
		stroke: #000;
		fill: transparent;
	}
	.legend i.eunavfor-risk-severe[icon="vessel-iala"] {
		stroke: #000;
		fill: #f00;
	}
	.legend i.eunavfor-risk-substantial[icon="vessel-iala"] {
		stroke: #000;
		fill: #FFA500;
	}
	.legend i.eunavfor-risk-moderate[icon="vessel-iala"] {
		stroke: #000;
		fill: #0F0;
	}
	.legend i.eunavfor-risk-low[icon="vessel-iala"] {
		stroke: #000;
		fill: #00F;
	}
	.legend i.eunavfor-risk-undefined[icon="vessel-iala"] {
		stroke: #000;
		fill: #ff0;
	}

	.legend i.Gear-SurroundingNets[icon="vessel-iala"] {
		stroke:black;
		fill: #fc8827;
	}
	.legend i.Gear-SeineNets[icon="vessel-iala"] {
		stroke: black;
		fill: #fb0013;
	}
	.legend i.Gear-BottomTrawls[icon="vessel-iala"] {
		stroke: black;
		fill: #16771d;
	}
	.legend i.Gear-MidwaterTrawls[icon="vessel-iala"] {
		stroke: black;
		fill: #3bc741;
	}
	.legend i.Gear-Dredges[icon="vessel-iala"] {
		stroke: black;
		fill: #0866f8;
	}
	.legend i.Gear-GillNets[icon="vessel-iala"] {
		stroke: black;
		fill: #fb1ac1;
	}
	.legend i.Gear-TrapsPots[icon="vessel-iala"] {
		stroke: black;
		fill: #915434;
	}
	.legend i.Gear-HooksLines[icon="vessel-iala"] {
		stroke: black;
		fill: #8d37f7;
	}
	.legend i.Gear-LiftNets[icon="vessel-iala"] {
		stroke: black;
		fill: #e6b9b8;
	}
	.legend i.Gear-Others[icon="vessel-iala"] {
		stroke: black;
		fill: #9d9d9d;
	}
	.legend i.Gear-NA[icon="vessel-iala"] {
		stroke: black;
		fill: #000;
	}
	.legend i.rmfo-ICCAT[icon="vessel-iala"] {
		stroke: #de5920;
		fill: transparent;
	}
	.legend i.rmfo-NEAFC[icon="vessel-iala"] {
		stroke: #3e8e44;
		fill: transparent;
	}
	.legend i.rmfo-NAFO[icon="vessel-iala"] {
		stroke: #1cadea;
		fill: transparent;
	}
	.legend i.rmfo-EU[icon="vessel-iala"] {
		stroke: #9d9d9d;
		fill: transparent;
	}
	.legend i.rmfo-VARIOUS[icon="vessel-iala"] {
		stroke: #fb0013;
		fill: transparent;
	}
	.legend i.rmfo-OTHER[icon="vessel-iala"] {
		stroke: black;
		fill: transparent;
	}

	.legend i.rmfo-valid-permit[icon="vessel-iala"] {
		stroke: black;
		fill: #3bc741;
	}
	.legend i.rmfo-invalid-permit[icon="vessel-iala"] {
		stroke: black;
		fill: #f41616;
	}
	.legend i.rmfo-no-permit[icon="vessel-iala"] {
		stroke: black;
		fill: #8d37f7;
	}
	.legend i.rmfo-no-fishing[icon="vessel-iala"] {
		stroke: black;
		fill: #0866f8;
	}
	.legend i.rmfo-patrol[icon="vessel-iala"] {
		stroke: black;
		fill: #fffc40;
	}
	.legend i.no-rmfo-fishing[icon="vessel-iala"] {
		stroke: black;
		fill: #8d37f7;
	}
	.legend i.no-rmfo-no-fishing[icon="vessel-iala"] {
		stroke: black;
		fill: #0866f8;
	}
	.legend i.no-rmfo-other[icon="vessel-iala"] {
		stroke: black;
		fill: #9d9d9d;
	}

	.legend i.target-age-opacity-black[icon="vessel-iala"] {
		fill:  rgb(0,0,0);
		stroke: black;
	}
	.legend i.target-age-opacity-grey[icon="vessel-iala"] {
		fill:  rgb(80,80,80);
		stroke: black;
	}
	.legend i.target-age-opacity-light-grey[icon="vessel-iala"] {
		fill: rgb(168,168,168);
		stroke: black;
	}
	.legend i.target-age-opacity-light[icon="vessel-iala"] {
		fill: rgb(200,200,200);
		stroke: black;
	}

   .legend i.target-age-color-green[icon="vessel-iala"] {
		fill: green;
		stroke: black;
	}
	.legend i.target-age-color-yellow[icon="vessel-iala"] {
		fill: yellow;
		stroke: black;
	}
	.legend i.target-age-color-orange[icon="vessel-iala"] {
		fill: rgb(255,102,0);
		stroke: black;
	}
	.legend i.target-age-color-red[icon="vessel-iala"] {
		fill: red;
		stroke: black;
	}

	.legend i.ais-data[icon="vessel-iala"] {
		fill: black;
		stroke: black;
	}

	.legend i.lrit-data[icon="vessel-iala"] {
		fill: rgba(99, 99, 99, 1);
		stroke: black;
	}

	.legend i.vms-data[icon="vessel-iala"] {
		fill: rgba(241, 231, 103, 1);
		stroke: black;
	}

	.legend i.vms-data-iala-colour[icon="vessel-iala"] {
		fill: rgba(255, 255, 0, 1);
		stroke: black;
	}

	.legend i.sat-ais-data-iala-colour[icon="vessel-iala"] {
		fill: rgba(0, 0, 255, 1);
		stroke: black;
	}

	.legend i.mrs-data-iala-colour[icon="vessel-iala"] {
		fill: rgba(121, 85, 72, 1);
		stroke: black;
	}

	.legend i.vds-data-iala-colour[icon="vessel-iala"] {
		fill: rgba(255, 0, 255, 1);
		stroke: black;
	}

	.legend i.sightings-iala-colour[icon="vessel-iala"] {
		fill: #fdfe02;
		stroke: #0066ff;
		stroke-width: 2;
	}

	.legend i.inspections-no-infringement-iala-colour[icon="vessel-iala"] {
		fill: #00cc00;
		stroke: #0066ff;
		stroke-width: 2;
	}

	.legend i.inspections-infringements-iala-colour[icon="vessel-iala"] {
		fill: #f00;
		stroke: #0066ff;
		stroke-width: 2;
	}

	.legend i.ais-data-iala-colour[icon="vessel-iala"] {
		fill: rgba(0, 0, 0, 1);
		stroke: black;
	}

	.legend i.lrit-data-iala-colour[icon="vessel-iala"] {
		fill: rgba(125, 125, 125, 1);
		stroke: black;
	}

	.legend i.heading[icon="vessel-iala"],
	.legend i.heading[icon="vessel-iala-nohdg"] {
		fill: white;
		stroke: black;
	}

	.legend i.valid-permit[icon="vessel-iala"] {
		stroke: black;
		fill: green;
	}

	.legend i.expired-invalid-permit[icon="vessel-iala"] {
		stroke: black;
		fill: rgba(255, 84, 84, 1);
	}

	.legend i.non-iccat[icon="vessel-iala"] {
		stroke: black;
		fill: rgba(255, 0, 204, 1);
	}

	.legend i.non-fishing[icon="vessel-iala"] {
		stroke: black;
		fill: black;
	}

	.legend i.fisheries-patrol[icon="vessel-iala"] {
		stroke: black;
		fill: rgba(241, 231, 103, 1);
	}

	.legend i.type-passenger[icon="vessel-iala"] {
		stroke: black;
		fill: rgba(0, 0, 255, 1);
	}

	.legend i.type-cargo[icon="vessel-iala"] {
		stroke: black;
		fill: rgba(0, 255,0, 1);
	}

	.legend i.type-fishing[icon="vessel-iala"] {
		stroke: black;
		fill:rgba(255,108, 0, 1);
	}

	.legend i.type-unknown[icon="vessel-iala"] {
		stroke: black;
		fill: rgba(136,136,136, 1);
	}

	.legend i.type-tug[icon="vessel-iala"] {
		stroke: black;
		fill: rgba(0, 255, 255, 1);
	}

	.legend i.type-pleasure[icon="vessel-iala"] {
		stroke: black;
		fill: rgba(241, 0, 255, 1);
	}

	.legend i.type-tanker[icon="vessel-iala"] {
		stroke: black;
		fill: rgba(255,0,0,1);
	}

	.legend i.ssn-sht[icon="vessel-iala"] {
		fill: black;
		stroke: red;
		stroke-width: 2px;
	}

	.legend-item > .symbol.fisheries-patrol:before,
	.legend-item > .symbol.vms-data:before {
		background: rgba(241, 231, 103, 1);
		background: -moz-linear-gradient(top, rgba(241, 231, 103, 1) 0%, rgba(254, 182, 69, 1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241, 231, 103, 1)), color-stop(100%, rgba(254, 182, 69, 1)));
		background: -webkit-linear-gradient(top, rgba(241, 231, 103, 1) 0%, rgba(254, 182, 69, 1) 100%);
		background: -o-linear-gradient(top, rgba(241, 231, 103, 1) 0%, rgba(254, 182, 69, 1) 100%);
		background: -ms-linear-gradient(top, rgba(241, 231, 103, 1) 0%, rgba(254, 182, 69, 1) 100%);
		background: linear-gradient(to bottom, rgba(241, 231, 103, 1) 0%, rgba(254, 182, 69, 1) 100%);
		filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=0);
	}
	.legend-item i > svg {
		width: 100% !important;
	}
</style>
