<div class="inspection-container" scrollable="overflow-y">
	<section alias="Inspection Details">
		<section-content>
			<div class="item">
				<span class="label"><b>Place Of Inspection</b></span>
				<span class="value" ng-click="copyToClipboard($event)">{{::inspection.InspectionDetails.PlaceOfInspection  || 'N/A' }}</span>
			</div>
			<div class="item">
				<span class="label"><b>Inspection ID</b></span>
				<span class="value" ng-click="copyToClipboard($event)">{{::inspection.InspectionDetails.InspectionID  || 'N/A' }}</span>
			</div>
			<div class="item">
				<span class="label"><b>Date Of First Visit</b></span>
				<span class="value" ng-click="copyToClipboard($event)" position-timestamp="inspection.InspectionDetails.DateOfFirstVisit"></span>
			</div>
			<div class="item">
				<span class="label"><b>Date Of Last Visit</b></span>
				<span class="value" ng-click="copyToClipboard($event)" position-timestamp="inspection.InspectionDetails.DateOfFinalVisit"></span>
			</div>
			<div class="item">
				<span class="label"><b>Inspection Type</b></span>
				<span class="value" ng-click="copyToClipboard($event)">{{::inspection.InspectionDetails.TypeOfInspection.PSCInspectionType  || 'N/A' }}</span>
			</div>
			<div class="item">
				<span class="label"><b>Inspection Regime</b></span>
				<span class="value" ng-click="copyToClipboard($event)">{{::inspection.InspectionDetails.TypeOfInspection.InspectionRegime  || 'N/A' }}</span>
			</div>
			<div class="item">
				<span class="label"><b>Nr. of Deficiencies</b></span>
				<span class="value" ng-click="copyToClipboard($event)">{{::inspection.InspectionDetails.NrOfDeficiencies  || 'N/A' }}</span>
			</div>
		</section-content>
	</section>
	<section alias="Ship Particulars">
		<section-content>
			<div class="item">
				<span class="label"><b>Gross Tonnage</b></span>
				<span class="value" ng-click="copyToClipboard($event)">{{::inspection.ShipParticulars.GrossTonnage.Value|| 'N/A'}}</span>
			</div>
			<div class="item">
				<span class="label"><b>Call Sign</b></span>
				<span class="value" ng-click="copyToClipboard($event)">{{::inspection.ShipParticulars.CallSign.Value|| 'N/A'}}</span>
			</div>
			<div class="item">
				<span class="label"><b>IMO</b></span>
				<span class="value" ng-click="copyToClipboard($event)">{{::inspection.ShipParticulars.IMO|| 'N/A'}}</span>
			</div>
			<div class="item">
				<span class="label"><b>Keel Date</b></span>
				<span class="value" ng-click="copyToClipboard($event)" position-timestamp="inspection.ShipParticulars.KeelDate.Value"></span>
			</div>
			<div class="item">
				<span class="label"><b>Ship Type</b></span>
				<span class="value" ng-click="copyToClipboard($event)">{{::getShipType(inspection.ShipParticulars.ShipType.Value) || 'N/A'}}</span>
			</div>
			<div class="item">
				<span class="label"><b>Flag</b></span>
				<span class="value" ng-click="copyToClipboard($event)">{{::(inspection.ShipParticulars.Flag.Value | country) || 'N/A'}}</span>
			</div>
			<div class="item">
				<span class="label"><b>Name</b></span>
				<span class="value" ng-click="copyToClipboard($event)">{{::inspection.ShipParticulars.Name.Value || 'N/A'}}</span>
			</div>
		</section-content>
	</section>
	<section alias="ISM Company">
		<section-content>
			<div class="item">
				<span class="label"><b>Name</b></span>
				<span class="value" ng-click="copyToClipboard($event)">{{::inspection.ISMCompany.Name  || 'N/A' }}</span>
			</div>
			<div class="item">
				<span class="label"><b>Country</b></span>
				<span class="value" ng-click="copyToClipboard($event)">{{::(inspection.ISMCompany.Country | country)  || 'N/A' }}</span>
			</div>
			<div class="item">
				<span class="label"><b>IMO</b></span>
				<span class="value" ng-click="copyToClipboard($event)">{{::inspection.ISMCompany.IMO  || 'N/A' }}</span>
			</div>
		</section-content>
	</section>
	<section alias="Detained">
		<section-content>
			<div class="item">
				<span class="label"><b>Detained</b></span>
				<span class="value" ng-click="copyToClipboard($event)">{{::(inspection.Detention ? 'Yes' : 'No')}}</span>
			</div>
			<div class="item">
				<span class="label"><b>Duration of Detention</b></span>
				<span class="value" ng-click="copyToClipboard($event)">{{::(inspection.Detention ? (inspection.Detention.DurationOfDetention + ' days' ) : 'N/A')}}</span>
			</div>
		</section-content>
	</section>
	<section alias="Inspected Ship Areas">
		<section-content>
			<div class="item grid">
			<grid name="observerId" data="inspection.InspectedShipAreas.ShipArea" item-as="item" fields="ShipAreaFields" no-resize="true"></grid>
		</div>
		</section-content>
	</section>
	<section alias="Operational Controls" ng-if="Array.isArray(inspection.OperationalControls.OperationalControlCarriedOut)">
		<section-content>
			<div class="item grid">
			<grid name="observerId" data="inspection.OperationalControls.OperationalControlCarriedOut" item-as="item" fields="OperationalControlsFields" no-resize="true"></grid>
		</div>
		</section-content>
	</section>
</div>

<style>
	.inspection-container {
		width: 400px;
		height: 600px;
		overflow-y: hidden;
		margin: -15px;
	}

	.inspection-container grid > #toolbar {
		display: none;
	}

	.inspection-container grid > #table-container {
		max-height: fit-content !important;
		max-width: fit-content !important;
		min-width: fit-content !important;
	}

	.inspection-container section {
		display: flex;
		flex-direction: column;
	}

	.inspection-container section section-content {
		display: block;
		font-size: 11px;
	}

	.inspection-container .item {
		display: flex;
		flex-direction: column;
		float: left;
		width: 50%;
		padding: 2px;
		height: auto;
	}

	.inspection-container .item.grid {
		width: 100%;
	}

	.inspection-container .label {
		width 100%;
		display: block;
		float: left;
		font-weight: 500;
	}

	.inspection-container .value {
		width 100%;
		display: block;
		float: left;
		user-select: auto;
		cursor: pointer;
	}
</style>
