<section alias="Import a CSV file" ng-if="!search.showProjectSpecific">
	<div class="row">
		<div class="flex-1">
			<button class="seg primary rounded flex-1" ng-click="selectFile()">Select File...</button>
		</div>
		<div class="flex-9">
			<input class="seg text-size-sm flex-1" disabled ng-value="search.selectedFile.name" type="text"/>
		</div>
		<div class="flex-1">
			<button ng-disabled="search.selectedFile == null" class="seg primary rounded" ng-click="importCSV()"><i icon="upload"></i></button>
		</div>
	</div>
</section>
<section alias="Vessel Identification" ng-if="!search.showProjectSpecific">	
	<div class="row">
		<div class="flex-1">
			<label class="text-size-sm">Name</label>
			<input class="seg text-size-sm" ng-model="fields.shipName" />
		</div>
		<div class="flex-1">
			<label class="text-size-sm">Call Sign</label>
			<input class="seg text-size-sm" ng-model="fields.callSign" />
		</div>
	</div>

	<div class="row">
		<div class="flex-1">
			<label class="text-size-sm">IMO no.</label>
			<input class="seg text-size-sm" ng-model="fields.imo" />
		</div>
		<div class="flex-1">
			<label class="text-size-sm">MMSI no.</label>
			<input class="seg text-size-sm" ng-model="fields.mmsi" />
		</div>
	</div>

	<div class="row">
		<div class="flex-1">
			<label class="text-size-sm">IR no.</label>
			<input class="seg text-size-sm" ng-model="fields.ir" />
		</div>
	</div>

	<div class="row">
		<div class="flex-1">
			<label class="text-size-sm">Vessel Flag</label>
			<combo class="small flex-1" change-callback="search.vesselFlag.changeCallback" placeholder="Vessel Flag" options="option.value as option.label for option in search.vesselFlag.options" ng-model="fields.flagState"></combo>
		</div>
		
	</div>
	<div class="row">
		<div class="flex-1">
			<label class="text-size-sm">Vessel Type</label>
			<combo class="small flex-1" change-callback="search.vesselType.changeCallback" placeholder="Vessel Type" options="option.value as option.label for option in search.vesselType.options" ng-model="fields.shipType"></combo>
		</div>
	</div>
	
</section>
<!-- Serviço não está funcionando
<section alias="SSN Enrichment" ng-if="ssn_information">
	<div class="row" >
		<div class="flex-1">
			<toggle ng-model="search.SSNEnrichment" ng-change="clearSSNEnrichmentOptions()"></toggle>
			<label class="text-size-sm flex-1">SSN Enrichment</label>
		</div>
	</div>
	<div class="row" ng-if="search.SSNEnrichment">
		<div class="flex-1">
			<label class="text-size-sm flex-1">Active Hazmat</label>
			<combo class="small flex-1" options="option.value as option.label for option in search.generalOptions" ng-model="fields.hazmat"></combo>
		</div>
		<div class="flex-1">
			<label class="text-size-sm flex-1">Waste Delivery</label>
			<combo class="small flex-1" options="option.value as option.label for option in search.wasteOptions" ng-model="fields.waste"></combo>
		</div>
	</div>
	<div class="row" ng-if="">
		<div class="flex-1">
			<label class="text-size-sm flex-1">Security Level</label>
			<combo class="small flex-1" options="option.value as option.label for option in search.securityOptions" ng-model="fields.sl_above_one"></combo>
		</div>
		<div class="flex-1">
			<label class="text-size-sm flex-1">Active Incident</label>
			<combo class="small flex-1" options="option.value as option.label for option in search.generalOptions" ng-model="fields.incidents"></combo>
		</div>
	</div>
</section>
-->
<section alias="Project Specific" ng-if="search.projectSpecific.length">
	<div class="row">
		<div class="flex-1">
			<toggle ng-model="search.showProjectSpecific"></toggle>
			<label class="text-size-sm flex-1">Operation Specific</label>
		</div>
	</div>

	<div ng-show="search.showProjectSpecific">
		<div class="inline-block text-size-sm" ng-repeat="prop in search.projectSpecific" style="width:100%">
			<label class="float-left" style="width:40%; display:block;">{{prop.label}}</label>
			<datetime class="float-left" ng-if="prop.type==='date' && !prop.facets" ng-model="prop.value_" style="margin-right:10px; width:calc(60% - 15px); display:block;"></datetime>
			<input class="seg text-size-sm float-left" ng-if="prop.type==='string' && !prop.facets" ng-change="search.updateSpecificInfo()"  ng-model-options="{ debounce: 500 }" ng-model="prop.value_" style="margin-right:10px; width:calc(60% - 15px); display:block;"></input>
			<combo class="float-left" ng-if="prop.type==='enum' && !prop.facets" placeholder="{{prop.label}}" options="option.value as option.text for option in prop.values" ng-change="search.updateSpecificInfo()" ng-model="prop.value_" style="margin-right:10px; width:calc(60% - 15px); display:block;"></combo>
			<div class="float-left" ng-if="prop.range  && !prop.facets" style="margin-right:10px; width:calc(60% - 15px); display:block;">
				<slider class="flex-1" max="{{prop.max_value}}" min="{{prop.min_value}}" handle-size="9" round="2" ng-change="search.updateSpecificInfo()"  ng-model-options="{ debounce: 500 }" ng-model="prop.value_"></slider>
				<label ng-if="prop.range" class="margin flex-1 text-size-sm">{{prop.value_}}</label>
			</div>
			<div class="inline-block" style=" width:100%; margin-top: 5px; margin-bottom: 5px;" ng-if="prop.facets">
				<div class="float-left margin-sm" style="width:50%; height: 23px;margin: 0; margin-top:2px; margin-bottom:2px;" ng-repeat="facet in prop.facets">
					<checkbox ng-model="facet.checked" ng-click="search.updateSpecificInfo()"></checkbox>
					<label>{{facet.label}} ({{facet.qty}})</label>
				</div>
			</div>
		</div>
	</div>
</section>