<window>
	<window-title ng-init="getParticulars(vessel)">
		<flag *ngIf="vessel.get('flagState') !== ''" flag="{{vessel.get('flagState')}}"></flag>
		<div id="info">
			<div class="text-size-sm">{{getLabel(vessel)}}</div>
			<div *ngIf="vessel.get('thetisTypeDescription')" class="text-size-sm">{{vessel.get('thetisTypeDescription')}}</div>
		</div>
	</window-title>
	<window-content class="background-color-3">
		<section>
			<button (click)="getTrack(vessel)" class="seg primary rounded flex-1">Get Track</button>
			<div id="info" class="text-size-xs">
				<div *ngFor="let option of getTooltipDisplayProperties() | keyvalue">
					<ng-container *ngIf="option.value.visible">
						<b><label include [template]="option.value.label" [scope]="this"></label></b>: <value include [template]="option.value.template" [scope]="this"></value>
					</ng-container>					
				</div>
			</div>
		</section>
	</window-content>
</window>
<style>
	window > window-title > #info > * {
		white-space: nowrap;
	}
	window > window-title > #info > .name {
		font-weight: 400;
	}
	window > window-title > flag {
		position: relative;
		overflow: hidden;
		margin-right: 5px;
	}
</style>
