<div class="legend sm">
	<div class="row">
		<div class="column">

			<div class="title">Risk status</div>
			<div class="legend-item">
				<span class="risk high">H</span>
				<span class="label"> High</span>
			</div>
			<div class="legend-item ">
				<span class="risk medium">M</span>
				<span class="label">Medium</span>
			</div>
			<div class="legend-item ">
				<span class="risk low">L</span>
				<span class="label">Low</span>
			</div>
		</div>


	</div>

</div>

<style>
	.legend-item .risk {
	    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: black;
    display: block;
   
    padding-top: 1px;
    color: white;
    font-size: 11px;
    text-align: center;
	}
	
	.legend-item span.risk.high {
		background: red;
	}
	
	.legend-item span.risk.medium {
		background: orange;
	}
	
	.legend-item span.risk.low {
		background: rgb(89, 166, 75);
	}
</style>