<window>
	<window-title>
		<div id="info">
			<div class="text-size-sm">
				<value>{{pmFeature.get('name')}}</value>
			</div>
		</div>
	</window-title>
	<window-content class="background-color-3">
		<section class="border-bottom-radius">
			<div id="info" class="text-size-xs">
				<div>
					<label>Name:</label> <b><value>{{pmFeature.get('name')}}</value></b>
				</div>
				<div ng-if="pmFeature.get('label')">
					<label>Label:</label> <b><value>{{pmFeature.get('label')}}</value></b>
				</div>
				<div ng-if="pmFeature.get('description')">
					<label>Description:</label> <b><value>{{pmFeature.get('description')}}</value></b>
				</div>
			</div>
		</section>
	</window-content>
</window>
