@import '~sass/mixins';
@import '~sass/helpers';
@import '~sass/variables';

seg-modal {
	@include flexbox;

	@include flex-align(start);

	@include flex-justify(center);

	position: absolute;
	left: 0;
	top: 10px;
	width: 100%;
	z-index: 100000;
	pointer-events: none;

	//background: rgba(0,0,0, 0.3)

	& > window {
		min-width: 250px;
		max-width: 500px;
		box-shadow: none;

		& > window-title {
			@include flex-justify(center);
		}

		& > window-content {
			font-size: 10px;
			padding: 2px 6px;
			border-radius: 10px;
			background-color: rgba(190, 190, 190, 1);
			color: #28303b;
			font-weight: 500;
			text-align: center;
			& > .modalContent {
				padding: 5px 20px;
				border-bottom: solid 1px rgba(40, 48, 59, 0.2);
				position: relative;
				&:last-child{
					border-bottom: none;
				}
				.loading-icon{
					height: 100%;
					position: absolute;
					top: 0;
					bottom: 0;
					padding: 3px 0;
					margin-left: -20px;
					max-height: 22px;
					width: 16px;
					& > svg{
						width: auto;
						height: 100%;
					}
				}
				& button.seg
				{
					background: #28303b !important;
				    position: absolute;
				    right: 0;
				    top: 5px;
				}

				& > #progress-button {
						width: 95%;
						height: 7px;
						box-shadow: inset -1px 2px 3px rgba(136, 136, 136, 0.5);
						border-radius: 100px;
						background-color: #dcdcdc;
						margin: 6px auto 2px;

					& > .progress-bar {
						width: 0;
						height: 7px;
						box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.5);
						border-radius: 100px;
						background-color: #006ebc;
						background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
					}

					& > i {
						@include transform(translate(-50%, -50%));

						@include icon-size(icon-size(md));

						position: absolute;
						left: 50%;
						top: 50%;

						&[icon="close"] {
							fill: color(5);
						}

						&[icon="check"] {
							stroke: color(8);
							fill: color(8);
						}
					}
				}
			}
		}
	}

	span.retrieved-success {
		color: color(8);
	}

	span.retrieved-error {
		color: color(warning);
	}

	span.retrieved-no-result {
		color: color(warning);
	}

	.modal-confirm-footer {
		margin-top: 15px;
	}

	.modal-confirm-footer button {
		float: left;
		margin-left: 10px;
		width: 66px;
		font-weight: 500;
	}

	.modal-confirm-footer button.seg.negative {
		border: 1px solid color(8);
		color: color(8);
	}
}
