<window *ngIf="hasOpenModals()">
	<!-- <window-title>
		<div class="flex-1">{{modal.title}}</div>
		<button (click)="modal.close()" class="seg primary round sm"><i icon="close"></i></button>
	</window-title> -->
	<window-content>
		<div class="modalContent" *ngFor="let modal of openModals | keyvalue" (click)="dismiss(modal.value)">
			<!-- MODAL TEMPLATE -->
			<ng-container *ngIf="modal.value.type === 'modal'">
				<icon *ngIf="!(modal.value.closing)" svg-file="loading" class="loading-icon"></icon>
				<include [template]="modal.value.content" [scope]="modal.value.scope"></include>
				<button *ngIf="modal.value.onDismiss && !modal.value.closing" (click)="close(modal.value)" class="seg primary round xs">
					<icon svg-file="close"></icon>
				</button>
				<div *ngIf="modal.value.onConfirm" class="modal-confirm-footer">
					<button class="seg negative rounded" (click)="close(modal.value)">NO</button>
					<button class="seg positive rounded" (click)="confirm(modal.value);">YES</button>
				</div>
			</ng-container>
			<!-- LOADING MODAL TEMPLATE -->
			<ng-container *ngIf="modal.value.type === 'loading-modal'">
				<include [template]="modal.value.content" [scope]="modal.value.scope"></include>
				<div id="progress-button" *ngIf="modal.value.scope.loader.progress >= 0">
					<div class="progress-bar" [ngStyle]="{width: modal.value.scope.loader.progress+'%'}"></div>
					<!-- 
					<i icon="close" ng-if="scope.loader.progress < 100" ng-click="modal.dismiss()"></i>
					<i icon="check" ng-if="scope.loader.progress == 100"></i>
					-->
				</div>
			</ng-container>
		</div>
	</window-content>
</window>
	