<div class="row">
	<div class="flex-1">
		<label class="text-size-sm">Name</label>
		<input class="seg text-size-sm" ng-model="search.name" />
	</div>
	<div class="flex-1">
	</div>
</div>
<div class="row">
	<div class="flex-1">
		<label class="text-size-sm">Function</label>
		<input class="seg text-size-sm" ng-model="search.functionList" />
	</div>
	<div class="flex-1">
	</div>
</div>

<div class="row">
	<div class="flex-1">
		<label class="text-size-sm">STMID duty</label>
		<input class="seg text-size-sm" ng-model="search.stmidDuty" />
	</div>
	<div class="flex-1">
	</div>
</div>