@font-face {
  font-family: 'Fira Sans';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Fira-Sans-300/Fira-Sans-300.eot');
  src: url('../fonts/Fira-Sans-300/Fira-Sans-300.eot?#iefix') format('embedded-opentype'),
       local('Fira Sans Light'),
       local('Fira-Sans-300'),
       url('../fonts/Fira-Sans-300/Fira-Sans-300.woff2') format('woff2'),
       url('../fonts/Fira-Sans-300/Fira-Sans-300.woff') format('woff'),
       url('../fonts/Fira-Sans-300/Fira-Sans-300.ttf') format('truetype'),
       url('../fonts/Fira-Sans-300/Fira-Sans-300.svg#FiraSans') format('svg');
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Fira-Sans-regular/Fira-Sans-regular.eot');
  src: url('../fonts/Fira-Sans-regular/Fira-Sans-regular.eot?#iefix') format('embedded-opentype'),
       local('Fira Sans Regular'),
       local('Fira-Sans-regular'),
       url('../fonts/Fira-Sans-regular/Fira-Sans-regular.woff2') format('woff2'),
       url('../fonts/Fira-Sans-regular/Fira-Sans-regular.woff') format('woff'),
       url('../fonts/Fira-Sans-regular/Fira-Sans-regular.ttf') format('truetype'),
       url('../fonts/Fira-Sans-regular/Fira-Sans-regular.svg#FiraSans') format('svg');
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Fira-Sans-500/Fira-Sans-500.eot');
  src: url('../fonts/Fira-Sans-500/Fira-Sans-500.eot?#iefix') format('embedded-opentype'),
       local('Fira Sans Medium'),
       local('Fira-Sans-500'),
       url('../fonts/Fira-Sans-500/Fira-Sans-500.woff2') format('woff2'),
       url('../fonts/Fira-Sans-500/Fira-Sans-500.woff') format('woff'),
       url('../fonts/Fira-Sans-500/Fira-Sans-500.ttf') format('truetype'),
       url('../fonts/Fira-Sans-500/Fira-Sans-500.svg#FiraSans') format('svg');
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Fira-Sans-700/Fira-Sans-700.eot');
  src: url('../fonts/Fira-Sans-700/Fira-Sans-700.eot?#iefix') format('embedded-opentype'),
       local('Fira Sans Bold'),
       local('Fira-Sans-700'),
       url('../fonts/Fira-Sans-700/Fira-Sans-700.woff2') format('woff2'),
       url('../fonts/Fira-Sans-700/Fira-Sans-700.woff') format('woff'),
       url('../fonts/Fira-Sans-700/Fira-Sans-700.ttf') format('truetype'),
       url('../fonts/Fira-Sans-700/Fira-Sans-700.svg#FiraSans') format('svg');
}

