<window-title ng-init="EOCommandInfo.init(EO)">
	<label class="flex-1">{{EO.get("serviceID")}}</label>
	<div id="timestamp" class="flexbox flex-align-center text-size-lg font-weight-400">
		<i icon="clock" class="icon-size-sm"></i>
		<label class="text-size-sm flexbox" position-timestamp="EO.get('endPosition')"></label>
	</div>
	<button ng-click="EOCommandInfo.configMode = !EOCommandInfo.configMode" class="seg primary round sm" ng-class="{active: EOCommandInfo.configMode}">
		<i icon="cog"></i>
	</button>
</window-title>
<window-content>
	<panel id="config" scrollable class="border-bottom-radius-outer" ng-if="EOCommandInfo.configMode">
		<ul class="seg">
			<li class="selectable" ng-repeat="(key, option) in EOCommandInfo.displayPreferences">
				<checkbox ng-checked="option.visible" ng-click="EOCommandInfo.toggleDisplayPreference(key)"></checkbox>
				<label class="flexbox flex-align-center flex-1" bind-template="option.label"></label>
			</li>
		</ul>
	</panel>
	<panel class="border-bottom-radius-outer" ng-if="!EOCommandInfo.configMode">
		<section class="flexbox" id="overview">
			<div id="photo" expand="command-info > window > window-content > panel" ng-style="{'background-image': 'url(\''+(EO.get('thumbnail') || 'assets/images/noEO.png')+'\')'}">
				<div ng-if="EOCommandInfo.imageLayerExists(EO)" class="photo-toptoolbar size-lg flexbox flex-align-center flex-justify-end">
					<button ng-click="expand.toggle()" class="seg primary round sm">
						<i icon="{{expand.expanded?'collapse':'expand'}}"></i>
					</button>
				</div>
				<div id="bottom-toolbar" class="flexbox flex-justify-end flex-1">
					<button ng-click="EO.set('showImageTools', !EO.get('showImageTools'))" ng-if="EOCommandInfo.hasImageLayer(EO)" class="seg positive rounded" style="margin-right:5px;"><i icon="edit"></i></button>
					<imagetools ng-if="EO.get('showImageTools')" image="EOCommandInfo.getImageToChange(EO)" container="'photo'" feature="EO"></imagetools>
					<button class="seg positive rounded" ng-class="{ 'positive-reverse': EOCommandInfo.hasImageLayer(EO), 'positive': !EOCommandInfo.hasImageLayer(EO)}" ng-if="EOCommandInfo.imageLayerExists(EO)" ng-click="EOCommandInfo.toggleImageLayer(EO)">
						<i icon="show-picture"></i>
					</button>
				</div>
			</div>
			<div id="functions">
				<button ng-if="EOCommandInfo.canActivityDetection" class="seg primary rounded md flex-1" ng-class="{'primary-faded':EO.get('detectedActivity')}" ng-disabled="!EOCommandInfo.isEODelivered(EO) || (EOCommandInfo.functionState('Activity Detection',EO)==='disabled' && !EO.get('totalActivities')) || EO.get('sar')" ng-click="EOCommandInfo.toggleActivity(EO)">{{EO.get('detectedActivity')?'Hide':'Show'}} Activity</button>
				<button ng-if="EOCommandInfo.vds" class="seg primary rounded md flex-1" ng-class="{'primary-faded':EOCommandInfo.hasDetectedVessels(EO)}" ng-disabled="!EOCommandInfo.isEODelivered(EO) || EOCommandInfo.isVDSButtonDisabled(EO) || (!EO.get('totalVDS') && EOCommandInfo.isRecorrelateVDSDisabled(EO))" ng-click="EOCommandInfo.toggleVDS(EO)">{{EOCommandInfo.hasDetectedVessels(EO)?'Hide':'Show'}} Detected Vessels</button>
				<button ng-disabled="!EOCommandInfo.isEODelivered(EO)" ng-if="EOCommandInfo.vds_reprocessing && EOCommandInfo.isEODelivered(EO)" class="seg primary rounded md flex-1" ng-click="EOCommandInfo.recorrelateVDS(EO)">Re-correlate VDS</button>
				<button class="seg primary rounded md flex-1" ng-class="{'primary-faded':EOCommandInfo.getLabelForShowOrHideOilSpills(EO)==='Hide Potential OS'}" ng-disabled="EO.get('totalOilSpills')==0"  ng-if="(EOCommandInfo.oilSpills)" ng-disabled="!EOCommandInfo.isEODelivered(EO) ||" ng-click="EOCommandInfo.toggleOilSpills(EO)">{{EOCommandInfo.getLabelForShowOrHideOilSpills(EO)}}</button>
				<div class="row" ng-if="EO.get('sar') && EOCommandInfo.functionState('Image Processing',EO)">
					<button class="seg primary rounded md flex-3" ng-class="{'primary-faded':EO.get('windLayer')}" ng-disabled="!EO.get('has:wind')"  ng-click="EOCommandInfo.toggleSarWind(EO)" >
						{{EO.get('windLayer')?'Hide':'Show'}} SAR Wind
					</button>&nbsp;
					<button class="seg primary round sm" ng-disabled="!EOCommandInfo.isEODelivered(EO) || !EO.get('has:wind')" ng-click="EOCommandInfo.showLegend('Swind')"><i icon="info"></i></button>
				</div>
				<div class="row" ng-if="EO.get('sar') && EOCommandInfo.functionState('Image Processing',EO)">
					<button class="seg primary rounded md flex-1" ng-class="{'primary-faded':EO.get('swellLayer')}" ng-disabled="!EOCommandInfo.isEODelivered(EO) || !EO.get('has:wave')" ng-if="EO.get('sar') && EOCommandInfo.functionState('Image Processing',EO)" ng-click="EOCommandInfo.toggleSarSwell(EO)" >
						{{EO.get('swellLayer')?'Hide':'Show'}} SAR Swell
					</button>&nbsp;
					<button class="seg primary round sm" ng-disabled="!EOCommandInfo.isEODelivered(EO) || !EO.get('has:wave')"  ng-click="EOCommandInfo.showLegend('Swell')"><i icon="info"></i></button>
				</div>
			</div>
		</section>
		<section id="basic-info" expand="command-info > window > window-content > panel">
			<pager>
				<pager-content>
					<ul class="flexbox flex-wrap flex-direction-vertical property-list">
						<li ng-repeat="(key, option) in EOCommandInfo.displayPreferences" ng-if="option.visible">
							<label bind-template="option.label"></label>
							<value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
						</li>
					</ul>
				</pager-content>
				<div id="section-controls">
					<pager-controls></pager-controls>
					<expand-controls></expand-controls>
				</div>
			</pager>
		</section>
		<section id="enrichment" ng-if="EOCommandInfo.canDownloadEO || EOCommandInfo.canDownloadAlertReport || EOCommandInfo.canFeedback">
			<button ng-if="EOCommandInfo.canDownloadEO" class="seg positive rounded md" ng-click="EOCommandInfo.download_EO(EO)" ng-disabled="!EOCommandInfo.isEODelivered(EO) || (EOCommandInfo.downloadActive(EO)?false:'disabled')">Download EO</button>
			<button class="seg positive rounded md" ng-click="EOCommandInfo.openReport()" ng-disabled="!EOCommandInfo.isEODelivered(EO) || (EOCommandInfo.canFeedback(EO))">Feedback</button>
			<button ng-if="EOCommandInfo.canDownloadAlertReport" class="seg positive rounded md" ng-click="EOCommandInfo.alertReportDownload(EO)" ng-disabled="!EOCommandInfo.isEODelivered(EO) || EOCommandInfo.alertReportAvailable(EO)==='disabled'">Alert Report</button>
		</section>

	</panel>
</window-content>

