<section id="eo-label-preferences">
	<div class="row">
		<toggle ng-checked="labels.showingEOLabels()" ng-click="labels.toggleEOLabels()"></toggle>
		<label class="text-size-sm">Show EO labels</label>
	</div>
	<div class="content" ng-if="labels.showingEOLabels()" id="label-properties">
		<ul class="flexbox flex-1 flex-wrap text-size-sm">
			<li class="flexbox flex-1 flex-align-center" ng-repeat="property in labels.EOLabelProperties">
				<checkbox ng-checked="labels.isPropertySelected(property)" ng-click="labels.toggleLabelProperty(property)"></checkbox>
				<label>{{labels.getLabelAlias(property)}}</label>
			</li>
		</ul>
		<div class="row">
			<label class="text-size-sm row">Label Activation Scale</label>
		</div>
		<div class="row" id="activation-scale-value">
			<combo placeholder="1 : {{labels.activationScale | number}}" ng-model="labels.activationScale" options="scale as '1 : '+(scale | number) for scale in labels.scales"></combo>
		</div>
	</div>
</section>
