<div class="legend sm">
    <div class="row">
        <div class="column fullwidth" ng-repeat="section in sections">
            <div class="title" ng-if="section.title">{{section.title}}</div>
            <div class="legend-item" ng-repeat="legend in section.symbologies">
                <span class="square {{legend.class}} label">{{legend.label}}</span>
            </div>
        </div>
    </div>
</div>