<section>
    <section alias="EO Identification">
        <div class="row">
            <div class="flex-1">
                <label class="margin-auto text-size-sm width100">Service ID</label>
                <input class="seg text-size-sm" ng-model="search.serviceId" />
            </div>
            <div class="flex-1"></div>
        </div>
        <div class="row">
            <div class="flex-1">
                <toggle ng-model="search.showTime"></toggle>
                <label class="text-size-sm flex-1">Area / Time Range</label>
            </div>
        </div>
    </section>
    <section alias="Time Range" ng-if="search.showTime">
        <div class="row">
            <span class="text-size-sm text-color-warning" ng-if="search.errors && search.errors.timerange">{{search.errors.timerange}}</span>
        </div>
        <div class="row">
            <div class="flex-1">
                <label class="text-size-sm">Acquisition start</label>
                <datetime ng-model="search.acquisitionStart"></datetime>
            </div>
            <div class="flex-1">
                <label class="text-size-sm">Acquisition stop</label>
                <datetime ng-model="search.acquisitionStop"></datetime>
            </div>
        </div>
    </section>
    <section alias="Area of Interest" ng-if="!search.showTime">
        <span class="text-size-sm text-color-warning" ng-if="search.errors && search.errors.area">{{search.errors.area}}</span>
        <feature-selector ng-model="search.selectedArea" restrict-to="AOI"></feature-selector>
    </section>
    <section>
        <div class="row">
            <div class="flex-1">
                <toggle ng-model="search.EOImagery" ng-change="search.resetEOImagery()"></toggle>
                <label class="text-size-sm flex-1">EO Imagery</label>
            </div>
        </div>
        <div class="row" ng-if="search.EOImagery">
            <div class="flex-1">
                <label class="text-size-sm flex-1">SAR</label>
                <combo class="small margin-xs flex-1" options="option.value as option.label for option in search.generalOptionsWithoutAll" ng-model="search.sar"></combo>
            </div>
            <div class="flex-1">
                <label class="text-size-sm flex-1">Optical</label>
                <combo class="small margin-xs flex-1" options="option.value as option.label for option in search.generalOptionsWithoutAll" ng-model="search.optical"></combo>
            </div>
        </div>
    </section>
    <section alias="SAR Options" ng-if="search.EOImagery && search.sar">
        <div class="row">
            <div class="flex-1" ng-if="search.operationOptions">
                <label class="text-size-sm flex-1">EO Operations</label>
                <combo class="small margin-xs flex-1" options="option.value as option.label for option in search.operationOptions" ng-model="search.eoOperation"></combo>
            </div>
            <div class="flex-1" ng-if="search.statusOptions">
                <label class="text-size-sm flex-1">Status</label>
                <combo class="small margin-xs flex-1" options="option.value as option.label for option in search.statusOptions" ng-model="search.status"></combo>
            </div>
        </div>
        <!--
        <div class="row">
            <div class="flex-1">
                <label class="text-size-sm flex-1">Origin</label>
                <combo class="small margin-xs flex-1" options="option.value as option.label for option in search.originOptions" ng-model="search.origin"></combo>
            </div>
        </div>
        -->
        <div class="row">
            <div class="flex-1">
                <label class="text-size-sm flex-1">Potential Oilspills</label>
                <combo class="small margin-xs flex-1" options="option.value as option.label for option in search.generalOptions" ng-model="search.oil_spill"></combo>
            </div>
            <div class="flex-1">
                <label class="text-size-sm flex-1">Feedbacks</label>
                <combo class="small margin-xs flex-1" options="option.value as option.label for option in search.generalOptions" ng-model="search.ms_feedback"></combo>
            </div>
        </div>
        <div class="row">
            <div class="flex-1" ng-if="vds">
                <label class="text-size-sm flex-1">VDS</label>
                <combo class="small margin-xs flex-1" options="option.value as option.label for option in search.generalOptions" ng-model="search.vds"></combo>
            </div>
            <div class="flex-1">
                <label class="text-size-sm flex-1">Satellite</label>
                <combo class="small margin-xs flex-1" placeholder="Satellite" options="option.value as option.label for option in search.satelliteSAROptions" ng-model="search.satelliteSAR"></combo>
            </div>
        </div>
        <div class="row" ng-if="search.sensorModeOptions.length > 0">
            <div class="flex-1">
                <label class="text-size-sm flex-1">Sensor Mode</label>
                <combo class="small margin xs flex-1" placeholder="Sensor Mode" options="option.value as option.label for option in search.sensorModeOptions" ng-model="search.sensor_mode"></combo>
            </div>
            <div class="flex-1"></div>
        </div>
    </section>

    <section alias="Optical Options" ng-if="search.EOImagery && search.optical">
        <div class="row">
            <div class="flex-1">
                <label class="text-size-sm flex-1">Satellite</label>
                <combo class="small margin-xs flex-1" placeholder="Satellite" options="option.value as option.label for option in search.satelliteOpticalOptions" ng-model="search.satelliteOptical"></combo>
            </div>
            <div class="flex-1"></div>
        </div>
    </section>

    <!--
    <div class="row">
        <div class="flex-1">
            <label class="text-size-sm">Polarisation</label>
            <input class="seg text-size-sm" ng-model="search.polarisation"/>
        </div>
    </div>
    <div class="row">
        <div class="flex-1">
            <label class="text-size-sm">Orbit</label>
            <input class="seg text-size-sm" ng-model="search.orbit"/>
        </div>
        <div class="flex-1">
            <label class="text-size-sm">Orbit Number</label>
            <input class="seg text-size-sm" ng-model="search.orbitNumber"/>
        </div>
    </div>
    <div class="row">
        <div class="flex-1">
            <label class="text-size-sm">Satellite operator</label>
            <input class="seg text-size-sm" ng-model="search.satelliteOperator"/>
        </div>
        <div class="flex-1">
            <label class="text-size-sm">Satellite operator</label>
            <input class="seg text-size-sm" ng-model="search.serviceProvider"/>
        </div>
    </div>
    <div class="row">
        <div class="flex-1">
            <label class="text-size-sm">Coverage</label>
            <input class="seg text-size-sm" ng-model="search.coverage"/>
        </div>
        <div class="flex-1">
            <label class="text-size-sm">Status</label>
            <combo class="large flex-1" ng-model="search.status.value" placeholder="Status" options="option for option in search.status.options"></combo>
        </div>
    </div>
    <div class="row">
        <div class="flex-1">
            <label class="text-size-sm">File name</label>
            <input class="seg text-size-sm" ng-model="search.filename" />
        </div>
        <div class="flex-1">
                <label class="text-size-sm">Platform</label>
            <input class="seg text-size-sm" ng-model="search.platform" />
        </div>
    </div>
    <div class="row">
        <div class="flex-1">
            <toggle ng-model="search.activity_detection"></toggle>
            <label class="text-size-sm flex-1">Activity detection</label>
        </div>
        <div class="flex-1">
            <toggle ng-model="search.vds"></toggle>
            <label class="text-size-sm flex-1">Vessel detection</label>
        </div>
    </div>
    <div class="row">
        <div class="flex-1">
            <toggle ng-model="search.alertReport"></toggle>
            <label class="text-size-sm flex-1">Alert report</label>
        </div>
        <div class="flex-1">
            <toggle ng-model="search.ms_feedback"></toggle>
            <label class="text-size-sm flex-1">Feedback</label>
        </div>
    </div>
    <div class="row">
        <div class="flex-1">
            <toggle ng-model="search.sarwind"></toggle>
            <label class="text-size-sm flex-1">SAR wind</label>
        </div>
            <div class="flex-1">
            <toggle ng-model="search.sarswell"></toggle>
            <label class="text-size-sm flex-1">SAR swell</label>
        </div>
    </div>
    <div class="row">

        <div class="flex-1">
            <toggle ng-model="search.oil_spill"></toggle>
            <label class="text-size-sm flex-1">Oil Spill</label>
        </div>

    </div>
    -->
</section>