<div id="ttt-toolbar" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
	<button class="seg main lg" id="tools-toggle" (click)="toolsOpen = !toolsOpen" *ngIf="timeline.isActive()">
		<icon svg-file="caret-{{toolsOpen?'right':'left'}}"></icon>
	</button>
	<timeline-controls class="tools-toolbar" *ngIf="openTab === 'timeline' && toolsOpen && timeline.isActive()"></timeline-controls>
	<button class="seg main lg" [class.active]="openTab === 'timeline'" (click)="open('timeline')" *ngIf="timeline.isActive()">
		<icon svg-file="timeline"></icon>
	</button>
	<button class="seg main lg" title="Tabular View" [class.active]="openTab === 'tables' && isOpen" (click)="open('tables')" *ngIf="openTables.length">
		<icon svg-file="grid"></icon>
	</button>
	<button class="seg main lg" title="EO Thumbnails" [class.active]="openTab === 'gallery' && isOpen" (click)="open('gallery')">
		<icon svg-file="image"></icon>
	</button>
	<button class="seg main lg" title="Open Features" [class.active]="tablePicker" (click)="tablePicker = !tablePicker">
		<icon svg-file="folder-open"></icon>
	</button>
	<ul id="table-picker" class="seg border-radius-outer ui-shadow" *ngIf="tablePicker">
		<li *ngFor="let table of registeredTables" (click)="openTable(table); tablePicker = !tablePicker">
			<label>
				<span>{{table.label}}</span>
				<icon svg-file="check" *ngIf="isTableOpen(table)"></icon>
			</label>
		</li>
	</ul>
	<button id="toggle" class="seg main lg" (click)="toggle()" title="{{isOpen?'Close':'Open'}} TTT">
		<icon svg-file="caret-{{isOpen?'down':'up'}}" class="icon-size-md"></icon>
	</button>
</div>
<div id="container" [style.display]="!(openTab && isOpen) ? 'none' : 'inherit'" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
	<window id="timeline" *ngIf="openTab === 'timeline' && timeline.isActive()">
		<window-title class="secondary">
			<!-- <button *ngIf="timeline.hasInfo()" class="seg primary round sm" (click)="timeline.showInfo()">
				<icon svg-file="info"></icon>
			</button> -->
			<!--<button class="seg round sm" *ngFor="category in timeline.categories" *ngIf="category.features.length">
				<img ng-src="{{category.icon.src}}">
			</button>-->
		</window-title>
		<!-- <window-content>
			<timeline></timeline>
		</window-content> -->
	</window>
	<div class="tables">
		<tab-group (closeChange)="closeTable($event)">
			<!-- <tab persistent="{{table.persistent}}" label="{{table.label}}" open="{{table.open}}" on-close="closeTable(table)">
				<grid [on-filter]="onFilter" [table]="table"></grid>
			</tab> -->
		</tab-group>
		<ng-template let-data="data" #gridTemplate>
			<grid [on-filter]="onFilter" [table]="data"></grid>
				<!-- [on-checkbox-change]="table.onCheckboxChange()" -->
				<!-- [on-selection-change]="table.onSelectionChange(changedRows, selectedRows)" -->
		</ng-template>
	</div>
	<!-- <gallery *ngIf="openTab === 'gallery'"></gallery> -->
</div>

