@import '~sass/mixins';
@import '~sass/helpers';
@import '~sass/variables';
// @import "gallery/gallery.style.scss";

seg-ttt {
  & > #ttt-toolbar {
    @include flexbox;

    @extend .border-top-radius-outer;

    @extend .ui-shadow;

    position: absolute;
    bottom: 100%;
    right: 10px;

    & > :first-child {
      @extend .border-top-left-radius-outer;
    }

    & > :last-child {
      @extend .border-top-right-radius-outer;
    }

    & > :not(:last-child) {
      border-right: 1px solid transparentize(color(3), 0.8) !important;
    }

    & > #tools-toggle {
      min-width: 17px;
    }

    & > .tools-toolbar {
      @include flexbox;

      @include flex-align(center);

      background-color: color(2);
      padding: 0 8px;

      & > :not(:last-child) {
        margin-right: 8px;
      }
    }

    & > #table-picker {
      background-color: color(3);
      color: color(9);
      position: absolute;
      right: calc(#{button-size(md)} - 6px);
      bottom: calc(100% + 15px);
      text-transform: uppercase;
      overflow: visible;
      width: 170px;

      &:after {
        @extend .ui-shadow;

        transform: translate(-50%, -1px);
        content: "";
        display: block;
        position: absolute;
        top: 100%;
        left: 82%;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 9px solid color(3);
        border-top: 9px solid #fff;
        box-shadow: none;
      }

      & > li {
        white-space: nowrap;

        & > label {
          padding: 0 16px;

          & > span {
            @include flex(1);
          }

          & > icon {
            @include icon-size(icon-size(md));

            color: color(2);
            margin-left: 16px;
            width: 10px;
          }
        }
      }
    }
  }

  & > #container {
    @include flexbox;

    @include transform(translateZ(0));

    border-top-left-radius: border-radius(outer);
    border-top-right-radius: border-radius(outer);
    box-shadow: 1px 1px 10px;
    min-width: 300px;
    background: color(10);

    & > window#timeline {
      width: 800px;

      & > window-content {
        padding: 8px;
      }
    }
  }

  .tables {
    width: 100%;
    display: block;

    & > tab-group {
      width: 100%;

      & > pager {
        @extend .border-top-radius-outer;
      }

      & > tab {
        & > .pane {
          @include flexbox;

          @include flex-direction(vertical);

          background-color: color(3);

          & > grid > #table-container {
            max-height: 238px;
            overflow: hidden;
          }
        }
      }
    }
  }
}
