<div class="toolwindow ui-shadow">
	<!--<canvas id="canvas-helper" style="display:none;"></canvas>-->
	  <div class="tool flexbox flex-align-center">
		<label class="text-size-sm font-weight-400">Brightness</label>
		<!--<slider zero class="flex-1 margin-left" max="100" min="-100"  handle-size="9" ng-model="brightness"  (change)="updateImage()"></slider>-->
		 <button class="seg primary tex-size-sm rounded" [disabled]="brightness===0" (click)="brightness=0;">Reset</button>
	</div>
	<div class="tool flexbox flex-align-center">
		<label class="text-size-sm font-weight-400">Contrast</label>
		<!--<slider zero class="flex-1  margin-left" max="100" min="-100" ng-model="contrast"  handle-size="9" (change)="updateImage()" ></slider>-->
		<button class="seg primary tex-size-sm rounded" [disabled]="contrast===0" (click)="contrast=0;">Reset</button>
	</div>
	<div class="tool flexbox flex-align-center">
		<label class="text-size-sm font-weight-400">Alpha</label>
		<!--<slider handle-size="9"  class=" margin-left flex-1 " ng-model="alpha" max="255" min="0" (change)="updateImage()" ></slider>-->
		<button class="seg primary tex-size-sm rounded"[disabled]="alpha===255" (click)="alpha=255;">Reset</button>
	</div>

</div>
