@import '~sass/mixins';
@import '~sass/variables';

imagetools {
    margin-right: 5px;
  
    & > div.toolwindow {
      background: #fff;
      border-radius: 5px;
      padding: 10px;
      position: absolute;
      left: 0;
      top: -106px;
      width: 206px;
  
      &:after {
        content: "";
        width: 0px;
        height: 0px;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid #fff;
        right: 34px;
        position: absolute;
        bottom: -10px;
      }
  
      & > div.tool {
        margin-bottom: 3px;
  
        & > label {
          width: 60px;
          margin-right: 5px;
        }
  
        & > input {
          width: 33px;
          margin-left: 10px;
        }
  
        & > slider[zero]:before {
          content: "|";
          top: -8px;
          position: absolute;
          left: 50%;
          color: blue;
          font-size: 4pt;
        }
  
        & > slider {
          margin-right: 8px;
        }
      }
    }
  }
  