<window style="max-width: 400px;">
    <window-title>
        <div id="info">
            <label class="text-size-sm  font-weight-500">{{portFacility.get('name')}}</label>
        </div>
    </window-title>
    <window-content class="background-color-3">
        <section class="border-bottom-radius">
            <div id="info" class="text-size-xs">
                <div class="flexbox flex-1" ng-repeat="(key, option) in portFacilityTooltip.tooltipDisplayPreferences" ng-if="option.visible">
                    <label bind-template="option.label"></label>
                    <b><value bind-template="option.template"></value></b>
                </div>
            </div>
        </section>
    </window-content>
</window>
