<window [draggable]>
	<window-title>
		<span>Client Preferences</span>
		<button class="seg primary round sm" (click)="close()"><icon svg-file="close"></icon></button>
	</window-title>
	<window-content>
		<tab-group>
			<tab persistent="true" label="Info" open="true">
				<section>
					<div class="row">
						<label class="text-size-sm prefs-info">User ID</label>
						<label class="text-size-sm">{{getUserInfo()["userid"]}}</label>
					</div>
					<div class="row">
						<label class="text-size-sm prefs-info">Name</label>
						<label class="text-size-sm">{{getUserInfo()["firstname"] + ' ' + getUserInfo()["lastname"]}}</label>
					</div>
					<div class="row">
						<label class="text-size-sm prefs-info">Authority</label>
						<label class="text-size-sm">{{getUserInfo()["authority"] || getUserInfo()["organizationDescription"] || getUserInfo()["organizationInfo"].organizationDescription }}</label>
					</div>
					<div class="row">
						<label class="text-size-sm prefs-info">Country</label>
						<label class="text-size-sm">{{getUserInfo()["country"] || getUserInfo()["countryInstitutionInfo"].country  }}</label>
					</div>
					<div class="row">
						<label class="text-size-sm prefs-info">Version</label>
						<label class="text-size-sm">{{getSegInfo()["build"]["version"]}}</label>
					</div>
					<div class="row">
						<label class="text-size-sm prefs-info">Internal Version</label>
						<label class="text-size-sm">{{getSegInfo()["build"]["Implementation-Version"]}}</label>
					</div>
					<div class="row">
						<label class="text-size-sm prefs-info">Browser & version</label>
						<label class="text-size-sm">{{getBrowserInfo()}}</label>
					</div>
					<div class="row">
						<label class="text-size-sm prefs-info">Current Operation</label>
						<combo class="large" [(model)]="currentOperation" value-as="value" label-as="label" [data]="operations"></combo>
					</div>
				</section>
			</tab>
			<!--<tab persistent="true" label="Workspace"></tab>-->
			<tab persistent="true" label="Map">
				<section>
					<div class="row">
						<label class="text-size-sm flex-1">Show Coordinates Grid:</label>
						<toggle [(model)]="mapGraticule"></toggle>
					</div>
					<div class="row">
						<label class="text-size-sm flex-1">Map overview</label>
						<toggle [(model)]="mapOverview"></toggle>
					</div>
					<div class="row">
						<label class="text-size-sm flex-1">Starting viewpoint</label>
						<combo class="large" [(model)]="userSpecifiedCenter" value-as="index" label-as="label" [data]="userSpecifiedCenter_.options"></combo>
					</div>
					<ng-container *ngIf="center">
						<div *ngIf="userSpecifiedCenter" class="row coordinates">
							<label class="text-size-xs">Lat</label>
							<input class="seg text-size-sm flex-1" value="{{center.lat.d}}" [(ngModel)]="center.lat.d">
							<input class="seg text-size-sm flex-1" value="{{center.lat.m}}" [(ngModel)]="center.lat.m">
							<input class="seg text-size-sm flex-1" value="{{center.lat.s}}" [(ngModel)]="center.lat.s">
							<combo [(model)]="center.lat.h" [data]="['N', 'S']"></combo>
						</div>
						<div class="row coordinates">
							<label class="text-size-xs">Lon</label>
							<input class="seg text-size-sm flex-1" value="{{center.lon.d}}" [(ngModel)]="center.lon.d">
							<input class="seg text-size-sm flex-1" value="{{center.lon.m}}" [(ngModel)]="center.lon.m">
							<input class="seg text-size-sm flex-1" value="{{center.lon.s}}" [(ngModel)]="center.lon.s">
							<combo [(model)]="center.lon.h" [data]="['E', 'W']"></combo>
						</div>
					</ng-container>
					<div class="row" id="scale">
						<label class="text-size-xs">Scale 1 :</label>
						<input class="seg text-size-sm" value="{{scale}}" [(ngModel)]="scale">
					</div>
					<div *ngIf="userSpecifiedCenter" class="row">
						<button class="seg positive rounded md flex-1 apply" (click)="applyValues()">Apply</button>
						<button class="seg primary rounded md flex-1 apply" (click)="setToCurrent()">Set to Current Center and Scale</button>
					</div>
					<!--
					<div class="row">
						<label class="text-size-sm flex-1">3D view</label>
						<toggle [(model)]="_3dView"></toggle>
					</div>
					-->
				</section>
			</tab>
			<tab class="preferences-units" persistent="true" label="Units">
				<preferences-units></preferences-units>
			</tab>
			<tab persistent="true" *ngFor="let tab of tabs  | keyvalue" label="{{tab.key}}">
				<section>
					<include template-url="{{section.templateUrl}}" template="{{section.template}}" scope="section.bindings" scope-as="{{section.alias}}" *ngFor="let section of tab.value.sections"></include>
				</section>
			</tab>
		</tab-group>
	</window-content>
</window>
