@import "units/units.component.scss";
@import '~sass/mixins';

preferences {
  pointer-events: none;

  & > window {
    window-title > span {
      @include flex(1);
    }

    & > window-content > tab-group > tab > div > section {
      width: 380px;

      & > .row {
        &#scale {
          & > label {
            margin-right: 8px;
          }

          & > input {
            width: 74px;
          }
        }

        &.coordinates {
          & > input:not(:last-child) {
            margin-right: 8px;
          }

          & > label {
            width: 44px;
          }

          & > combo {
            width: 74px;
          }
        }

        & > combo {
          width: 184px;
        }

        & label.prefs-info
        {
          width: 150px;      
        }

        & > button{
          margin: 5px;
        }
      }
    }

    & seg-input {
      padding: 2px 0;
    }
  }
}
