@import '~sass/mixins';
@import '~sass/variables';

radio {
    @include flexbox;
  
    @include flex-align(center);
  
    @include flex-justify(center);
  
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid color(5);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
  
    &[checked]:after {
      background-color: color(4);
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: block;
    }
  }
  