<window-title>
    <span class="flex-1">{{station.get("aisAerialLocation")}}</span>
    <button ng-click="baseStationCommandInfo.configMode = !baseStationCommandInfo.configMode" class="seg primary round sm" ng-class="{active: baseStationCommandInfo.configMode}">
        <i icon="cog"></i>
    </button>
</window-title>
<window-content>
    <panel id="config" scrollable class="border-bottom-radius-outer" ng-if="baseStationCommandInfo.configMode">
        <ul class="seg">
            <li class="selectable" ng-repeat="(key, option) in baseStationCommandInfo.displayPreferences">
                <checkbox ng-checked="option.visible" ng-click="baseStationCommandInfo.toggleDisplayPreference(key)"></checkbox>
                <label class="flexbox flex-align-center flex-1" bind-template="option.label"></label>
            </li>
        </ul>
    </panel>
    <panel class="border-bottom-radius-outer" ng-if="!baseStationCommandInfo.configMode">
        <section id="basic-info">
            <pager>
                <pager-content>
                    <ul class="flexbox flex-wrap flex-direction-vertical property-list">
                        <li ng-repeat="(key, option) in baseStationCommandInfo.displayPreferences" ng-if="option.visible">
                            <label bind-template="option.label"></label>
                            <value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
                        </li>
                    </ul>
                </pager-content>
                <pager-controls></pager-controls>
            </pager>
        </section>
    </panel>
</window-content>
