<window>
    <window-title>
        <div id="info">
               <label class="text-size-sm font-weight-500">{{station.get("aisAerialLocation")}}</label>
        </div>
    </window-title>
    <window-content class="background-color-3">
        <section class="border-bottom-radius">
            <div id="info" class="text-size-xs">
                <div class="flexbox flex-1"ng-repeat="(key, option) in baseStationTooltip.tooltipDisplayPreferences" ng-if="option.visible">
                    <b><label bind-template="option.label"></label></b> <value bind-template="option.template"></value>
                </div>
            </div>
        </section>
    </window-content>
</window>
