@import '~sass/mixins';
@import '~sass/variables';

toggle {
  @include inline-flexbox;

  vertical-align: middle;

  &[disabled] {
    pointer-events: none;
  }
  border-radius: border-radius(outer);
  background-color: color(11);
  height: 10px;
  width: 26px;
  position: relative;
  margin: 3px 0 3px 3px;
  display: inline-block;

  &:after {
    background-color: color(5);
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    top: -3px;
    left: -3px;
  }

  &[checked]:after {
    background-color: color(4);
    left: auto;
    right: -3px;
  }

  &[disabled] {
    opacity: 0.75;
  }
  div {
    width: 100%;
    height: 100%;
  }
}

:not(li) {  
  & > toggle {
    & + label {
      margin-left: 7px;
      overflow: hidden;
      max-width: 160px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}