<window-title ng-show="areaCommandInfo.show(area)">
    <span class="flex-1">{{area.get("NAME")}}</span>
</window-title>
<window-content ng-show="areaCommandInfo.show(area)">
    <panel class="border-bottom-radius-outer">
        <section id="basic-info">
            <pager>
                <pager-content>
                    OSPAR North sea ballast water exchange area applicable for intra-North-sea-traffic only as provided by IMO BWM.2/Circ.56 of 13.July 2015
                </pager-content>
            </pager>
        </section>
    </panel>
</window-content>
<style ng-show="areaCommandInfo.show(area)">
    command-info > window > window-content > panel > section#basic-info > pager {
        height: auto;
    }
</style>