<window-title ng-init="detectedActivityCommandInfo.init(detectedActivity);">
	<div class="flex-1">
		<label class="font-weight-400">{{detectedActivityCommandInfo.getLabel(detectedActivity)}}</label>
		<div ng-if="detectedActivity.get('activitytype')" class="text-size-sm font-weight-500">{{detectedActivity.get('activitytype')}}</div>
	</div>
	<div id="timestamp" class="flexbox flex-align-center text-size-lg font-weight-400">
		<i icon="clock" class="icon-size-sm"></i>
		<label class="text-size-sm flexbox" position-timestamp="detectedActivity.get('timeStamp')"></label>
	</div>
	<button ng-click="detectedActivityCommandInfo.configMode = !detectedActivityCommandInfo.configMode" class="seg primary round sm" ng-class="{active: detectedActivityCommandInfo.configMode}">
		<i icon="cog"></i>
	</button>
</window-title>
<window-content class="default activity">
	<panel id="config" scrollable class="border-bottom-radius-outer" ng-if="detectedActivityCommandInfo.configMode">
		<ul class="seg">
			<li class="selectable" ng-repeat="(key, option) in detectedActivityCommandInfo.displayPreferences">
				<checkbox ng-checked="option.visible" ng-click="detectedActivityCommandInfo.toggleDisplayPreference(key)"></checkbox>
				<label class="flexbox flex-align-center flex-1">
					<span class="flex-1" bind-template="option.label"></span>
				</label>
			</li>
		</ul>
	</panel>
	<panel class="border-bottom-radius-outer" ng-if="!detectedActivityCommandInfo.configMode">
		<section class="flexbox" id="overview">
			<div id="photo" expand="command-info > window > window-content > panel" ng-style="
				{'background-image': 'url(\''+detectedActivityCommandInfo.activityPicture+'\')'}">
				<div ng-if="detectedActivityCommandInfo.activityPicture!= oilSpillsCommandInfo.activityDefaultPicture" class="photo-toptoolbar size-lg flexbox flex-align-center flex-justify-end">
					<button ng-click="expand.toggle()" class="seg primary round sm">
						<i class="icon-size-md" icon="{{expand.expanded?'collapse':'expand'}}"></i>
					</button>
				</div>
				<!--<div id="bottom-toolbar" class="flexbox flex-justify-space-between">
					<button class="seg positive rounded" ng-click="detectedActivityCommandInfo.centerMap(detectedActivity)">
						<i icon="square-center"></i>
					</button>
				</div>-->
			</div>
			<div id="functions" class="flex-1">
				<!-- 
				<div class="btn-group">
					<button ng-click="detectedActivityCommandInfo.getVesselTracks(activity)" class="seg primary rounded flex-1">
						Vessel tracks
					</button>
					<button class="seg primary rounded"  ng-click="detectedActivityCommandInfo.openACQ()">
						<i icon="ellipsis-h"></i>
					</button>
				</div>
				<div class="btn-group">
					<button class="seg primary rounded flex-1" ng-click="oilSpillsCommandInfo.runDriftModel(oilSpill)">Display drift model</button>
					<button class="seg primary rounded">
						<i icon="ellipsis-h"></i>
					</button>
				</div>
				<button class="seg primary rounded" ng-disabled="!oilSpill.get('possibleSources')" ng-click="detectedActivityCommandInfo.showPossibleSources(oilSpill)">Possible source</button>
				<button class="seg primary rounded" disabled="disabled" >Report source</button>
				<button class="seg primary rounded" disabled="disabled" >Report observation</button>
				<button class="seg primary rounded" disabled="disabled" >Report in SSN</button>
				<button class="seg primary rounded" disabled="disabled" >Report in THETIS</button>
				-->
			</div>
		</section>
		<section id="basic-info" expand="command-info > window > window-content > panel">
			<pager>
				<pager-content>
					<ul class="flexbox flex-wrap flex-direction-vertical property-list">
						<li ng-repeat="(key, option) in detectedActivityCommandInfo.displayPreferences" ng-if="option.visible">
							<label bind-template="option.label"></label>
							<value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
						</li>
					</ul>
				</pager-content>
				<div id="section-controls">
					<pager-controls></pager-controls>
					<expand-controls></expand-controls>
				</div>
			</pager>
		</section>
		<section id="enrichment">
			<button class="seg positive rounded md" ng-click=" detectedActivityCommandInfo.getVesselTracks(detectedActivity)">Vessel tracks</button>
			<button class="seg positive rounded md" disabled="disabled">Feedback</button>
			<button class="seg positive rounded md" ng-click="detectedActivityCommandInfo.alertReportDownload(detectedActivity)" disabled>Alert report</button>
		</section>
	</panel>
	<style>
		window-content.activity{
			min-width: 350px;
		}
	</style>
</window-content>
