<window>
    <window-title ng-init="detectedActivityTooltip.init(detectedActivity)">
        <div id="info">
            <div class="text-size-sm">{{detectedActivityTooltip.getLabel(detectedActivity)}}</div>
        </div>
    </window-title>
    <window-content class="background-color-3">
        <section class="border-bottom-radius">
            <div id="info" class="text-size-xs">
                <div ng-repeat="(key, option) in detectedActivityTooltip.activityInfo" ng-if="option.visible">
                    <b><label bind-template="option.label"></label></b>: <value bind-template="option.template"></value>
                </div>
            </div>
        </section>
    </window-content>
</window>
