@import '~sass/mixins';
@import '~sass/variables';

pager {
  @include flexbox;

  @include flex-direction(vertical);

  & > pager-content {
    @include flexbox;

    @include flex-direction(vertical);

    @include flex(1);

    overflow: hidden;

    /*IE Workaround because of the scrollWidth and scrollHeight calculations*/
    padding-right: 1px;
    padding-bottom: 1px;
  }
}

pager-controls {
  @include flexbox;

  @include flex-align(center);

  margin-left: auto;
  margin-right: auto;

  & > :not(:last-child) {
    margin-right: 6px;
  }
}
