<ng-container *ngIf="pager.getXPages() > 1">
	<button class="seg primary round sm" (click)="prevXPage()">
		<icon svg-file="chevron-left"></icon>
	</button>
	<span>{{pager.currentXPage()}}/{{pager.getXPages()}}</span>
	<button class="seg primary round sm" (click)="nextXPage()">
		<icon svg-file="chevron-right"></icon>
	</button>
</ng-container>
<ng-container *ngIf="pager.getYPages() > 1">
	<button class="seg primary round sm" (click)="prevYPage()">
		<icon svg-file="chevron-up"></icon>
	</button>
	<span>{{pager.currentYPage()}}/{{pager.getYPages()}}</span>
	<button class="seg primary round sm" (click)="nextYPage()">
		<icon svg-file="chevron-down"></icon>
	</button>
</ng-container>