<div id="month-picker">
	<button class="seg primary round xs"  title="+1 year"[disabled]="!isMonthInRange(month.clone().subtract(1, 'year'))" (click)="setMonth(month.clone().subtract(1, 'year'))">
		<icon svg-file="chevron-dobule-left"></icon>
	</button>
	<button class="seg primary round xs" title="+1 month" [disabled]="!isMonthInRange(month.clone().subtract(1, 'month'))" (click)="setMonth(month.clone().subtract(1, 'month'))">
		<icon svg-file="chevron-left"></icon>
	</button>
	<label>{{month | dateformat:'MMMM YYYY'}}</label>
	<button class="seg primary round xs" title="-1 month" [disabled]="!isMonthInRange(month.clone().add(1, 'month'))" (click)="setMonth(month.clone().add(1, 'month'))">
		<icon svg-file="chevron-right"></icon>
	</button>
	<button class="seg primary round xs" title="-1 year" [disabled]="!isMonthInRange(month.clone().add(1, 'year'))" (click)="setMonth(month.clone().add(1, 'year'))">
		<icon svg-file="chevron-double-right"></icon>
	</button>
</div>
<panel id="day-picker">
	<div><ul id="week-days">
		<li>Su</li>
		<li>Mo</li>
		<li>Tu</li>
		<li>We</li>
		<li>Th</li>
		<li>Fr</li>
		<li>Sa</li>
	</ul></div>
	<div id="month-days">
		<ul class="week-days" *ngFor="let week of getWeeks()">
			<li *ngFor="let date of week" [attr.disabled]="!isDateValid(date) ? true : null">
				<span *ngIf="date" [ngClass]="{active: date.isSame(model, 'day')}" (click)="setDate(date)">{{date | dateformat:'D'}}</span>
			</li>
		</ul>
	</div>
</panel>