@import '~sass/mixins';
@import '~sass/variables';

calendar {
  font-size: font-size(sm);
  display: block;
  width: 178px;

  & > #month-picker {
    @include flexbox;

    @include flex-align(center);

    @include flex-justify(space-between);

    background-color: color(2);
    height: $input-size;
    padding: 0 11px;

    & > label {
      color: color(3);
      font-size: font-size(sm);
      text-transform: uppercase;
    }
  }

  & > panel#day-picker {
    @include flexbox;

    @include flex-direction(vertical);

    @include flex-align(center);

    width: 100%;
    padding: 4px 0;

    & ul {
      @include flexbox;

      list-style: none;
      width: 100%;

      & #week-days {
        color: color(2);
      }

      & li {
        @include button-size(button-size(sm));

        display: inline-block;

        &[disabled] {
          opacity: 0.75;
          pointer-events: none;
        }

        & > span {
          @include button-size(button-size(sm));

          display: block;
          text-align: center;

          &.active {
            background-color: color(2);
            color: color(3);
            border-radius: 50%;
          }
        }
      }
    }
  }
}
