<div class="legend sm">
     <div class="row">
        <div class="column fullwidth">
            <div class="legend-item">
                <span class="arrow speed1 label">0.0-0.2 m/s</span>
            </div>
            <div class="legend-item">
                <span class="arrow speed2 label">0.3-1.5 m/s</span>
            </div>
            <div class="legend-item">
                <span class="arrow  speed3 label">1.6-3.3 m/s</span>
            </div>
            <div class="legend-item">
                <span class="arrow speed4 label">3.4-5.4 m/s</span>
            </div>
            <div class="legend-item">
                <span class="arrow speed5 label">5.5-7.9 m/s</span>
            </div>
            <div class="legend-item">
                <span class="arrow speed6 label">8.0-10.7 m/s</span>
            </div>
            <div class="legend-item">
                <span class="arrow speed7 label">10.8-13.8 m/s</span>
            </div>
            <div class="legend-item">
                <span class="arrow speed8 label">13.9-17.1 m/s</span>
            </div>
            <div class="legend-item">
                <span class="arrow speed9 label">17.2-20.7 m/s</span>
            </div>
            <div class="legend-item">
                <span class="arrow speed10 label">20.8-24.4 m/s</span>
            </div>

            <div class="legend-item">
                <span class="arrow speed11 label">24.5-28.4 m/s</span>
            </div>

            <div class="legend-item">
                <span class="arrow speed12 label">28.5-32.6 m/s</span>
            </div>
                       <div class="legend-item">
                <span class="arrow speed13 label">32.7 +m/s</span>
            </div>

        </div>
    </div>
</div>
<style>
    .arrow:before{
        content:'';
        width:20px;
        height:20px;
        display: inline-block;
        margin-right: 5px;
    }
    .arrow.span{
        padding-bottom:5px;
    }
    .arrow.speed1:before{
        background-color: white;
    }
    .arrow.speed2:before{
        background-color: #baf9ee;
    }
    .arrow.speed3:before{
        background-color: #aeffff;
    }
    .arrow.speed4:before{
        background-color: #2a48aa;
    }
    .arrow.speed5:before{
        background-color: #97de9c;
    }
    .arrow.speed6:before{
        background-color: #3d6a41;
    }
    .arrow.speed7:before{
        background-color: #29432a;
    }
    .arrow.speed8:before{
        background-color: #8e9180;
    }
    .arrow.speed9:before{
        background-color: #ea6f68;
    }
    .arrow.speed10:before{
        background-color: #7b2530;
    }
    .arrow.speed11:before{
        background-color: #ba30aa;
    }
        .arrow.speed12:before{
        background-color: #8c5181;
    }
        .arrow.speed13:before{
        background-color: #393939;
    }

</style>

