<div scrollable="overflow-y" style="height:295px; flex-direction: column;">
    <section class="flexbox" style="flex-direction: column;">
        <pager class="flex-1" style="flex:1 1 auto; height:50px" id="information" >
            <pager-content>
                <title>Summary</title>
                <ul class="flexbox flex-wrap property-list">
                    <li ng-repeat="(key, option) in vesselCommandInfo.hazmatProperties" ng-if="option.visible">
                        <label bind-template="option.label"></label>
                        <value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
                    </li>
                </ul>
            </pager-content>
        </pager>
        <button ng-if="vesselCommandInfo.ssnEnrichmentShowmore" class="seg positive rounded md" style="width:100px; margin:auto;" ng-click="vesselCommandInfo.showMoreInformation('Hazmat', vessel)">{{vesselCommandInfo.getSSNUIState(vessel.getId(), 'hazmat')}}</button>
        <section class="flexbox flex-direction-vertical" ng-if="vessel.get('hazmatError')" style="margin-top: 5px; color: #f00; font-weight: bold;">
            <span>{{vessel.get('hazmatError')}}</span>
        </section>
        <!-- CARGO MANIFEST -->
        <section class="flexbox" style="flex-direction: column;" ng-if="vesselCommandInfo.getSSNDetails(vessel.getId(), 'hazmat') || vessel.get('cargoManifest')">
            <pager-content style="flex:1 1 auto;">
                <section alias="Cargo Manifest" class="flexbox" style="flex-direction: column;" ng-repeat="cargoManifest in vessel.get('cargoManifest')">
                    <ul class="flexbox flex-wrap property-list">
                        <li ng-repeat="(key, option) in vesselCommandInfo.hazmatCargoManifest" ng-if="option.visible">
                            <label bind-template="option.label"></label>
                            <value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
                        </li>
                    </ul>
                </section>
            </pager-content>
        </section>
        <!-- SOURCE -->
        <section class="flexbox" style="flex-direction: column;" ng-if="vesselCommandInfo.getSSNDetails(vessel.getId(), 'hazmat') || vessel.get('hazmatDetails')">
            <pager-content style="flex:1 1 auto;">
                <section alias="Source" class="flexbox" style="flex-direction: column;">
                    <ul class="flexbox flex-wrap property-list">
                        <li ng-repeat="(key, option) in vesselCommandInfo.hazmatSource" ng-if="option.visible">
                            <label bind-template="option.label"></label>
                            <value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
                        </li>
                    </ul>
                </section>
            </pager-content>
        </section>
        <!-- CONSIGNMENT -->
        <section class="flexbox" style="flex-direction: column;" ng-if="vesselCommandInfo.getSSNDetails(vessel.getId(), 'hazmat')">
            <pager-content style="flex:1 1 auto;">
                <section alias="Consignment" class="flexbox" style="flex-direction: column;" ng-repeat="consignment in vessel.get('hazmatDetails').CargoInformation.Consignment">
                    <ul class="flexbox flex-wrap property-list">
                        <li ng-repeat="(key, option) in vesselCommandInfo.consignmentFields" ng-if="option.visible">
                            <label bind-template="option.label"></label>
                            <value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
                        </li>
                    </ul>
                    <div class="flexbox"><span class="flexbox flex-1" style="min-width: 21px; line-height: 21px; height: 21px; font-size: 13px;">DPG Items</span>
                        <button class="seg flexbox primary round sm" style="width:23px;" ng-click="vesselCommandInfo.sendDPGItemsToTTT(consignment.DPGItem, vessel, ($index + 1))"><i icon="grid"></i></button>
                    </div>
                    <grid id="consignmentItems" class="flexbox no-toolbar" data="consignment.DPGItem" item-as="item" fields="vesselCommandInfo.hazmatDPGItemsFields"></grid>
                </section>
            </pager-content>
        </section>
    </section>
</div>