<div scrollable="overflow-y" style="height:295px;">
    <section alias="Summary" class="flexbox flex-direction-vertical">
        <pager class="flex-1" style="flex:1 1 auto" id="information">
            <pager-content>
                <title>Summary</title>
                <ul class="flexbox flex-wrap property-list">
                    <li ng-repeat="(key, option) in vesselCommandInfo.mrsProperties" ng-if="option.visible">
                        <label bind-template="option.label"></label>
                        <value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
                    </li>
                </ul>
            </pager-content>
        </pager>
        <button class="seg positive rounded md" style="width:100px; margin:auto;" ng-click="vesselCommandInfo.getMRS(vessel)">{{vesselCommandInfo.getSSNUIState(vessel.getId(), 'mrs')}}</button>
    </section>
    <section ng-if="vesselCommandInfo.getSSNDetails(vessel.getId(), 'mrs')">
        <pager>
            <pager-content>
                <!-- SUMMARY -->
                <section alias="Summary" class="flexbox flex-direction-vertical">
                    <ul class="flexbox flex-wrap property-list">
                        <li ng-repeat="(key, option) in vesselCommandInfo.mrsDetails">
                            <label bind-template="option.label"></label>
                            <value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
                        </li>
                    </ul>
                </section>
                <!--<section alias="Contact" class="flexbox" style="flex-direction: column; height:100px">
                    <ul class="flexbox flex-wrap property-list">
                        <li ng-repeat="(key, option) in vesselCommandInfo.mrsContact" ng-if="option.visible">
                            <label bind-template="option.label"></label>
                            <value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
                        </li>
                    </ul>
                </section>-->
                <section alias="Cargo" class="flexbox flex-direction-vertical">
                    <ul class="flexbox flex-wrap property-list">
                        <li ng-repeat="(key, option) in vesselCommandInfo.mrsCargo" ng-if="option.visible">
                            <label bind-template="option.label"></label>
                            <value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
                        </li>
                    </ul>
                </section>
                <section class="flexbox flex-direction-vertical">
                    <div class="flexbox">
                        <span style="min-width: 21px;line-height: 21px;height: 21px;font-size: 13px;display: block;">Cargo information</span>
                        <button class="seg primary round sm" style="width:23px; right: 20px; position: absolute;" ng-click="vesselCommandInfo.sendCargoDGtoTTT(vessel)"><i icon="grid"></i></button>
                    </div>
                    <grid class="flexbox no-toolbar" data="vessel.get('mrsDetails').MRSCargoInformation.DG.DGDetails" item-as="item" fields="vesselCommandInfo.mrsCargoFields"></grid>
                </section>
            </pager-content>
        </pager>
    </section>
</div>