<div scrollable="overflow-y" class="flex-direction-vertical" style="height:295px;">
    <section class="flexbox flex-direction-vertical">
        <pager class="flex-1" style="flex: 1 1 auto">
            <pager-content style="flex:1 1 auto;">
                <!-- SUMMARY -->
                <section alias="Summary" class="flexbox flex-direction-vertical">
                    <ul class="flexbox flex-wrap property-list">
                        <li ng-repeat="(key, option) in vesselCommandInfo.securityProperties" ng-if="option.visible">
                            <label bind-template="option.label"></label>
                            <value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
                        </li>
                    </ul>
                </section>
                <!-- AGENT IDENTIFICATION -->
                <section alias="Agent Identification" class="flexbox flex-direction-vertical" style="height:100px;">
                    <ul class="flexbox flex-wrap property-list">
                        <li ng-repeat="(key, option) in vesselCommandInfo.securityAgentProperties" ng-if="option.visible">
                            <label bind-template="option.label"></label>
                            <value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
                        </li>
                    </ul>
                </section>
                <button ng-if="vesselCommandInfo.ssnEnrichmentShowmore" class="seg positive rounded md" style="width:100px;margin:auto;" ng-click="vesselCommandInfo.showMoreInformation('Security',vessel)">{{vesselCommandInfo.getSSNUIState(vessel.getId(), 'security')}}</button>
                <section class="flexbox flex-direction-vertical" ng-if="vessel.get('securityError')" style="margin-top: 5px; color: #f00; font-weight: bold;">
                    <span>{{vessel.get('securityError')}}</span>
                </section>
                <!-- SECURITY DETAILS -->
                <section alias="Security Details" ng-if="vesselCommandInfo.getSSNDetails(vessel.getId(), 'security')" class="flexbox flex-direction-vertical" style="height:160px;">
                    <ul class="flexbox flex-wrap property-list">
                        <li ng-repeat="(key, option) in vesselCommandInfo.securityDetails" ng-if="option.visible">
                            <label bind-template="option.label"></label>
                            <value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
                        </li>
                    </ul>
                </section>
                <!-- ISSC -->
                <section alias="ISSC" ng-if="vesselCommandInfo.getSSNDetails(vessel.getId(), 'security')" class="flexbox flex-direction-vertical" style="height:100px;">
                    <ul class="flexbox flex-wrap property-list">
                        <li ng-repeat="(key, option) in vesselCommandInfo.ISSCProperties" ng-if="option.visible">
                            <label bind-template="option.label"></label>
                            <value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
                        </li>
                    </ul>
                </section>
                <!-- CSO -->
                <section alias="CSO" ng-if="vesselCommandInfo.getSSNDetails(vessel.getId(), 'security')" class="flexbox flex-direction-vertical" style="height:100px;">
                    <ul class="flexbox flex-wrap property-list">
                        <li ng-repeat="(key, option) in vesselCommandInfo.CSO" ng-if="option.visible">
                            <label bind-template="option.label"></label>
                            <value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
                        </li>
                    </ul>
                </section>
                <!-- Previous Call At Port Facility -->
                <section class="flexbox flex-direction-vertical" ng-if="vesselCommandInfo.getSSNDetails(vessel.getId(), 'security') && vesselCommandInfo.securityDetails && vessel.get('securityDetails').PreviousCallAtPortFacility">
                    <div class="flexbox">
                        <button class="seg primary round sm" style="width:23px; right: 20px; position: absolute;" ng-click="vesselCommandInfo.sendPreviousCall(vessel.get('securityDetails').PreviousCallAtPortFacility,vessel)"><i icon="grid"></i></button>
                        <span style="min-width: 21px; line-height: 21px; height: 21px;font-size: 13px; display: block;">Previous Call At Port Facility</span>
                    </div>
                    <grid id="securityItems" class="flexbox no-toolbar" data="vessel.get('securityDetails').PreviousCallAtPortFacility" item-as="item" fields="vesselCommandInfo.previousCallAtPortFacilityFields"></grid>
                </section>
                <section class="flexbox flex-direction-vertical" ng-if="vesselCommandInfo.getSSNDetails(vessel.getId(), 'security') && vesselCommandInfo.securityDetails && vessel.get('securityDetails').ShipToShipActivity">
                    <div classclass="flexbox">
                        <button class="seg primary round sm" style="width:23px; right: 20px; position: absolute;" ng-click="vesselCommandInfo.sendShiptoShip(vessel.get('securityDetails').ShipToShipActivity,vessel)"><i icon="grid"></i></button>
                        <span style="min-width: 21px;line-height: 21px;height: 21px;font-size: 13px;display: block;">Ship to Ship Activity</span>
                    </div>
                    <grid id="securityItems" class="flexbox no-toolbar" data="vessel.get('securityDetails').ShipToShipActivity" item-as="item" fields="vesselCommandInfo.shipToShipActivityFields"></grid>
                </section>
            </pager-content>
        </pager>
    </section>
</div>