<div scrollable="" class="flex-direction-vertical" style="height:295px;">
        <section class="flexbox flex-direction-vertical">
            <pager class="flex-1" style="flex:1 1 auto">
                <pager-content style="flex:1 1 auto;">
                    <section alias="Source" class="flexbox flex-direction-vertical">
                        <ul class="flexbox flex-wrap property-list">
                            <li ng-repeat="(key, option) in vesselCommandInfo.sourceProperties" ng-if="option.visible">
                                <label bind-template="option.label"></label>
                                <value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
                            </li>
                        </ul>
                    </section>
                    <section alias="Voyage Info" class="flexbox flex-direction-vertical">
                        <ul class="flexbox flex-wrap property-list">
                            <li ng-repeat="(key, option) in vesselCommandInfo.viProperties" ng-if="option.visible">
                                <label bind-template="option.label"></label>
                                <value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
                            </li>
                        </ul>
                    </section>
                    <section alias="Vessel Details" class="flexbox flex-direction-vertical">
                        <ul class="flexbox flex-wrap property-list">
                            <li ng-repeat="(key, option) in vesselCommandInfo.vesselDetails" ng-if="option.visible">
                                <label bind-template="option.label"></label>
                                <value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
                            </li>
                        </ul>
                    </section>
                    <section alias="Certificate of Registry" class="flexbox flex-direction-vertical">
                        <ul class="flexbox flex-wrap property-list">
                            <li ng-repeat="(key, option) in vesselCommandInfo.certificateOfRegistry" ng-if="option.visible">
                                <label bind-template="option.label"></label>
                                <value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
                            </li>
                        </ul>
                    </section>
                    <section alias="Departure Notification Details" class="flexbox flex-direction-vertical">
                        <ul class="flexbox flex-wrap property-list">
                            <li ng-repeat="(key, option) in vesselCommandInfo.DepartureNotificationDetails" ng-if="option.visible">
                                <label bind-template="option.label"></label>
                                <value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
                            </li>
                        </ul>
                    </section>
                    <section alias="Arrival Notification Details" class="flexbox flex-direction-vertical">
                        <ul class="flexbox flex-wrap property-list">
                            <li ng-repeat="(key, option) in vesselCommandInfo.ArrivalNotificationDetails" ng-if="option.visible">
                                <label bind-template="option.label"></label>
                                <value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
                            </li>
                        </ul>
                    </section>
                    <section alias="Pre-arrival 72h notification" class="flexbox flex-direction-vertical">
                        <ul class="flexbox flex-wrap property-list">
                            <li ng-repeat="(key, option) in vesselCommandInfo.PreArrival3DaysNotificationDetails" ng-if="option.visible">
                                <label bind-template="option.label"></label>
                                <value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
                            </li>
                        </ul>
                    </section>
                </pager-content>
            </pager>
        </section>
    </div>