<div scrollable="overflow-y" style="height:295px; flex-direction: column;">
    <!-- SUMMARY -->
    <section alias="Summary" class="flexbox" style="flex-direction: column; height: 80px;">
        <pager class="flex-1" id="information">
            <pager-content>
                <ul class="flexbox flex-wrap property-list">
                    <li ng-repeat="(key, option) in vesselCommandInfo.wasteProperties" ng-if="option.visible">
                        <label bind-template="option.label"></label>
                        <value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
                    </li>
                </ul>
            </pager-content>
        </pager>
    </section>
    <!-- LAST PORT AND DATE -->
    <section alias="Last port and date when ship-generated waste was delivered" class="flexbox" style="flex-direction: column; height:80px;">
        <pager class="flex-1" id="information">
            <pager-content>
                <ul class="flexbox flex-wrap property-list">
                    <li ng-repeat="(key, option) in vesselCommandInfo.wasteLastPortProperties" ng-if="option.visible">
                        <label bind-template="option.label"></label>
                        <value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
                    </li>
                </ul>
            </pager-content>
        </pager>
    </section>
    <button ng-if="vesselCommandInfo.ssnEnrichmentShowmore" class="seg positive rounded md" style="width:100px;margin:auto;" ng-click="vesselCommandInfo.showMoreInformation('Waste',vessel)">{{vesselCommandInfo.getSSNUIState(vessel.getId(), 'waste')}}</button>
    <section class="flexbox flex-direction-vertical" ng-if="vessel.get('wasteError')" style="margin-top: 5px; color: #f00; font-weight: bold;">
        <span>{{vessel.get('wasteError')}}</span>
    </section>
    <!-- SHOW MORE -->
    <section class="flexbox flex-direction-vertical" ng-if="vesselCommandInfo.getSSNDetails(vessel.getId(), 'waste')">
        <pager style="flex: 1 1 auto;">
            <pager-content style="flex:1 1 auto;">
                <section class="flexbox flex-direction-vertical" ng-if="vessel.get('wasteDetails').WasteItem">
                    <div class="flexbox">
                        <span style="min-width: 21px;line-height: 21px;height: 21px;font-size: 13px;display: block;">Waste information</span>
                        <button class="seg primary round sm" style="width:23px; right: 20px; position: absolute;" ng-click="vesselCommandInfo.sendWasteDetailToTTT(vessel)"><i icon="grid"></i></button>
                    </div>
                    <grid id="wasteItems" class="flexbox no-toolbar" api="vesselCommandInfo.wasteFunctions" data="(vessel.get('wasteDetails').WasteItem || [])" item-as="item" fields="vesselCommandInfo.wasteDetailListFields"></grid>
                </section>
                <section ng-if="!vessel.get('wasteDetails').WasteItem">
                    <span style="min-width: 21px;line-height: 21px;height: 21px;font-size: 13px;display: block;">0 waste items retrieved</span>
                </section>
            </pager-content>
        </pager>
    </section>
</div>