<window-title>
	<span class="flex-1">{{trackPosition.get('platformid')}}</span>
	<button ng-click="driftBuoyCommandInfo.configMode = !driftBuoyCommandInfo.configMode" class="seg primary round sm" ng-class="{active: driftBuoyCommandInfo.configMode}">
		<i icon="cog"></i>
	</button>
</window-title>
<window-content>
	<panel id="config" scrollable class="border-bottom-radius-outer" ng-if="driftBuoyCommandInfo.configMode">
		<ul class="seg">
			<li class="selectable" ng-repeat="(key, option) in driftBuoyCommandInfo.displayPreferences">
				<checkbox ng-checked="option.visible" ng-click="driftBuoyCommandInfo.toggleDisplayPreference(key)"></checkbox>
				<label class="flexbox flex-align-center flex-1" bind-template="option.label"></label>
			</li>
		</ul>
	</panel>
	<panel class="border-bottom-radius-outer" ng-if="!driftBuoyCommandInfo.configMode">
		<section id="basic-info">
			<pager>
				<pager-content>
					<ul class="flexbox flex-wrap flex-direction-vertical property-list">
						<li ng-repeat="(key, option) in driftBuoyCommandInfo.displayPreferences" ng-if="option.visible">
							<label bind-template="option.label"></label>
							<value bind-template="option.template" ng-click="copyToClipboard($event)"></value>
						</li>
					</ul>
				</pager-content>
				<pager-controls></pager-controls>
			</pager>
		</section>
	</panel>
</window-content>
