<window>
	<window-title>
		<div id="info">
			{{::trackPosition.get('platformid')}}
		</div>
	</window-title>
	<window-content class="background-color-3">
		<section>
			<div id="info" class="text-size-xs">
                <div ng-repeat="(key, option) in tracksTooltipDisplayPreferences" ng-if="option.visible">
                    <b><label bind-template="option.label"></label></b>: <value bind-template="option.template"></value>
                </div>
            </div>
		</section>
	</window-content>
</window>
<style>
tooltip > window > window-title > #info > * {
	white-space: nowrap;
}
tooltip > window > window-content > section {
	white-space: nowrap;
}
</style>
