<div id="container">
	<button class="primary rounded" (click)="open = !open">
		<label *ngIf="modelOption" class="text-size-sm">
			<span>{{(labelAsFn(modelOption))}}</span>
		</label>
		<label *ngIf="placeholder && !modelOption" class="text-size-sm">{{placeholder}}</label>
		<icon svg-file="chevron-down"></icon>
	</button>
	<ul *ngIf="open" scrollable class="ui-shadow border-radius-inner background-color-background">
		<li style="padding-top:10px;" class="input-callback" *ngIf="clickCallback || changeCallback">
			<icon class="icon-size-sm fill-color-main-active" icon="check"></icon>
			<!-- change callback -->
			<input placeholder="{{inputPlaceholder || 'Filter here'}}" *ngIf="changeCallback" (change)="callChangeCallback()" class="seg text-size-sm flex-1 rounded" [(ngModel)]="inputValue">
			<!-- click callback -->
			<ng-container *ngIf="clickCallback">
				<input placeholder="{{inputPlaceholder || 'Filter here'}}" (keyup.enter)="callClickCallback()" class="seg text-size-sm flex-1 rounded-left" [(ngModel)]="inputValue">
				<button class="seg rounded rounded-right sm primary" (click)="callClickCallback()"><icon svg-file="upload" class="icon-size-sm"></icon></button>
			</ng-container>
		</li>
		<li (click)="select(option, i)" *ngFor="let option of data; let i = index" [ngClass]="{active: (_model.toString() === valueAsFn(option))}">
			<icon class="icon-size-sm fill-color-main-active" svg-file="check"></icon>
			<div class="option text-size-sm">
				<span>{{labelAsFn(option)}}</span>
			</div>
			<button class="seg rounded sm primary" *ngIf="removeCallback" (click)="remove(option)"><icon svg-file="trash" class="icon-size-sm"></icon></button>
		</li>
	</ul>
</div>

<!--[ng-enter]="callClickCallback()" -->