@import '~sass/mixins';
@import '~sass/variables';

combo {
    display: block;

    &[disabled='disabled'] {
        opacity: 0.75;
        pointer-events: none;
    }

    & > #container {
        @include flexbox;
        position: relative;

        & > button {
            color: white;
            width: 100%;
            @include flexbox;
            @include flex-align(center);
            @include flex-justify(space-between);
            @include button-size($input-size);
            color: color(background);
            fill: color(background);
            font-size: 10px;
            border: none;
            outline: none;
            padding: 0 8px;
            white-space: nowrap;
            position: relative;
            background: none;

            &[ng-click] {
                cursor: pointer;
            }

            &.primary {
                background: color(4);
                &.active,
                &:hover {
                    background: color(4);
                }
            }
            &.primary-reverse {
                background: color(background);
                color: color(main-active);
                fill: color(main-active);
                &.active,
                &:hover {
                    background: color(11);
                }
            }
            &.positive {
                background: color(12);
            }
            &.positive-reverse {
                background: color(background);
                color: color(12);
                fill: color(12);
                border: 1px solid color(12);
            }
            &.round {
                border-radius: 50%;
                padding: 0;
            }
            &.rounded {
                border-radius: border-radius(inner);
            }
            @each $size in map-keys($button-size) {
                &.#{$size} {
                    @include button-size(button-size($size));
                    & > button {
                        @include icon-size(icon-size($size));
                    }
                }
            }
            &:disabled {
                opacity: 0.75;
                pointer-events: none;
            }
            & > icon {
                @include icon-size($input-size);
                width:10px;
                float: right;
                fill: white;
            }
            & > icon[name*="wedge"] {
                @include icon-size(4px);
                position: absolute;
                left: 3px;
                bottom: 3px;
            }
            & > label {
                float: left;
                text-align: left;
            }
        }
        & > icon {
            fill: white;
            margin-left: 3px;
        }
        & > ul {
            position: fixed;
            z-index:9999;
            font-size: 9px;
            background: white;
            max-height: 300px;

            & > li {
                white-space:nowrap;
                margin: auto;
                display: flex;
                padding: 3px;
                border-bottom: none !important;
                &.input-callback{
                    position: sticky;
                    top: 0;
                    background: #fff;
                    z-index: 1;
                    button{
                        height: 23px;
                    }
                }
                &.active > icon {
                    opacity: 1;
                }
                & > icon {
                    opacity: 0;
                    margin-right: 3px;
                }
                & > div.option {
                    margin: auto;
                    margin-left: 0px;
                }
            }
        }
    }
}