<window>
    <window-title>
        <i icon="clock" class="icon-size-sm"></i>
        <label class="text-size-sm flexbox" position-timestamp="feature.get('endPosition')"></label>
    </window-title>
    <window-content class="background-color-3">
        <div id="info" class="text-size-xs">
            <div>
                <b>Satellite</b>:<span> {{feature.get('platform')}}</span>
            </div>
            <div class="cleanseanet">
                <div>
                    <b>Service Id</b>:<span> {{feature.get('serviceID')}}</span>
                </div>
                <div>
                    <b>Operation</b>:<span> {{feature.get('operations')}}</span>
                </div>
            </div>
        </div>
    </window-content>
</window>

<style>
seg-tooltip > window > window-content {
    padding: 8px;
    font-weight: 400;
}
seg-tooltip > window > window-content > #info > :first-child {
    white-space: nowrap;
}
</style>