@import '~sass/mixins';
@import '~sass/variables';

.map {
	width: 100%;
	height: 100vh;
	display: block;
	position: relative;

	.ol-overviewmap {
		bottom: 100px;
	}

	cluster-cell {
		position: relative;
		display: block;

		& > div {
			@include transform(translate(-50%, -50%));

			position: absolute;
			left: 50%;
			top: 50%;
			font-size: font-size(sm);
		}
	}
}