<window>
    <window-content class="background-color-3 border-top-left-radius-outer border-top-right-radius-outer">
        <section class="border-bottom-radius">
            <div id="info" class="text-size-xs">
                <value bind-template="output">
            </div>
        </section>
    </window-content>
</window>
