@import '~sass/mixins';
@import '~sass/helpers';
@import '~sass/variables';

grid {
  @include flexbox;

  @include flex-direction(vertical);

  &[editable="true"] > #table-container > table > tbody > tr > td {
    padding: 0;

    & > input {
      border: none;
      width: 100px;
      height: 100%;
      padding: 0 8px;
      background-color: transparent;
      font-size: 11px;
    }
  }

  & > #toolbar {
    /*@include flex(0 0);*/

    height: button-size(lg);
    border-bottom: 1px solid transparentize(color(5), 0.8);
    padding: 0 8px;

    & > * {
      position: relative;
    }

    & > :not(:last-child) {
      margin-right: 8px;
    }

    & > #search i
    {
      height: 23px;

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        height: 26px;
      }
    }

    & > #search > ul,
    & > #config > ul {
      @extend .ui-shadow;

      @extend .border-radius-outer;

      position: absolute;
      bottom: 30px;
      background: color(3);
      padding: 0;
      max-height: 300px;
      min-width: 200px;
    }

    & > input.seg {
      margin-left: 8px;
      width: 209px;
    }

    & > #config > ul {
      right: 0px;
    }
  }

  & > button.pagination-show{
    fill: black;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  & > #pagination-container {
    min-height: 50px;
    border-top: 1px solid transparentize(color(5), 0.8);
    padding: 8px 8px;
    & > #pagination{
      flex-direction: column;
      flex-grow:1;
    }
    & > #ipp {
      flex-direction: column;
    }
  }

  & > #table-container {
    max-width: 800px;
    min-width: 467px;
    @include flexbox;

    & > resize-handler.ne{
      position: fixed;
      transform: matrix(1, 0, 0, 1, 0, 0) !important;
    }    

    & > scroll-track.vertical{
      top: 34px !important;
      bottom: 5px !important;
      padding: 4px 6px 20px 6px !important;
    }

    & > scroll-track.horizontal{
      right: 17px !important;
      padding-right: 9px !important;
    }

    & > table {
      /*
      & > tbody * {
        font-family: 'Droid Sans Mono';
      }*/

      color: color(9);
      border-collapse: collapse;

      & > thead > tr {
        background-color: color(3);
        position: relative;
        height: 34px;
        text-transform: uppercase;
        text-align: center;
        & > th {
          position: sticky;
          top: 0;
          background: #fff;
          z-index: 1;
        }
      }

      & > tfoot > tr {
        background-color: color(3);
        position: relative;
        height: 34px;
        text-transform: uppercase;
        text-align: center;
        & > td {
          text-align: left;
          position: sticky;
          bottom: 0;
          background: #fff;
          z-index: 0;
        }
      }

      & > tbody > tr:hover {
        background-color: transparentize(color(5), 0.8);
      }

      & > tbody > tr.active, & > tbody > tr.selected {
        background-color: color(13);
      }

      & > tbody > tr > td {
        height: 24px;

        /*
        user-select: all;
        -webkit-user-select: all;
        -moz-user-select: all;
        -ms-user-select: element;
        */

        & > div {
          width: 100%;
        }
      }

      & > * > * > * {
        padding: 0 8px;
        font-size: font-size(sm);
        font-weight: 400;
        white-space: nowrap;
        user-select: text;
        cursor: text;

        & > * {
          display: inline-block;
        }
      }

      & > thead > tr > th:not(:last-child),
      & > tbody > tr:not(:last-child) > td:not(:last-child) {
        box-shadow: inset -1px -1px transparentize(color(5), 0.8);
      }

      & > thead > tr > th:last-child,
      & > tbody > tr:not(:last-child) > td:last-child {
        box-shadow: inset 0 -1px transparentize(color(5), 0.8);
      }

      & > tbody > tr:last-child > td:not(:last-child) {
        box-shadow: inset -1px 0 transparentize(color(5), 0.8);
      }

      & > thead > tr > th > button {
        margin-left: 7px;
      }
    }
  }
}

grid #toolbar ul li {
  padding-left: 17px;
  padding-right: 23px;
}

grid #toolbar ul li span {
  @include flex(1);

  text-transform: uppercase;
}
