<div id="toolbar" class="flexbox flex-align-center" *ngIf="!hideToolbar">
	<div id="search">
		<button (click)="searchFilter = !searchFilter; configMode = false" class="seg primary round md" [ngClass]="{active: searchFilter}" title="Searchable fields">
			<icon svg-file="checklist"></icon>
		</button>
		<ul class="seg" scrollable *ngIf="searchFilter">
			<li>
				<span>All</span>
				<toggle [(model)]="searchAll" (click)="toggleSearchAll()"></toggle>
			</li>
			<li *ngFor="let field of fields | keyvalue: valueAscOrder">
				<span>
					<include [template]="field.value.label" [scope]="api"></include>
				</span>
				<toggle [(model)]="field.value.searchable" (change)="updateSearchPlaceholder()"></toggle>
			</li>
		</ul>
	</div>
	<input [disabled]="!isSearchable()" type="text" (focus)="searchFilter = false" class="seg line text-size-md" [(ngModel)]="searchTerm" (onDebounce)="doFilter($event)" debounce="500" placeholder="{{searchPlaceholder}}" [attr.disabled]="this.filteredRows.length === 0 ? true : null">
	<div id="spacer" class="flex-1"></div>
	<include *ngIf="customToolbar" [template]="customToolbar.template" [scope]="customToolbar.scope" [triggerChanges]="filteredRowsLength"></include>
	<span class="text-size-sm" *ngIf="!customToolbar">Number of rows: <b>{{filteredRowsLength}}</b></span>
	<button (click)="export()" class="seg primary round md" title="Export">
		<icon svg-file="export"></icon>
	</button>
	<div id="config">
		<button (click)="configMode = !configMode; searchFilter = false" class="seg primary round md" [ngClass]="{active: configMode}" title="Visible fields">
			<icon svg-file="cog"></icon>
		</button>
		<ul class="seg" scrollable *ngIf="configMode">
			<li>
				<span>All</span>
				<toggle [(model)]="allVisible" (click)="updateVisibleFields()"></toggle>
			</li>
			<li *ngFor="let field of fields | keyvalue: valueAscOrder">
				<span><include [template]="field.value.label" [scope]="api"></include></span>
				<toggle [(model)]="field.value.visible"></toggle>
			</li>
		</ul>
	</div>
</div>
<div id="table-container" scrollable max-width="1500" max-height="600" reset-on-resize="{{true}}" resizable="ne" [scroll-to]="(selectedIndex * 24 || 0)">
	<table>
		<thead>
			<tr>
				<th *ngIf="removeRow"></th>
				<th *ngIf="checkboxes">
					<checkbox ng-checked="allChecked()" (click)="checkboxAll()"></checkbox>
				</th>
				<ng-container *ngFor="let field of fields | keyvalue: valueAscOrder">
					<th *ngIf="field.value.visible">
						<include [template]="field.value.label" [scope]="api"></include>
						<button *ngIf="!editable" (click)="sortBy(field.key, true)" class="seg primary xs round">
							<icon [svg-file]="getSortDirection(field.key)"></icon>
						</button>
					</th>
				</ng-container>
			</tr>
		</thead>
		<tbody *ngIf="!editable">
			<ng-container *ngFor="let row of paginatedData[page]">
				<tr id="row_{{row.id}}" class="rows" [ngClass]="{active: row.selected, selected: row.item.get('selected')}" [style.display]="row.hide ? 'none' : 'table-row'">
					<td *ngIf="checkboxes"><checkbox [attr.checked]="row.selected" (click)="checkboxRow(row)"></checkbox></td>				
					<ng-container *ngFor="let field of fields | keyvalue: valueAscOrder: valueAscOrder" >
						<td *ngIf="field.value.visible" (click)="selectRow(row, $event.shiftKey, $event.ctrlKey)" (dblclick)="doubleClick(row)" class="values" id="{{field.key}}">
							<include [template]="field.value.template" [scope]="row.api"></include>
						</td>
					</ng-container>
				</tr>
			</ng-container>
		</tbody>
		<!-- <tbody *ngIf="editable">
			<tr *ngFor="row in paginatedData[page]" (click)="selectRow(row, $event.shiftKey, $event.ctrlKey)" id="row_{{row.id}}" [ngClass]="{active: row.selected, selected: row.item.get('selected') }">
				<td *ngIf="removeRow">
					<button class="seg primary sm round removeRow" (click)="removeRow(row)">
						<icon svg-file="trash"></icon>
					</button>
				</td>
				<td *ngFor="(field, options) in fields">
					<ng-container *ngIf="options.visible">
						<input type="text" *ngIf="!options.template" ng-model="row.item[field]"/>
					
						<include *ngIf="options.template" component="row.templates[field]"></include>
					</ng-container>
				</td>
			</tr>
		</tbody> -->
	</table>
</div>
<button *ngIf="paginate" title="{{paginationShow ? 'Hide' : 'Show'}} pagination options" class="seg pagination-show" (click)="paginationShow = !paginationShow">
	<icon svg-file="chevron-{{paginationShow ? 'down' : 'up'}}"></icon>
</button>
<div id="pagination-container" class="flexbox" *ngIf="paginationShow && paginate && paginatedData.length">
	<div id="pagination" class="flexbox">
		<label class="text-size-sm">{{ showingItems() }}</label>
		<div class="flexbox">
			<button *ngFor="let i of paginatedData; let $index = index;" class="seg rounded" [ngClass]="page === $index ? 'primary' : 'primary-reverse'"  (click)="page = $index">{{$index + 1}}</button>
		</div>
	</div>
	<div id="ipp" class="flexbox">
		<label class="text-size-sm">Items per page</label>
		<input class="seg text-size-sm" type="number" min="1" step="1" [(ngModel)]="itemsPerPage" (onDebounce)="changeItemsPerPage($event)" debounce="500"/>
	</div>
</div>
<style *ngIf="noResize">
	grid#{{name}} > #table-container resize-handler{display: none;}
</style>