@import '~sass/mixins';
@import '~sass/helpers';
@import '~sass/variables';

forecastdatetime {
    position: relative;
    z-index: 10000;
  
    label.title {
      color: #000000;
      background: #cbcbcb;
      padding: 5px;
      text-align: center;
      margin-right: 0;
    }
  
    & > #input {
      @include flexbox;
  
      @include flex-align(center);
  
      border-radius: border-radius(inner);
      border: 1px solid color(4);
      height: 26px;
      overflow: hidden;
  
      & > button {
        height: 24px;
        margin-left: -1px;
      }
  
      & > label {
        @include flex(1);
  
        font-size: 10px;
        font-weight: 400;
        text-align: center;
        max-width: 60px;
        margin-right: 0;
      }
    }
  
    & > forecastdatetimepicker {
      @extend .border-radius-inner;
  
      @extend .ui-shadow;
  
      @include flexbox;
  
      @include flex-direction(horizontal);
  
      @include transform(translate3d(-50%, $input-size, 0));
  
      position: absolute;
      left: 50%;
      top: 9px;
      overflow: hidden;
      z-index: 1;
  
      & > div {
        & > ul {
          list-style: none;
          background: #ffffff;
  
          & > li {
            height: 23px;
            color: #ffffff;
            background-color: #006ebc;
            width: 60px;
            text-align: center;
            border-radius: border-radius(inner);
            border: 1px solid color(4);
            margin: 5px;
  
            @include flex-align(center);
  
            float: left;
  
            &:last-child {
              border-radius: border-radius(inner) !important;
              border: 1px solid color(4) !important;
            }
          }
        }
      }
  
      & > #times {
        @include flex(1);
  
        @include flexbox;
  
        @include flex-direction(vertical);
  
        border-left: 1px solid;
        border-color: rgba(158, 168, 175, 0.8);
        background: #ffffff;
  
        & > ul {
          width: 120px;
  
          & > li {
            margin-left: 5px;
            width: 50px;
  
            & > label {
              line-height: 23px;
            }
  
            &.active {
              background-color: #044e82;
            }
  
            &:hover {
              background-color: transparentize(color(4), 0.2);
            }
          }
        }
      }
  
      #days {
        @include flex(2);
  
        @include flexbox;
  
        @include flex-direction(vertical);
  
        background: #ffffff;
  
        & > ul {
          width: 76px;
  
          & > li {
            width: 65px;
  
            & > label {
              line-height: 23px;
            }
  
            &.active {
              background-color: #044e82;
            }
  
            &:hover {
              background-color: transparentize(color(4), 0.2);
            }
          }
        }
      }
    }
  }
  