<!-- <div id="input">
	<button class="seg primary input" ng-click="forecastdatetime.getTimeInterval(null,null);forecastdatetime.pickerFloat=!forecastdatetime.pickerFloat;">
		<i icon="calendar" class="text-size-md"></i>
	</button>
	<label>{{forecastdatetime.ngModel | dateformat:'YYYY/MM/DD HH:MM'}}</label>
</div> -->
<!--<forecastdatetimepicker ng-if="forecastdatetime.pickerFloat" class="cast-shadow border-radius-inner">
		<div id="days">
			<label class="title">DAY</label>
			<ul>
				<li ng-repeat="day in forecastdatetime.days" ng-click="forecastdatetime.getTimeInterval(day,$index)" ng-class={'active':day===forecastdatetime.chosenDay}>
					<label>{{day | dateformat:'ddd DD/MM'}}</label>
				</li>
			</ul>
		</div>

		<div id="times">
			<label class="title">TIME</label>
			<ul>
				<li ng-repeat="time in forecastdatetime.times" ng-click="forecastdatetime.updateModel(time)" ng-class={'active':time===forecastdatetime.chosenTime}>
					<label>{{time | dateformat:'HH:MM'}}</label>
				</li>
			</ul>
		 </div
</forecastdatetimepicker>-->
