<window-title>
    <span class="flex-1">AOI editor</span>
</window-title>
<window-content ng-init="aoiCommandInfo.init(aoi)">
    <section ng-if="aoi.get('done')">
        <div class="flexbox flex-align-center" style="margin-top">
            <label class="text-size-sm font-weight-400">Name</label>
            <input class="flex-1 seg text-size-sm" ng-model="aoiCommandInfo.favourite_name" ng-model-options="{ debounce: 500 }" ng-change="aoiCommandInfo.setFavouriteName(aoi)">
            <button class="seg positive rounded favourite-btn" ng-click="aoiCommandInfo.openFavourites()" title="Add as favourite">
                <i icon="favourite"></i>
            </button>
            <button class="seg positive rounded favourite-btn" ng-click="aoiCommandInfo.downloadAOI(aoi)" title="Export SHP file">
                <i icon="export"></i>
            </button>
            <button class="seg positive rounded favourite-btn" ng-click="aoiCommandInfo.openACQ()" title="Open ACQ">
                ACQ
            </button>
            <button class="seg positive rounded favourite-btn" ng-if="aoi.get('aoi_alert')" ng-click="aoiCommandInfo.openABM(aoi)" title="Open ABM surveillance">
                ABM
            </button>
        </div>        
        <label class="text-size-sm">Border</label>
        <div class="content">
            <div class="flexbox flex-align-center">
                <label class="text-size-sm font-weight-400">Color</label>
                <colorpicker ng-model="aoiCommandInfo.strokeColorStyle" ng-change="aoiCommandInfo.setStrokeColorStyle(aoi)"></colorpicker>
            </div>
            <div class="flexbox flex-align-center">
                <label class="text-size-sm font-weight-400" style="flex: 0 1 35px">Width</label>
                <slider min="1" max="20" class="flex-1" ng-model="aoiCommandInfo.strokeWidthStyle" round="2" ng-change="aoiCommandInfo.setStrokeWidthStyle(aoi)"></slider>
                <input ng-model="aoiCommandInfo.strokeWidthStyle" class="seg text-size-sm slider">
            </div>
            <div class="flexbox flex-align-center">
                <label class="text-size-sm font-weight-400" style="flex: 0 1 35px">Opacity</label>
                <slider min="0" max="1" class="flex-1" ng-model="aoiCommandInfo.strokeOpacityStyle" round="2" ng-change="aoiCommandInfo.setStrokeOpacityStyle(aoi)"></slider>
                <input ng-model="aoiCommandInfo.strokeOpacityStyle" ng-change="aoiCommandInfo.setStrokeOpacityStyle(aoi)" class="seg text-size-sm slider">
            </div>
        </div>
        <label class="text-size-sm" ng-if="aoi.getGeometry().get('type') !== 'linePolygon'">Fill</label>
        <div class="content" ng-if="aoi.getGeometry().get('type') !== 'linePolygon'">
            <div class="flexbox flex-align-center">
                <label class="text-size-sm font-weight-400">Color</label>
                <colorpicker ng-model="aoiCommandInfo.fillColorStyle" ng-change="aoiCommandInfo.setFillColorStyle(aoi)"></colorpicker>
            </div>
            <div class="flexbox flex-align-center">
                <label class="text-size-sm font-weight-400" style="flex: 0 1 35px">Opacity</label>
                <slider min="0" max="1" class="flex-1" ng-model="aoiCommandInfo.fillOpacityStyle" round="2" ng-change="aoiCommandInfo.setFillOpacityStyle(aoi)"></slider>
                <input ng-model="aoiCommandInfo.fillOpacityStyle" ng-change="aoiCommandInfo.setFillOpacityStyle(aoi)" class="seg text-size-sm slider">
            </div>
        </div>
    </section>
    <section ng-if="aoiCommandInfo.coordinatesShow && aoi.getGeometry().get('type') === 'linePolygon'">
        <label class="text-size-sm font-weight-400">Edit coordinates</label>
        <div class="line-polygon-coordinates" scrollable>
            <span class="flexbox flex-align-center">
                <button class="seg primary sm rounded addRow" style="flex: 0 1;" ng-click="aoiCommandInfo.addRow(); aoiCommandInfo.redraw(aoi)" title="Add new point">
                    <i icon="circle-plus"></i>
                </button>
                <label class="flex-1 text-size-sm">Add a point</label>
            </span>
            <div ng-repeat="coord in aoiCommandInfo.linePolygonCoordinates track by $index">
                <coordinate label="Vertex: #{{$index + 1}}" ng-model="coord.latLon" style="align-items: flex-start;" ng-model-options="{debounce: 500}" ng-change="aoiCommandInfo.redraw(aoi)"></coordinate>
                <button class="seg primary sm round removeRow" ng-click="aoiCommandInfo.removeRow(coord); aoiCommandInfo.redraw(aoi)">
                    <i icon="trash"></i>
                </button>
            </div>
        </div>
    </section>
    <button ng-if="aoi.getGeometry().get('type') === 'linePolygon'"" title="Edit coordinates options" class="seg coordinates-show" ng-click="aoiCommandInfo.coordinatesShow = !aoiCommandInfo.coordinatesShow">
        <i icon="chevron-{{aoiCommandInfo.coordinatesShow ? 'up' : 'down'}}"></i>
    </button>
    <!-- <section ng-if="aoiCommandInfo.coordinatesShow && aoi.getGeometry().get('type') === 'circle'">
        <label class="text-size-sm font-weight-400">Edit shape</label>
        <div class="circle-coordinates flex-1" scrollable>
            <label class="text-size-sm">Center:</label>
            <coordinate ng-change="aoiCommandInfo.redrawCircle(aoi)" ng-model="aoiCommandInfo.center" class="seg text-size-sm" type="text"></coordinate> <br>
            <label class="text-size-sm">Radius (m):</label>
            <input ng-change="aoiCommandInfo.redrawCircle(aoi)" ng-model="aoiCommandInfo.radius" class="seg text-size-sm" type="text" ng-model-options='{ debounce: 500 }'>
        </div>
    </section> -->
    
</window-content>


<style>
    command-info window{
        min-width: 325px;
    }
    command-info .favourite-btn{
        margin-left: 6px;
    }
    command-info .content{
        padding-left: 10px;
        margin-left: 5px;
        margin-bottom: 5px;
        border-left: 1px solid #dcdcdc;
    }
    command-info input.slider{
        flex: 0 1 45px;
        margin-left: 5px;
    }
    command-info button.coordinates-show {
        fill: black;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 100%;
    }
    command-info .line-polygon-coordinates {
        max-height: 400px;
        width: 100%;
    }
    command-info .circle-coordinates {
        max-height: 400px;
        width: 100%;
        padding: 0 10px;
    }
    command-info .line-polygon-coordinates > div {
        width: 100%;
        border-bottom: 1px solid #dcdcdc;
        margin-bottom: 5px;
        padding: 0 18px;
        flex-direction: row;
        display: flex;
        align-items: center;
    }
    command-info .line-polygon-coordinates > div:last-of-type {
        border-bottom: 0;
        margin-bottom: 0;
    }
    command-info .line-polygon-coordinates > div > button.removeRow {
        margin-left: 5px;
    }
    command-info .line-polygon-coordinates > div > coordinate > #lat > div > span,
    command-info .line-polygon-coordinates > div > coordinate > #lon > div > span {
        align-self: center;
        text-align: right;
        width: 40px;
    }
    command-info button.addRow{
        margin: 5px 5px 5px 18px;
        max-width: 90px;
    }
</style>