<div class="row">
    <label class="text-size-sm flex-1">Color scheme</label>
</div>
<div class="row">
     <combo id="cluster-preferences-combo" class="large flex-1" ng-model-options="{getterSetter:true}" ng-model="clusters.colorScheme" template="{{clusters.clusterOptionsTemplate}}" options="colorScheme as colorScheme.name for colorScheme in clusters.colorSchemes"></combo>
</div>
<div class="row" ng-if="clusters.visible && clusters.clusterIntervals.length">
    <div class="cluster-legend">
        <div id="cluster-colormap">
            <div class="cluster-interval" ng-repeat="interval in clusters.clusterIntervals track by $index" ng-style="{'width': (100 / clusters.clusterIntervals.length)+'%'}">
                <span class="text-size-xs interval-range ">
                    {{$first?'< '+(interval.max + 1):''}}{{!$first && !$last?interval.min:''}}{{!$first && !$last && interval.min != interval.max?'-'+interval.max:''}}{{$last?'> '+(interval.min - 1):''}}
                </span>
                <div id="color" ng-style="{'background-color': interval.color}"></div>
                <span  class="text-size-xs interval-range">
                    {{$first?'< '+(interval.max + 1):''}}{{!$first && !$last?interval.min:''}}{{!$first && !$last && interval.min != interval.max?'-'+interval.max:''}}{{$last?'> '+(interval.min - 1):''}}
                </span>
            </div>
        </div>
    </div>
</div>
<style>
.cluster-legend{
    width:100%;
}

#cluster-colormap {
    margin-top: 7px;
}

#cluster-colormap > .cluster-interval {
    float: left;
}

#cluster-colormap > .cluster-interval span.interval-range {
    white-space: nowrap;
    text-align: center;
    width: 100%;
    display: block;
    font-weight: bold;
}

#cluster-colormap > .cluster-interval #color {
    height: 20px;
    display: block;
}

#cluster-colormap > .cluster-interval:first-child .interval-range {
    text-align: start;
}

#cluster-colormap > .cluster-interval:last-child .interval-range {
    text-align: end;
}

#cluster-colormap > .cluster-interval:nth-child(even) span.interval-range:first-child {
    opacity: 1;
}

#cluster-colormap > .cluster-interval:nth-child(even) span.interval-range:last-child {
    opacity: 0;
}

#cluster-colormap > .cluster-interval:nth-child(odd) span.interval-range:first-child {
    opacity: 0;
}

#cluster-colormap > .cluster-interval:nth-child(odd) span.interval-range:last-child {
    opacity: 1;
}

combo#cluster-preferences-combo > #container > button > label{
    text-transform: capitalize;
}

combo#cluster-preferences-combo > #container span.color-scheme-name{
    min-width: 110px;
    margin:auto;
}
</style>
