<div class="feedback-form">
	<section class="flexbox text-size-sm">
		<div style="width: 100%;">
			<div class="flexbox flex-align-center flex-1 toggle">
				<label>On-Site Observation</label>
			</div>
			<div class="flexbox flex-direction-vertical content">
				<div class="row">
					<div class="flex-2">
						<label class="text-size-sm">Observation Date/Time</label>
						<datetime ng-model="scope.properties.tstamp"></datetime>
					</div>
					<div class="flex-1 margin">
						<label class="text-size-sm">Method<span class="text-color-warning">*</span></label>
						<combo ng-model="scope.observation.observationMethod" options="option for option in scope.observation.methodOptions" placeholder="Method"></combo>
					</div>
				</div>
				<div class="row">
					<div class="flex-1">
						<label class="text-size-sm">Verified position</label>
						<coordinate label="Center" ng-model="scope.observation.geometry"></coordinate>
					</div>
				</div>
				<div class="row">
					<div class="flex-direction-vertical" style="width: 100%">
						<div class="flexbox flex-align-center flex-1 toggle">
							<toggle ng-model="scope.observation.active"></toggle>
							<label style="max-width: fit-content;">Observer (if other than the user logged in)</label>
						</div>
						<div ng-if="scope.observation.active" class="flexbox flex-direction-vertical content">
							<div class="row" style="width:100%;">
								<div class="flex-1">
									<label class="text-size-sm">Organisation</label>
									<input class="seg text-size-sm input-width" ng-model="scope.observation.organization" />
								</div>
								<div class="flex-1 margin">
									<label class="text-size-sm">Observer</label>
									<input class="seg text-size-sm input-width" ng-model="scope.observation.observer" />
								</div>
								<div class="flex-1 margin">
									<label class="text-size-sm">Country</label>
									<input class="seg text-size-sm input-width" ng-model="scope.observation.country" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="flex-1">
						<label class="text-size-sm">Report type<span class="text-color-warning">*</span></label>
						<combo ng-model="scope.observation.type" options="option for option in scope.observation.typeOptions" ng-change="scope.observation.functions.updateSubTypeOptions()"></combo>
					</div>
					<div class="flex-1 margin">
						<div ng-if="scope.observation.type === 'Other substance confirmed'">
							<label class="text-size-sm">Phenomena type<span class="text-color-warning">*</span></label>
							<combo ng-model="scope.observation.subtype" options="option for option in scope.observation.subTypeOptions"></combo>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="flex-direction-vertical" style="width: 100%">
						<div class="flexbox flex-align-center flex-1 toggle">
							<toggle ng-model="scope.observation.parameters"></toggle>
							<label style="max-width: fit-content;">Parameters</label>
						</div>
						<div ng-if="scope.observation.parameters" class="flexbox flex-direction-vertical content">
							<div class="row">
								<div class="flex-1">
									<label class="text-size-sm">Verified Width ({{ getDistanceUnits() }})</label>
									<input class="seg text-size-sm input-width" title="{{getDistanceUnits()}} will be converted to m" ng-model="scope.observation.width" />
								</div>
								<div class="flex-1 margin">
									<label class="margin text-size-sm">Verified Length ({{ getDistanceUnits() }})</label>
									<input class="seg text-size-sm input-width" title="{{getDistanceUnits()}} will be converted to m" ng-model="scope.observation.length" />
								</div>
								<div class="flex-1 margin">
									<label class="margin text-size-sm">Verified Area ({{ getAreaUnits() }})</label>
									<input class="seg text-size-sm input-width" title="{{getAreaUnits()}} will be converted to m2" ng-model="scope.observation.area" />
								</div>
							</div>
							<div class="row" style="max-width: 66%;">
								<div class="flex-1">
									<label class="margin text-size-sm">Verified Thickness</label>
									<input class="seg text-size-sm input-width" ng-model="scope.observation.thick" />
								</div>
								<div class="flex-1 margin">
									<label class="margin text-size-sm">Thickness Estimation Method</label>
									<input class="seg text-size-sm input-width" ng-model="scope.observation.thickmethod" />
								</div>
							</div>
							<div class="row" style="max-width: 66%;">
								<div class="flex-1">
									<label class="margin text-size-sm">Verified Volume</label>
									<input class="seg text-size-sm input-width" ng-model="scope.observation.volume" />
								</div>
								<div class="flex-1 margin">
									<label class="margin text-size-sm">BAOAC</label>
									<input class="seg text-size-sm input-width" ng-model="scope.observation.baoac" />
								</div>
							</div>
							<div class="row">
								<div class="flex-1">
									<label class="margin text-size-sm">Additional Information</label>
									<textarea style="width: 100%;" class="seg text-size-sm" ng-model="scope.observation.additionalInformation"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
</div>