@import '~sass/mixins';
@import '~sass/helpers';
@import '~sass/variables';

seg-measure-toolbar {
  @extend .ui-shadow;
  @extend .border-radius-outer;

  /*width: 132px */
  font-size: 0px;
  white-space: nowrap;

  button.measure-tool {
    display: inline-block;
    border-right: 1px solid rgba(158, 168, 175, 0.2);
  }

  button.measure-tool.first {
    border-right: 1px solid #909090;
  }
}
  