<button title="Fixed range rings" class="seg primary-reverse border-left-radius-outer lg measure-tool" (click)="drawMeasureFixedRings()">
	<icon svg-file="rings">R</icon>
</button>
<button title="Bearing measure" class="seg primary-reverse lg measure-tool" (click)="drawMeasureBearingCircle()">
	<icon svg-file="bearing">B</icon>
</button>
<button title="Bearing compass" class="seg primary-reverse lg measure-tool" (click)="drawMeasureCompass()">
	<icon svg-file="compass">C</icon>
</button>
<button title="Distance measure" class="seg primary-reverse lg measure-tool border-top-right-radius-outer border-bottom-right-radius-outer" (click)="drawMeasureLine()">
	<icon svg-file="ruler">R</icon>
</button>