<div id="container" on-click-outside="open = false">
	<button class="flex-1 primary rounded" (click)="open = !open" ng-style="model.length && {'border-radius': '4px 4px 0 0'}">
		<label class="ng-binding">{{label}}</label>
		<icon svg-file="chevron-down"></icon>
	</button>
	<div *ngIf="model.length" id="results" class="ui-shadow border-radius-inner flex-1" scrollable>
		<span class="margin border-radius-inner text-size-sm" *ngFor="let option of model" (click)="removeValue(option.name)">
			<strong>X</strong><label class="margin">{{ getLabel(option.name) }}</label>
		</span>
	</div>
	<ul *ngIf="open" scrollable class="ui-shadow border-radius-inner">
		<li *ngFor="let option of options">
      <checkbox [(model)]="option.selected" (click)="getSelectedOptions()"></checkbox>
      <label><span class="flex-1">{{option.name}}, {{option.selected}}</span></label>
			<!--<label><span class="flex-1">{{option.name | cut:false:15}}</span></label>-->
		</li>
	</ul>
</div>