<window>
	<window-title>
		<label class="flex-1">Alerts</label>
		<button class="seg primary round sm" (click)="close()">
			<icon svg-file="close"></icon>
		</button>
	</window-title>
	<window-content>
		<ul class="seg normal-alerts-container" scrollable>
			<li class="alerts-item" *ngFor="let item of getAlerts()">
				<label class="text-size-sm" (click)="item.callback(); remove(item); close();">
						{{item.label}}
				</label>
				<button class="seg primary round xs" (click)="remove(item);">
					<icon svg-file="close"></icon>
				</button>
			</li>
		</ul>
	</window-content>
</window>
